CSharp/SchedulingClients/Service References/MapServiceReference/map.xsd

<?xml version="1.0" encoding="utf-8"?>
<xs:schema xmlns:tns="http://schemas.datacontract.org/2004/07/SchedulingServices" elementFormDefault="qualified" targetNamespace="http://schemas.datacontract.org/2004/07/SchedulingServices" xmlns:xs="http://www.w3.org/2001/XMLSchema">
  <xs:import schemaLocation="http://127.0.0.1:41916/map.svc?xsd=xsd3" namespace="http://schemas.datacontract.org/2004/07/Mapping.Roadmaps" />
  <xs:complexType name="ArrayOfNodeData">
    <xs:sequence>
      <xs:element minOccurs="0" maxOccurs="unbounded" name="NodeData" nillable="true" type="tns:NodeData" />
    </xs:sequence>
  </xs:complexType>
  <xs:element name="ArrayOfNodeData" nillable="true" type="tns:ArrayOfNodeData" />
  <xs:complexType name="NodeData">
    <xs:sequence>
      <xs:element minOccurs="0" name="Alias" nillable="true" type="xs:string" />
      <xs:element minOccurs="0" name="HeadingRad" type="xs:double" />
      <xs:element minOccurs="0" name="MapItemId" type="xs:int" />
      <xs:element xmlns:q1="http://schemas.datacontract.org/2004/07/Mapping.Roadmaps" minOccurs="0" name="Services" nillable="true" type="q1:ArrayOfServiceType" />
      <xs:element minOccurs="0" name="X" type="xs:double" />
      <xs:element minOccurs="0" name="Y" type="xs:double" />
    </xs:sequence>
  </xs:complexType>
  <xs:element name="NodeData" nillable="true" type="tns:NodeData" />
</xs:schema>