CSharp/SchedulingClients/Service References/MapServiceReference/map2.xsd

<?xml version="1.0" encoding="utf-8"?>
<xs:schema xmlns:tns="http://schemas.datacontract.org/2004/07/System" elementFormDefault="qualified" targetNamespace="http://schemas.datacontract.org/2004/07/System" xmlns:xs="http://www.w3.org/2001/XMLSchema">
  <xs:import schemaLocation="http://127.0.0.1:41926/map.svc?xsd=xsd3" namespace="http://schemas.datacontract.org/2004/07/SchedulingServices.Maps" />
  <xs:import schemaLocation="http://127.0.0.1:41926/map.svc?xsd=xsd4" namespace="http://schemas.datacontract.org/2004/07/Services" />
  <xs:import schemaLocation="http://127.0.0.1:41926/map.svc?xsd=xsd6" namespace="http://schemas.datacontract.org/2004/07/SchedulingServices" />
  <xs:complexType name="TupleOfArrayOfParameterDataServiceCallDataklve_P4e_S">
    <xs:annotation>
      <xs:appinfo>
        <GenericType Name="TupleOf{0}{1}{#}" Namespace="http://schemas.datacontract.org/2004/07/System" xmlns="http://schemas.microsoft.com/2003/10/Serialization/">
          <GenericParameter Name="ArrayOfParameterData" Namespace="http://schemas.datacontract.org/2004/07/SchedulingServices.Maps" />
          <GenericParameter Name="ServiceCallData" Namespace="http://schemas.datacontract.org/2004/07/Services" />
        </GenericType>
      </xs:appinfo>
    </xs:annotation>
    <xs:sequence>
      <xs:element xmlns:q1="http://schemas.datacontract.org/2004/07/SchedulingServices.Maps" name="m_Item1" nillable="true" type="q1:ArrayOfParameterData" />
      <xs:element xmlns:q2="http://schemas.datacontract.org/2004/07/Services" name="m_Item2" nillable="true" type="q2:ServiceCallData" />
    </xs:sequence>
  </xs:complexType>
  <xs:element name="TupleOfArrayOfParameterDataServiceCallDataklve_P4e_S" nillable="true" type="tns:TupleOfArrayOfParameterDataServiceCallDataklve_P4e_S" />
  <xs:complexType name="TupleOfArrayOfMoveDataServiceCallDataklve_P4e_S">
    <xs:annotation>
      <xs:appinfo>
        <GenericType Name="TupleOf{0}{1}{#}" Namespace="http://schemas.datacontract.org/2004/07/System" xmlns="http://schemas.microsoft.com/2003/10/Serialization/">
          <GenericParameter Name="ArrayOfMoveData" Namespace="http://schemas.datacontract.org/2004/07/SchedulingServices.Maps" />
          <GenericParameter Name="ServiceCallData" Namespace="http://schemas.datacontract.org/2004/07/Services" />
        </GenericType>
      </xs:appinfo>
    </xs:annotation>
    <xs:sequence>
      <xs:element xmlns:q3="http://schemas.datacontract.org/2004/07/SchedulingServices.Maps" name="m_Item1" nillable="true" type="q3:ArrayOfMoveData" />
      <xs:element xmlns:q4="http://schemas.datacontract.org/2004/07/Services" name="m_Item2" nillable="true" type="q4:ServiceCallData" />
    </xs:sequence>
  </xs:complexType>
  <xs:element name="TupleOfArrayOfMoveDataServiceCallDataklve_P4e_S" nillable="true" type="tns:TupleOfArrayOfMoveDataServiceCallDataklve_P4e_S" />
  <xs:complexType name="TupleOfArrayOfNodeDataServiceCallDataklve_P4e_S">
    <xs:annotation>
      <xs:appinfo>
        <GenericType Name="TupleOf{0}{1}{#}" Namespace="http://schemas.datacontract.org/2004/07/System" xmlns="http://schemas.microsoft.com/2003/10/Serialization/">
          <GenericParameter Name="ArrayOfNodeData" Namespace="http://schemas.datacontract.org/2004/07/SchedulingServices.Maps" />
          <GenericParameter Name="ServiceCallData" Namespace="http://schemas.datacontract.org/2004/07/Services" />
        </GenericType>
      </xs:appinfo>
    </xs:annotation>
    <xs:sequence>
      <xs:element xmlns:q5="http://schemas.datacontract.org/2004/07/SchedulingServices.Maps" name="m_Item1" nillable="true" type="q5:ArrayOfNodeData" />
      <xs:element xmlns:q6="http://schemas.datacontract.org/2004/07/Services" name="m_Item2" nillable="true" type="q6:ServiceCallData" />
    </xs:sequence>
  </xs:complexType>
  <xs:element name="TupleOfArrayOfNodeDataServiceCallDataklve_P4e_S" nillable="true" type="tns:TupleOfArrayOfNodeDataServiceCallDataklve_P4e_S" />
  <xs:complexType name="TupleOfArrayOfWaypointDataServiceCallDatazDQi_Syxv">
    <xs:annotation>
      <xs:appinfo>
        <GenericType Name="TupleOf{0}{1}{#}" Namespace="http://schemas.datacontract.org/2004/07/System" xmlns="http://schemas.microsoft.com/2003/10/Serialization/">
          <GenericParameter Name="ArrayOfWaypointData" Namespace="http://schemas.datacontract.org/2004/07/SchedulingServices" />
          <GenericParameter Name="ServiceCallData" Namespace="http://schemas.datacontract.org/2004/07/Services" />
        </GenericType>
      </xs:appinfo>
    </xs:annotation>
    <xs:sequence>
      <xs:element xmlns:q7="http://schemas.datacontract.org/2004/07/SchedulingServices" name="m_Item1" nillable="true" type="q7:ArrayOfWaypointData" />
      <xs:element xmlns:q8="http://schemas.datacontract.org/2004/07/Services" name="m_Item2" nillable="true" type="q8:ServiceCallData" />
    </xs:sequence>
  </xs:complexType>
  <xs:element name="TupleOfArrayOfWaypointDataServiceCallDatazDQi_Syxv" nillable="true" type="tns:TupleOfArrayOfWaypointDataServiceCallDatazDQi_Syxv" />
  <xs:complexType name="TupleOfbooleanServiceCallDatayG81JSvh">
    <xs:annotation>
      <xs:appinfo>
        <GenericType Name="TupleOf{0}{1}{#}" Namespace="http://schemas.datacontract.org/2004/07/System" xmlns="http://schemas.microsoft.com/2003/10/Serialization/">
          <GenericParameter Name="boolean" Namespace="http://www.w3.org/2001/XMLSchema" />
          <GenericParameter Name="ServiceCallData" Namespace="http://schemas.datacontract.org/2004/07/Services" />
        </GenericType>
      </xs:appinfo>
    </xs:annotation>
    <xs:sequence>
      <xs:element name="m_Item1" type="xs:boolean" />
      <xs:element xmlns:q9="http://schemas.datacontract.org/2004/07/Services" name="m_Item2" nillable="true" type="q9:ServiceCallData" />
    </xs:sequence>
  </xs:complexType>
  <xs:element name="TupleOfbooleanServiceCallDatayG81JSvh" nillable="true" type="tns:TupleOfbooleanServiceCallDatayG81JSvh" />
</xs:schema>