CSharp/SchedulingClients/Service References/MapServiceReference/map5.xsd

<?xml version="1.0" encoding="utf-8"?>
<xs:schema xmlns:tns="http://schemas.datacontract.org/2004/07/SchedulingServices" elementFormDefault="qualified" targetNamespace="http://schemas.datacontract.org/2004/07/SchedulingServices" xmlns:xs="http://www.w3.org/2001/XMLSchema">
  <xs:complexType name="ArrayOfWaypointData">
    <xs:sequence>
      <xs:element minOccurs="0" maxOccurs="unbounded" name="WaypointData" nillable="true" type="tns:WaypointData" />
    </xs:sequence>
  </xs:complexType>
  <xs:element name="ArrayOfWaypointData" nillable="true" type="tns:ArrayOfWaypointData" />
  <xs:complexType name="WaypointData">
    <xs:sequence>
      <xs:element minOccurs="0" name="HeadingRad" type="xs:double" />
      <xs:element minOccurs="0" name="Id" type="xs:int" />
      <xs:element minOccurs="0" name="X" type="xs:double" />
      <xs:element minOccurs="0" name="Y" type="xs:double" />
    </xs:sequence>
  </xs:complexType>
  <xs:element name="WaypointData" nillable="true" type="tns:WaypointData" />
</xs:schema>