CSharp/SchedulingClients/Service References/MapServiceReference/MapService.wsdl

<?xml version="1.0" encoding="utf-8"?>
<wsdl:definitions xmlns:wsap="http://schemas.xmlsoap.org/ws/2004/08/addressing/policy" xmlns:wsa10="http://www.w3.org/2005/08/addressing" xmlns:tns="http://tempuri.org/" xmlns:msc="http://schemas.microsoft.com/ws/2005/12/wsdl/contract" xmlns:soapenc="http://schemas.xmlsoap.org/soap/encoding/" xmlns:wsx="http://schemas.xmlsoap.org/ws/2004/09/mex" xmlns:wsp="http://schemas.xmlsoap.org/ws/2004/09/policy" xmlns:wsam="http://www.w3.org/2007/05/addressing/metadata" xmlns:wsa="http://schemas.xmlsoap.org/ws/2004/08/addressing" xmlns:wsaw="http://www.w3.org/2006/05/addressing/wsdl" xmlns:soap="http://schemas.xmlsoap.org/wsdl/soap/" xmlns:soap12="http://schemas.xmlsoap.org/wsdl/soap12/" xmlns:wsu="http://docs.oasis-open.org/wss/2004/01/oasis-200401-wss-wssecurity-utility-1.0.xsd" xmlns:xsd="http://www.w3.org/2001/XMLSchema" name="MapService" targetNamespace="http://tempuri.org/" xmlns:wsdl="http://schemas.xmlsoap.org/wsdl/">
  <wsp:Policy wsu:Id="NetTcpBinding_IMapService_policy">
    <wsp:ExactlyOne>
      <wsp:All>
        <msb:BinaryEncoding xmlns:msb="http://schemas.microsoft.com/ws/06/2004/mspolicy/netbinary1" />
        <wsaw:UsingAddressing />
      </wsp:All>
    </wsp:ExactlyOne>
  </wsp:Policy>
  <wsp:Policy wsu:Id="WSDualHttpBinding_IMapService_policy">
    <wsp:ExactlyOne>
      <wsp:All>
        <wsrm:RMAssertion xmlns:wsrm="http://schemas.xmlsoap.org/ws/2005/02/rm/policy">
          <wsrm:InactivityTimeout Milliseconds="600000" />
          <wsrm:AcknowledgementInterval Milliseconds="200" />
        </wsrm:RMAssertion>
        <cdp:CompositeDuplex xmlns:cdp="http://schemas.microsoft.com/net/2006/06/duplex" />
        <ow:OneWay xmlns:ow="http://schemas.microsoft.com/ws/2005/05/routing/policy" />
        <wsaw:UsingAddressing />
      </wsp:All>
    </wsp:ExactlyOne>
  </wsp:Policy>
  <wsdl:types>
    <xsd:schema targetNamespace="http://tempuri.org/Imports">
      <xsd:import schemaLocation="http://127.0.0.1:41916/map.svc?xsd=xsd0" namespace="http://tempuri.org/" />
      <xsd:import schemaLocation="http://127.0.0.1:41916/map.svc?xsd=xsd1" namespace="http://schemas.microsoft.com/2003/10/Serialization/" />
      <xsd:import schemaLocation="http://127.0.0.1:41916/map.svc?xsd=xsd2" namespace="http://schemas.datacontract.org/2004/07/System" />
      <xsd:import schemaLocation="http://127.0.0.1:41916/map.svc?xsd=xsd3" namespace="http://schemas.datacontract.org/2004/07/SchedulingServices" />
      <xsd:import schemaLocation="http://127.0.0.1:41916/map.svc?xsd=xsd4" namespace="http://schemas.datacontract.org/2004/07/Services" />
      <xsd:import schemaLocation="http://127.0.0.1:41916/map.svc?xsd=xsd5" namespace="http://schemas.datacontract.org/2004/07/Mapping" />
    </xsd:schema>
  </wsdl:types>
  <wsdl:message name="IMapService_GetAllMoveData_InputMessage">
    <wsdl:part name="parameters" element="tns:GetAllMoveData" />
  </wsdl:message>
  <wsdl:message name="IMapService_GetAllMoveData_OutputMessage">
    <wsdl:part name="parameters" element="tns:GetAllMoveDataResponse" />
  </wsdl:message>
  <wsdl:message name="IMapService_GetAllNodeData_InputMessage">
    <wsdl:part name="parameters" element="tns:GetAllNodeData" />
  </wsdl:message>
  <wsdl:message name="IMapService_GetAllNodeData_OutputMessage">
    <wsdl:part name="parameters" element="tns:GetAllNodeDataResponse" />
  </wsdl:message>
  <wsdl:message name="IMapService_GetTrajectory_InputMessage">
    <wsdl:part name="parameters" element="tns:GetTrajectory" />
  </wsdl:message>
  <wsdl:message name="IMapService_GetTrajectory_OutputMessage">
    <wsdl:part name="parameters" element="tns:GetTrajectoryResponse" />
  </wsdl:message>
  <wsdl:portType name="IMapService">
    <wsdl:operation name="GetAllMoveData">
      <wsdl:input wsaw:Action="http://tempuri.org/IMapService/GetAllMoveData" message="tns:IMapService_GetAllMoveData_InputMessage" />
      <wsdl:output wsaw:Action="http://tempuri.org/IMapService/GetAllMoveDataResponse" message="tns:IMapService_GetAllMoveData_OutputMessage" />
    </wsdl:operation>
    <wsdl:operation name="GetAllNodeData">
      <wsdl:input wsaw:Action="http://tempuri.org/IMapService/GetAllNodeData" message="tns:IMapService_GetAllNodeData_InputMessage" />
      <wsdl:output wsaw:Action="http://tempuri.org/IMapService/GetAllNodeDataResponse" message="tns:IMapService_GetAllNodeData_OutputMessage" />
    </wsdl:operation>
    <wsdl:operation name="GetTrajectory">
      <wsdl:input wsaw:Action="http://tempuri.org/IMapService/GetTrajectory" message="tns:IMapService_GetTrajectory_InputMessage" />
      <wsdl:output wsaw:Action="http://tempuri.org/IMapService/GetTrajectoryResponse" message="tns:IMapService_GetTrajectory_OutputMessage" />
    </wsdl:operation>
  </wsdl:portType>
  <wsdl:binding name="NetTcpBinding_IMapService" type="tns:IMapService">
    <wsp:PolicyReference URI="#NetTcpBinding_IMapService_policy" />
    <soap12:binding transport="http://schemas.microsoft.com/soap/tcp" />
    <wsdl:operation name="GetAllMoveData">
      <soap12:operation soapAction="http://tempuri.org/IMapService/GetAllMoveData" style="document" />
      <wsdl:input>
        <soap12:body use="literal" />
      </wsdl:input>
      <wsdl:output>
        <soap12:body use="literal" />
      </wsdl:output>
    </wsdl:operation>
    <wsdl:operation name="GetAllNodeData">
      <soap12:operation soapAction="http://tempuri.org/IMapService/GetAllNodeData" style="document" />
      <wsdl:input>
        <soap12:body use="literal" />
      </wsdl:input>
      <wsdl:output>
        <soap12:body use="literal" />
      </wsdl:output>
    </wsdl:operation>
    <wsdl:operation name="GetTrajectory">
      <soap12:operation soapAction="http://tempuri.org/IMapService/GetTrajectory" style="document" />
      <wsdl:input>
        <soap12:body use="literal" />
      </wsdl:input>
      <wsdl:output>
        <soap12:body use="literal" />
      </wsdl:output>
    </wsdl:operation>
  </wsdl:binding>
  <wsdl:binding name="WSDualHttpBinding_IMapService" type="tns:IMapService">
    <wsp:PolicyReference URI="#WSDualHttpBinding_IMapService_policy" />
    <soap12:binding transport="http://schemas.xmlsoap.org/soap/http" />
    <wsdl:operation name="GetAllMoveData">
      <soap12:operation soapAction="http://tempuri.org/IMapService/GetAllMoveData" style="document" />
      <wsdl:input>
        <soap12:body use="literal" />
      </wsdl:input>
      <wsdl:output>
        <soap12:body use="literal" />
      </wsdl:output>
    </wsdl:operation>
    <wsdl:operation name="GetAllNodeData">
      <soap12:operation soapAction="http://tempuri.org/IMapService/GetAllNodeData" style="document" />
      <wsdl:input>
        <soap12:body use="literal" />
      </wsdl:input>
      <wsdl:output>
        <soap12:body use="literal" />
      </wsdl:output>
    </wsdl:operation>
    <wsdl:operation name="GetTrajectory">
      <soap12:operation soapAction="http://tempuri.org/IMapService/GetTrajectory" style="document" />
      <wsdl:input>
        <soap12:body use="literal" />
      </wsdl:input>
      <wsdl:output>
        <soap12:body use="literal" />
      </wsdl:output>
    </wsdl:operation>
  </wsdl:binding>
  <wsdl:service name="MapService">
    <wsdl:port name="NetTcpBinding_IMapService" binding="tns:NetTcpBinding_IMapService">
      <soap12:address location="net.tcp://127.0.0.1:41917/map.svc" />
      <wsa10:EndpointReference>
        <wsa10:Address>net.tcp://127.0.0.1:41917/map.svc</wsa10:Address>
      </wsa10:EndpointReference>
    </wsdl:port>
    <wsdl:port name="WSDualHttpBinding_IMapService" binding="tns:WSDualHttpBinding_IMapService">
      <soap12:address location="http://127.0.0.1:41916/map.svc" />
      <wsa10:EndpointReference>
        <wsa10:Address>http://127.0.0.1:41916/map.svc</wsa10:Address>
      </wsa10:EndpointReference>
    </wsdl:port>
  </wsdl:service>
</wsdl:definitions>