src/SchedulingClients/Service References/AgentServiceReference/agent5.xsd

<?xml version="1.0" encoding="utf-8"?>
<xs:schema xmlns:tns="http://tempuri.org/" elementFormDefault="qualified" targetNamespace="http://tempuri.org/" xmlns:xs="http://www.w3.org/2001/XMLSchema">
  <xs:import schemaLocation="http://127.0.0.1:41916/agent.svc?xsd=xsd2" namespace="http://schemas.datacontract.org/2004/07/System" />
  <xs:import schemaLocation="http://127.0.0.1:41916/agent.svc?xsd=xsd6" namespace="http://schemas.datacontract.org/2004/07/Scheduling.Core" />
  <xs:element name="GetSemVer">
    <xs:complexType>
      <xs:sequence />
    </xs:complexType>
  </xs:element>
  <xs:element name="GetSemVerResponse">
    <xs:complexType>
      <xs:sequence>
        <xs:element xmlns:q1="http://schemas.datacontract.org/2004/07/System" minOccurs="0" name="GetSemVerResult" nillable="true" type="q1:TupleOfSemVerDataServiceCallData20ExA2_SX" />
      </xs:sequence>
    </xs:complexType>
  </xs:element>
  <xs:element name="GetAllAgentData">
    <xs:complexType>
      <xs:sequence />
    </xs:complexType>
  </xs:element>
  <xs:element name="GetAllAgentDataResponse">
    <xs:complexType>
      <xs:sequence>
        <xs:element xmlns:q2="http://schemas.datacontract.org/2004/07/System" minOccurs="0" name="GetAllAgentDataResult" nillable="true" type="q2:TupleOfArrayOfAgentDataServiceCallDatamvMP2t26" />
      </xs:sequence>
    </xs:complexType>
  </xs:element>
  <xs:element name="GetAllAgentsInLifetimeState">
    <xs:complexType>
      <xs:sequence>
        <xs:element xmlns:q3="http://schemas.datacontract.org/2004/07/Scheduling.Core" minOccurs="0" name="agentLifetimeState" type="q3:AgentLifetimeState" />
      </xs:sequence>
    </xs:complexType>
  </xs:element>
  <xs:element name="GetAllAgentsInLifetimeStateResponse">
    <xs:complexType>
      <xs:sequence>
        <xs:element xmlns:q4="http://schemas.datacontract.org/2004/07/System" minOccurs="0" name="GetAllAgentsInLifetimeStateResult" nillable="true" type="q4:TupleOfArrayOfAgentDataServiceCallDatamvMP2t26" />
      </xs:sequence>
    </xs:complexType>
  </xs:element>
  <xs:element name="SetAgentLifetimeState">
    <xs:complexType>
      <xs:sequence>
        <xs:element minOccurs="0" name="agentId" type="xs:int" />
        <xs:element xmlns:q5="http://schemas.datacontract.org/2004/07/Scheduling.Core" minOccurs="0" name="desiredState" type="q5:AgentLifetimeState" />
      </xs:sequence>
    </xs:complexType>
  </xs:element>
  <xs:element name="SetAgentLifetimeStateResponse">
    <xs:complexType>
      <xs:sequence>
        <xs:element xmlns:q6="http://schemas.datacontract.org/2004/07/System" minOccurs="0" name="SetAgentLifetimeStateResult" nillable="true" type="q6:TupleOfbooleanServiceCallDatayG81JSvh" />
      </xs:sequence>
    </xs:complexType>
  </xs:element>
</xs:schema>