docfx_project/src/SchedulingClients/Service References/AgentStatecastServiceReference/agentStatecast4.xsd

<?xml version="1.0" encoding="utf-8"?>
<xs:schema xmlns:tns="http://schemas.datacontract.org/2004/07/Scheduling.Services.Agents" elementFormDefault="qualified" targetNamespace="http://schemas.datacontract.org/2004/07/Scheduling.Services.Agents" xmlns:xs="http://www.w3.org/2001/XMLSchema">
  <xs:complexType name="ArrayOfStateCastVariableDefinitionData">
    <xs:sequence>
      <xs:element minOccurs="0" maxOccurs="unbounded" name="StateCastVariableDefinitionData" nillable="true" type="tns:StateCastVariableDefinitionData" />
    </xs:sequence>
  </xs:complexType>
  <xs:element name="ArrayOfStateCastVariableDefinitionData" nillable="true" type="tns:ArrayOfStateCastVariableDefinitionData" />
  <xs:complexType name="StateCastVariableDefinitionData">
    <xs:sequence>
      <xs:element minOccurs="0" name="Alias" nillable="true" type="xs:string" />
      <xs:element minOccurs="0" name="DataType" nillable="true" type="xs:string" />
    </xs:sequence>
  </xs:complexType>
  <xs:element name="StateCastVariableDefinitionData" nillable="true" type="tns:StateCastVariableDefinitionData" />
</xs:schema>