src/SchedulingClients.Core/Service References/JobsStateServiceReference/JobsStateService.wsdl

<?xml version="1.0" encoding="utf-8"?>
<wsdl:definitions xmlns:wsap="http://schemas.xmlsoap.org/ws/2004/08/addressing/policy" xmlns:wsa10="http://www.w3.org/2005/08/addressing" xmlns:tns="http://tempuri.org/" xmlns:msc="http://schemas.microsoft.com/ws/2005/12/wsdl/contract" xmlns:soapenc="http://schemas.xmlsoap.org/soap/encoding/" xmlns:wsx="http://schemas.xmlsoap.org/ws/2004/09/mex" xmlns:wsp="http://schemas.xmlsoap.org/ws/2004/09/policy" xmlns:wsam="http://www.w3.org/2007/05/addressing/metadata" xmlns:wsa="http://schemas.xmlsoap.org/ws/2004/08/addressing" xmlns:wsaw="http://www.w3.org/2006/05/addressing/wsdl" xmlns:soap="http://schemas.xmlsoap.org/wsdl/soap/" xmlns:soap12="http://schemas.xmlsoap.org/wsdl/soap12/" xmlns:wsu="http://docs.oasis-open.org/wss/2004/01/oasis-200401-wss-wssecurity-utility-1.0.xsd" xmlns:xsd="http://www.w3.org/2001/XMLSchema" name="JobsStateService" targetNamespace="http://tempuri.org/" xmlns:wsdl="http://schemas.xmlsoap.org/wsdl/">
  <wsp:Policy wsu:Id="NetTcpBinding_IJobsStateService_policy">
    <wsp:ExactlyOne>
      <wsp:All>
        <msb:BinaryEncoding xmlns:msb="http://schemas.microsoft.com/ws/06/2004/mspolicy/netbinary1" />
        <wsaw:UsingAddressing />
      </wsp:All>
    </wsp:ExactlyOne>
  </wsp:Policy>
  <wsp:Policy wsu:Id="WSDualHttpBinding_IJobsStateService_policy">
    <wsp:ExactlyOne>
      <wsp:All>
        <wsrm:RMAssertion xmlns:wsrm="http://schemas.xmlsoap.org/ws/2005/02/rm/policy">
          <wsrm:InactivityTimeout Milliseconds="600000" />
          <wsrm:AcknowledgementInterval Milliseconds="200" />
        </wsrm:RMAssertion>
        <cdp:CompositeDuplex xmlns:cdp="http://schemas.microsoft.com/net/2006/06/duplex" />
        <ow:OneWay xmlns:ow="http://schemas.microsoft.com/ws/2005/05/routing/policy" />
        <wsaw:UsingAddressing />
      </wsp:All>
    </wsp:ExactlyOne>
  </wsp:Policy>
  <wsp:Policy wsu:Id="NetNamedPipeBinding_IJobsStateService_policy">
    <wsp:ExactlyOne>
      <wsp:All>
        <msb:BinaryEncoding xmlns:msb="http://schemas.microsoft.com/ws/06/2004/mspolicy/netbinary1" />
        <sp:TransportBinding xmlns:sp="http://schemas.xmlsoap.org/ws/2005/07/securitypolicy">
          <wsp:Policy>
            <sp:TransportToken>
              <wsp:Policy>
                <msf:WindowsTransportSecurity xmlns:msf="http://schemas.microsoft.com/ws/2006/05/framing/policy">
                  <msf:ProtectionLevel>EncryptAndSign</msf:ProtectionLevel>
                </msf:WindowsTransportSecurity>
              </wsp:Policy>
            </sp:TransportToken>
            <sp:AlgorithmSuite>
              <wsp:Policy>
                <sp:Basic256 />
              </wsp:Policy>
            </sp:AlgorithmSuite>
            <sp:Layout>
              <wsp:Policy>
                <sp:Strict />
              </wsp:Policy>
            </sp:Layout>
          </wsp:Policy>
        </sp:TransportBinding>
        <wsaw:UsingAddressing />
      </wsp:All>
    </wsp:ExactlyOne>
  </wsp:Policy>
  <wsdl:types>
    <xsd:schema targetNamespace="http://tempuri.org/Imports">
      <xsd:import schemaLocation="http://127.0.0.1:41916/jobsState.svc?xsd=xsd0" namespace="http://tempuri.org/" />
      <xsd:import schemaLocation="http://127.0.0.1:41916/jobsState.svc?xsd=xsd1" namespace="http://schemas.microsoft.com/2003/10/Serialization/" />
      <xsd:import schemaLocation="http://127.0.0.1:41916/jobsState.svc?xsd=xsd2" namespace="http://schemas.datacontract.org/2004/07/GAAPICommon.Core.Dtos" />
      <xsd:import schemaLocation="http://127.0.0.1:41916/jobsState.svc?xsd=xsd3" namespace="http://schemas.microsoft.com/2003/10/Serialization/Arrays" />
      <xsd:import schemaLocation="http://127.0.0.1:41916/jobsState.svc?xsd=xsd4" namespace="http://schemas.datacontract.org/2004/07/Scheduling.Services.Jobs.Dtos" />
    </xsd:schema>
  </wsdl:types>
  <wsdl:message name="IJobsStateService_GetAPISemVer_InputMessage">
    <wsdl:part name="parameters" element="tns:GetAPISemVer" />
  </wsdl:message>
  <wsdl:message name="IJobsStateService_GetAPISemVer_OutputMessage">
    <wsdl:part name="parameters" element="tns:GetAPISemVerResponse" />
  </wsdl:message>
  <wsdl:message name="IJobsStateService_SubscriptionHeartbeat_InputMessage">
    <wsdl:part name="parameters" element="tns:SubscriptionHeartbeat" />
  </wsdl:message>
  <wsdl:message name="IJobsStateService_SubscriptionHeartbeat_OutputMessage">
    <wsdl:part name="parameters" element="tns:SubscriptionHeartbeatResponse" />
  </wsdl:message>
  <wsdl:message name="IJobsStateService_AbortAllJobs_InputMessage">
    <wsdl:part name="parameters" element="tns:AbortAllJobs" />
  </wsdl:message>
  <wsdl:message name="IJobsStateService_AbortAllJobs_OutputMessage">
    <wsdl:part name="parameters" element="tns:AbortAllJobsResponse" />
  </wsdl:message>
  <wsdl:message name="IJobsStateService_AbortAllJobsForAgent_InputMessage">
    <wsdl:part name="parameters" element="tns:AbortAllJobsForAgent" />
  </wsdl:message>
  <wsdl:message name="IJobsStateService_AbortAllJobsForAgent_OutputMessage">
    <wsdl:part name="parameters" element="tns:AbortAllJobsForAgentResponse" />
  </wsdl:message>
  <wsdl:message name="IJobsStateService_AbortJob_InputMessage">
    <wsdl:part name="parameters" element="tns:AbortJob" />
  </wsdl:message>
  <wsdl:message name="IJobsStateService_AbortJob_OutputMessage">
    <wsdl:part name="parameters" element="tns:AbortJobResponse" />
  </wsdl:message>
  <wsdl:message name="IJobsStateService_AbortTask_InputMessage">
    <wsdl:part name="parameters" element="tns:AbortTask" />
  </wsdl:message>
  <wsdl:message name="IJobsStateService_AbortTask_OutputMessage">
    <wsdl:part name="parameters" element="tns:AbortTaskResponse" />
  </wsdl:message>
  <wsdl:message name="IJobsStateService_GetActiveJobIdsForAgent_InputMessage">
    <wsdl:part name="parameters" element="tns:GetActiveJobIdsForAgent" />
  </wsdl:message>
  <wsdl:message name="IJobsStateService_GetActiveJobIdsForAgent_OutputMessage">
    <wsdl:part name="parameters" element="tns:GetActiveJobIdsForAgentResponse" />
  </wsdl:message>
  <wsdl:message name="IJobsStateService_OnCallback_OutputCallbackMessage">
    <wsdl:part name="parameters" element="tns:OnCallback" />
  </wsdl:message>
  <wsdl:message name="IJobsStateService_OnCallback_InputCallbackMessage">
    <wsdl:part name="parameters" element="tns:OnCallbackResponse" />
  </wsdl:message>
  <wsdl:portType name="IJobsStateService">
    <wsdl:operation name="GetAPISemVer">
      <wsdl:input wsaw:Action="http://tempuri.org/IService/GetAPISemVer" message="tns:IJobsStateService_GetAPISemVer_InputMessage" />
      <wsdl:output wsaw:Action="http://tempuri.org/IService/GetAPISemVerResponse" message="tns:IJobsStateService_GetAPISemVer_OutputMessage" />
    </wsdl:operation>
    <wsdl:operation name="SubscriptionHeartbeat">
      <wsdl:input wsaw:Action="http://tempuri.org/ISubscriptionService/SubscriptionHeartbeat" message="tns:IJobsStateService_SubscriptionHeartbeat_InputMessage" />
      <wsdl:output wsaw:Action="http://tempuri.org/ISubscriptionService/SubscriptionHeartbeatResponse" message="tns:IJobsStateService_SubscriptionHeartbeat_OutputMessage" />
    </wsdl:operation>
    <wsdl:operation name="AbortAllJobs">
      <wsdl:input wsaw:Action="http://tempuri.org/IJobsStateService/AbortAllJobs" message="tns:IJobsStateService_AbortAllJobs_InputMessage" />
      <wsdl:output wsaw:Action="http://tempuri.org/IJobsStateService/AbortAllJobsResponse" message="tns:IJobsStateService_AbortAllJobs_OutputMessage" />
    </wsdl:operation>
    <wsdl:operation name="AbortAllJobsForAgent">
      <wsdl:input wsaw:Action="http://tempuri.org/IJobsStateService/AbortAllJobsForAgent" message="tns:IJobsStateService_AbortAllJobsForAgent_InputMessage" />
      <wsdl:output wsaw:Action="http://tempuri.org/IJobsStateService/AbortAllJobsForAgentResponse" message="tns:IJobsStateService_AbortAllJobsForAgent_OutputMessage" />
    </wsdl:operation>
    <wsdl:operation name="AbortJob">
      <wsdl:input wsaw:Action="http://tempuri.org/IJobsStateService/AbortJob" message="tns:IJobsStateService_AbortJob_InputMessage" />
      <wsdl:output wsaw:Action="http://tempuri.org/IJobsStateService/AbortJobResponse" message="tns:IJobsStateService_AbortJob_OutputMessage" />
    </wsdl:operation>
    <wsdl:operation name="AbortTask">
      <wsdl:input wsaw:Action="http://tempuri.org/IJobsStateService/AbortTask" message="tns:IJobsStateService_AbortTask_InputMessage" />
      <wsdl:output wsaw:Action="http://tempuri.org/IJobsStateService/AbortTaskResponse" message="tns:IJobsStateService_AbortTask_OutputMessage" />
    </wsdl:operation>
    <wsdl:operation name="GetActiveJobIdsForAgent">
      <wsdl:input wsaw:Action="http://tempuri.org/IJobsStateService/GetActiveJobIdsForAgent" message="tns:IJobsStateService_GetActiveJobIdsForAgent_InputMessage" />
      <wsdl:output wsaw:Action="http://tempuri.org/IJobsStateService/GetActiveJobIdsForAgentResponse" message="tns:IJobsStateService_GetActiveJobIdsForAgent_OutputMessage" />
    </wsdl:operation>
    <wsdl:operation name="OnCallback">
      <wsdl:output wsaw:Action="http://tempuri.org/IJobsStateService/OnCallback" message="tns:IJobsStateService_OnCallback_OutputCallbackMessage" />
      <wsdl:input wsaw:Action="http://tempuri.org/IJobsStateService/OnCallbackResponse" message="tns:IJobsStateService_OnCallback_InputCallbackMessage" />
    </wsdl:operation>
  </wsdl:portType>
  <wsdl:binding name="NetTcpBinding_IJobsStateService" type="tns:IJobsStateService">
    <wsp:PolicyReference URI="#NetTcpBinding_IJobsStateService_policy" />
    <soap12:binding transport="http://schemas.microsoft.com/soap/tcp" />
    <wsdl:operation name="GetAPISemVer">
      <soap12:operation soapAction="http://tempuri.org/IService/GetAPISemVer" style="document" />
      <wsdl:input>
        <soap12:body use="literal" />
      </wsdl:input>
      <wsdl:output>
        <soap12:body use="literal" />
      </wsdl:output>
    </wsdl:operation>
    <wsdl:operation name="SubscriptionHeartbeat">
      <soap12:operation soapAction="http://tempuri.org/ISubscriptionService/SubscriptionHeartbeat" style="document" />
      <wsdl:input>
        <soap12:body use="literal" />
      </wsdl:input>
      <wsdl:output>
        <soap12:body use="literal" />
      </wsdl:output>
    </wsdl:operation>
    <wsdl:operation name="AbortAllJobs">
      <soap12:operation soapAction="http://tempuri.org/IJobsStateService/AbortAllJobs" style="document" />
      <wsdl:input>
        <soap12:body use="literal" />
      </wsdl:input>
      <wsdl:output>
        <soap12:body use="literal" />
      </wsdl:output>
    </wsdl:operation>
    <wsdl:operation name="AbortAllJobsForAgent">
      <soap12:operation soapAction="http://tempuri.org/IJobsStateService/AbortAllJobsForAgent" style="document" />
      <wsdl:input>
        <soap12:body use="literal" />
      </wsdl:input>
      <wsdl:output>
        <soap12:body use="literal" />
      </wsdl:output>
    </wsdl:operation>
    <wsdl:operation name="AbortJob">
      <soap12:operation soapAction="http://tempuri.org/IJobsStateService/AbortJob" style="document" />
      <wsdl:input>
        <soap12:body use="literal" />
      </wsdl:input>
      <wsdl:output>
        <soap12:body use="literal" />
      </wsdl:output>
    </wsdl:operation>
    <wsdl:operation name="AbortTask">
      <soap12:operation soapAction="http://tempuri.org/IJobsStateService/AbortTask" style="document" />
      <wsdl:input>
        <soap12:body use="literal" />
      </wsdl:input>
      <wsdl:output>
        <soap12:body use="literal" />
      </wsdl:output>
    </wsdl:operation>
    <wsdl:operation name="GetActiveJobIdsForAgent">
      <soap12:operation soapAction="http://tempuri.org/IJobsStateService/GetActiveJobIdsForAgent" style="document" />
      <wsdl:input>
        <soap12:body use="literal" />
      </wsdl:input>
      <wsdl:output>
        <soap12:body use="literal" />
      </wsdl:output>
    </wsdl:operation>
    <wsdl:operation name="OnCallback">
      <soap12:operation soapAction="http://tempuri.org/IJobsStateService/OnCallback" style="document" />
      <wsdl:input>
        <soap12:body use="literal" />
      </wsdl:input>
      <wsdl:output>
        <soap12:body use="literal" />
      </wsdl:output>
    </wsdl:operation>
  </wsdl:binding>
  <wsdl:binding name="WSDualHttpBinding_IJobsStateService" type="tns:IJobsStateService">
    <wsp:PolicyReference URI="#WSDualHttpBinding_IJobsStateService_policy" />
    <soap12:binding transport="http://schemas.xmlsoap.org/soap/http" />
    <wsdl:operation name="GetAPISemVer">
      <soap12:operation soapAction="http://tempuri.org/IService/GetAPISemVer" style="document" />
      <wsdl:input>
        <soap12:body use="literal" />
      </wsdl:input>
      <wsdl:output>
        <soap12:body use="literal" />
      </wsdl:output>
    </wsdl:operation>
    <wsdl:operation name="SubscriptionHeartbeat">
      <soap12:operation soapAction="http://tempuri.org/ISubscriptionService/SubscriptionHeartbeat" style="document" />
      <wsdl:input>
        <soap12:body use="literal" />
      </wsdl:input>
      <wsdl:output>
        <soap12:body use="literal" />
      </wsdl:output>
    </wsdl:operation>
    <wsdl:operation name="AbortAllJobs">
      <soap12:operation soapAction="http://tempuri.org/IJobsStateService/AbortAllJobs" style="document" />
      <wsdl:input>
        <soap12:body use="literal" />
      </wsdl:input>
      <wsdl:output>
        <soap12:body use="literal" />
      </wsdl:output>
    </wsdl:operation>
    <wsdl:operation name="AbortAllJobsForAgent">
      <soap12:operation soapAction="http://tempuri.org/IJobsStateService/AbortAllJobsForAgent" style="document" />
      <wsdl:input>
        <soap12:body use="literal" />
      </wsdl:input>
      <wsdl:output>
        <soap12:body use="literal" />
      </wsdl:output>
    </wsdl:operation>
    <wsdl:operation name="AbortJob">
      <soap12:operation soapAction="http://tempuri.org/IJobsStateService/AbortJob" style="document" />
      <wsdl:input>
        <soap12:body use="literal" />
      </wsdl:input>
      <wsdl:output>
        <soap12:body use="literal" />
      </wsdl:output>
    </wsdl:operation>
    <wsdl:operation name="AbortTask">
      <soap12:operation soapAction="http://tempuri.org/IJobsStateService/AbortTask" style="document" />
      <wsdl:input>
        <soap12:body use="literal" />
      </wsdl:input>
      <wsdl:output>
        <soap12:body use="literal" />
      </wsdl:output>
    </wsdl:operation>
    <wsdl:operation name="GetActiveJobIdsForAgent">
      <soap12:operation soapAction="http://tempuri.org/IJobsStateService/GetActiveJobIdsForAgent" style="document" />
      <wsdl:input>
        <soap12:body use="literal" />
      </wsdl:input>
      <wsdl:output>
        <soap12:body use="literal" />
      </wsdl:output>
    </wsdl:operation>
    <wsdl:operation name="OnCallback">
      <soap12:operation soapAction="http://tempuri.org/IJobsStateService/OnCallback" style="document" />
      <wsdl:input>
        <soap12:body use="literal" />
      </wsdl:input>
      <wsdl:output>
        <soap12:body use="literal" />
      </wsdl:output>
    </wsdl:operation>
  </wsdl:binding>
  <wsdl:binding name="NetNamedPipeBinding_IJobsStateService" type="tns:IJobsStateService">
    <wsp:PolicyReference URI="#NetNamedPipeBinding_IJobsStateService_policy" />
    <soap12:binding transport="http://schemas.microsoft.com/soap/named-pipe" />
    <wsdl:operation name="GetAPISemVer">
      <soap12:operation soapAction="http://tempuri.org/IService/GetAPISemVer" style="document" />
      <wsdl:input>
        <soap12:body use="literal" />
      </wsdl:input>
      <wsdl:output>
        <soap12:body use="literal" />
      </wsdl:output>
    </wsdl:operation>
    <wsdl:operation name="SubscriptionHeartbeat">
      <soap12:operation soapAction="http://tempuri.org/ISubscriptionService/SubscriptionHeartbeat" style="document" />
      <wsdl:input>
        <soap12:body use="literal" />
      </wsdl:input>
      <wsdl:output>
        <soap12:body use="literal" />
      </wsdl:output>
    </wsdl:operation>
    <wsdl:operation name="AbortAllJobs">
      <soap12:operation soapAction="http://tempuri.org/IJobsStateService/AbortAllJobs" style="document" />
      <wsdl:input>
        <soap12:body use="literal" />
      </wsdl:input>
      <wsdl:output>
        <soap12:body use="literal" />
      </wsdl:output>
    </wsdl:operation>
    <wsdl:operation name="AbortAllJobsForAgent">
      <soap12:operation soapAction="http://tempuri.org/IJobsStateService/AbortAllJobsForAgent" style="document" />
      <wsdl:input>
        <soap12:body use="literal" />
      </wsdl:input>
      <wsdl:output>
        <soap12:body use="literal" />
      </wsdl:output>
    </wsdl:operation>
    <wsdl:operation name="AbortJob">
      <soap12:operation soapAction="http://tempuri.org/IJobsStateService/AbortJob" style="document" />
      <wsdl:input>
        <soap12:body use="literal" />
      </wsdl:input>
      <wsdl:output>
        <soap12:body use="literal" />
      </wsdl:output>
    </wsdl:operation>
    <wsdl:operation name="AbortTask">
      <soap12:operation soapAction="http://tempuri.org/IJobsStateService/AbortTask" style="document" />
      <wsdl:input>
        <soap12:body use="literal" />
      </wsdl:input>
      <wsdl:output>
        <soap12:body use="literal" />
      </wsdl:output>
    </wsdl:operation>
    <wsdl:operation name="GetActiveJobIdsForAgent">
      <soap12:operation soapAction="http://tempuri.org/IJobsStateService/GetActiveJobIdsForAgent" style="document" />
      <wsdl:input>
        <soap12:body use="literal" />
      </wsdl:input>
      <wsdl:output>
        <soap12:body use="literal" />
      </wsdl:output>
    </wsdl:operation>
    <wsdl:operation name="OnCallback">
      <soap12:operation soapAction="http://tempuri.org/IJobsStateService/OnCallback" style="document" />
      <wsdl:input>
        <soap12:body use="literal" />
      </wsdl:input>
      <wsdl:output>
        <soap12:body use="literal" />
      </wsdl:output>
    </wsdl:operation>
  </wsdl:binding>
  <wsdl:service name="JobsStateService">
    <wsdl:port name="NetTcpBinding_IJobsStateService" binding="tns:NetTcpBinding_IJobsStateService">
      <soap12:address location="net.tcp://127.0.0.1:41917/jobsState.svc" />
      <wsa10:EndpointReference>
        <wsa10:Address>net.tcp://127.0.0.1:41917/jobsState.svc</wsa10:Address>
      </wsa10:EndpointReference>
    </wsdl:port>
    <wsdl:port name="WSDualHttpBinding_IJobsStateService" binding="tns:WSDualHttpBinding_IJobsStateService">
      <soap12:address location="http://127.0.0.1:41916/jobsState.svc" />
      <wsa10:EndpointReference>
        <wsa10:Address>http://127.0.0.1:41916/jobsState.svc</wsa10:Address>
      </wsa10:EndpointReference>
    </wsdl:port>
    <wsdl:port name="NetNamedPipeBinding_IJobsStateService" binding="tns:NetNamedPipeBinding_IJobsStateService">
      <soap12:address location="net.pipe://localhost/jobsState.svc" />
      <wsa10:EndpointReference>
        <wsa10:Address>net.pipe://localhost/jobsState.svc</wsa10:Address>
        <Identity xmlns="http://schemas.xmlsoap.org/ws/2006/02/addressingidentity">
          <Upn>martin.davies@automation1.com</Upn>
        </Identity>
      </wsa10:EndpointReference>
    </wsdl:port>
  </wsdl:service>
</wsdl:definitions>