src/SchedulingClients/Service References/AgentBatteryStatusServiceReference/agentBatteryStatus4.xsd

<?xml version="1.0" encoding="utf-8"?>
<xs:schema xmlns:tns="http://tempuri.org/" elementFormDefault="qualified" targetNamespace="http://tempuri.org/" xmlns:xs="http://www.w3.org/2001/XMLSchema">
  <xs:import schemaLocation="http://127.0.0.1:41916/agentBatteryStatus.svc?xsd=xsd2" namespace="http://schemas.datacontract.org/2004/07/System" />
  <xs:element name="GetSemVer">
    <xs:complexType>
      <xs:sequence />
    </xs:complexType>
  </xs:element>
  <xs:element name="GetSemVerResponse">
    <xs:complexType>
      <xs:sequence>
        <xs:element xmlns:q1="http://schemas.datacontract.org/2004/07/System" minOccurs="0" name="GetSemVerResult" nillable="true" type="q1:TupleOfSemVerDataServiceCallData20ExA2_SX" />
      </xs:sequence>
    </xs:complexType>
  </xs:element>
  <xs:element name="GetAllAgentBatteryStatusData">
    <xs:complexType>
      <xs:sequence />
    </xs:complexType>
  </xs:element>
  <xs:element name="GetAllAgentBatteryStatusDataResponse">
    <xs:complexType>
      <xs:sequence>
        <xs:element xmlns:q2="http://schemas.datacontract.org/2004/07/System" minOccurs="0" name="GetAllAgentBatteryStatusDataResult" nillable="true" type="q2:TupleOfArrayOfAgentBatteryStatusDataServiceCallDatamvMP2t26" />
      </xs:sequence>
    </xs:complexType>
  </xs:element>
</xs:schema>