src/SchedulingClients/Service References/MapServiceReference/map1.xsd

<?xml version="1.0" encoding="utf-8"?>
<xs:schema xmlns:tns="http://schemas.datacontract.org/2004/07/Scheduling.Services.Maps" elementFormDefault="qualified" targetNamespace="http://schemas.datacontract.org/2004/07/Scheduling.Services.Maps" xmlns:xs="http://www.w3.org/2001/XMLSchema">
  <xs:complexType name="ArrayOfParameterDto">
    <xs:sequence>
      <xs:element minOccurs="0" maxOccurs="unbounded" name="ParameterDto" nillable="true" type="tns:ParameterDto" />
    </xs:sequence>
  </xs:complexType>
  <xs:element name="ArrayOfParameterDto" nillable="true" type="tns:ArrayOfParameterDto" />
  <xs:complexType name="ParameterDto">
    <xs:sequence>
      <xs:element minOccurs="0" name="AGVType" type="xs:int" />
      <xs:element minOccurs="0" name="Alias" nillable="true" type="xs:string" />
      <xs:element minOccurs="0" name="DataType" nillable="true" type="xs:string" />
      <xs:element minOccurs="0" name="ParameterId" type="xs:int" />
    </xs:sequence>
  </xs:complexType>
  <xs:element name="ParameterDto" nillable="true" type="tns:ParameterDto" />
</xs:schema>