CSharp/SchedulingClients/Service References/JobBuilderServiceReference/JobBuilderService1.wsdl

<?xml version="1.0" encoding="utf-8"?>
<wsdl:definitions xmlns:wsap="http://schemas.xmlsoap.org/ws/2004/08/addressing/policy" xmlns:wsa10="http://www.w3.org/2005/08/addressing" xmlns:tns="http://tempuri.org/" xmlns:msc="http://schemas.microsoft.com/ws/2005/12/wsdl/contract" xmlns:soapenc="http://schemas.xmlsoap.org/soap/encoding/" xmlns:wsx="http://schemas.xmlsoap.org/ws/2004/09/mex" xmlns:wsp="http://schemas.xmlsoap.org/ws/2004/09/policy" xmlns:wsam="http://www.w3.org/2007/05/addressing/metadata" xmlns:wsa="http://schemas.xmlsoap.org/ws/2004/08/addressing" xmlns:wsaw="http://www.w3.org/2006/05/addressing/wsdl" xmlns:soap="http://schemas.xmlsoap.org/wsdl/soap/" xmlns:soap12="http://schemas.xmlsoap.org/wsdl/soap12/" xmlns:wsu="http://docs.oasis-open.org/wss/2004/01/oasis-200401-wss-wssecurity-utility-1.0.xsd" xmlns:xsd="http://www.w3.org/2001/XMLSchema" name="JobBuilderService" targetNamespace="http://tempuri.org/" xmlns:wsdl="http://schemas.xmlsoap.org/wsdl/">
  <wsp:Policy wsu:Id="NetTcpBinding_IJobBuilderService_policy">
    <wsp:ExactlyOne>
      <wsp:All>
        <msb:BinaryEncoding xmlns:msb="http://schemas.microsoft.com/ws/06/2004/mspolicy/netbinary1" />
        <wsaw:UsingAddressing />
      </wsp:All>
    </wsp:ExactlyOne>
  </wsp:Policy>
  <wsp:Policy wsu:Id="WSDualHttpBinding_IJobBuilderService_policy">
    <wsp:ExactlyOne>
      <wsp:All>
        <wsrm:RMAssertion xmlns:wsrm="http://schemas.xmlsoap.org/ws/2005/02/rm/policy">
          <wsrm:InactivityTimeout Milliseconds="600000" />
          <wsrm:AcknowledgementInterval Milliseconds="200" />
        </wsrm:RMAssertion>
        <cdp:CompositeDuplex xmlns:cdp="http://schemas.microsoft.com/net/2006/06/duplex" />
        <ow:OneWay xmlns:ow="http://schemas.microsoft.com/ws/2005/05/routing/policy" />
        <wsaw:UsingAddressing />
      </wsp:All>
    </wsp:ExactlyOne>
  </wsp:Policy>
  <wsdl:types>
    <xsd:schema targetNamespace="http://tempuri.org/Imports">
      <xsd:import schemaLocation="http://127.0.0.1:41916/jobBuilder.svc?xsd=xsd0" namespace="http://tempuri.org/" />
      <xsd:import schemaLocation="http://127.0.0.1:41916/jobBuilder.svc?xsd=xsd1" namespace="http://schemas.microsoft.com/2003/10/Serialization/" />
      <xsd:import schemaLocation="http://127.0.0.1:41916/jobBuilder.svc?xsd=xsd2" namespace="http://schemas.datacontract.org/2004/07/System" />
      <xsd:import schemaLocation="http://127.0.0.1:41916/jobBuilder.svc?xsd=xsd3" namespace="http://schemas.datacontract.org/2004/07/Services" />
      <xsd:import schemaLocation="http://127.0.0.1:41916/jobBuilder.svc?xsd=xsd4" namespace="http://schemas.datacontract.org/2004/07/SchedulingServices" />
      <xsd:import schemaLocation="http://127.0.0.1:41916/jobBuilder.svc?xsd=xsd5" namespace="http://schemas.datacontract.org/2004/07/Mapping" />
      <xsd:import schemaLocation="http://127.0.0.1:41916/jobBuilder.svc?xsd=xsd6" namespace="http://schemas.datacontract.org/2004/07/System.Net" />
      <xsd:import schemaLocation="http://127.0.0.1:41916/jobBuilder.svc?xsd=xsd7" namespace="http://schemas.datacontract.org/2004/07/System.Net.Sockets" />
      <xsd:import schemaLocation="http://127.0.0.1:41916/jobBuilder.svc?xsd=xsd8" namespace="http://schemas.microsoft.com/2003/10/Serialization/Arrays" />
    </xsd:schema>
  </wsdl:types>
  <wsdl:message name="IJobBuilderService_CommitJob_InputMessage">
    <wsdl:part name="parameters" element="tns:CommitJob" />
  </wsdl:message>
  <wsdl:message name="IJobBuilderService_CommitJob_OutputMessage">
    <wsdl:part name="parameters" element="tns:CommitJobResponse" />
  </wsdl:message>
  <wsdl:message name="IJobBuilderService_CreateJob_InputMessage">
    <wsdl:part name="parameters" element="tns:CreateJob" />
  </wsdl:message>
  <wsdl:message name="IJobBuilderService_CreateJob_OutputMessage">
    <wsdl:part name="parameters" element="tns:CreateJobResponse" />
  </wsdl:message>
  <wsdl:message name="IJobBuilderService_CreateListTask_InputMessage">
    <wsdl:part name="parameters" element="tns:CreateListTask" />
  </wsdl:message>
  <wsdl:message name="IJobBuilderService_CreateListTask_OutputMessage">
    <wsdl:part name="parameters" element="tns:CreateListTaskResponse" />
  </wsdl:message>
  <wsdl:message name="IJobBuilderService_CreateServicingTask_InputMessage">
    <wsdl:part name="parameters" element="tns:CreateServicingTask" />
  </wsdl:message>
  <wsdl:message name="IJobBuilderService_CreateServicingTask_OutputMessage">
    <wsdl:part name="parameters" element="tns:CreateServicingTaskResponse" />
  </wsdl:message>
  <wsdl:message name="IJobBuilderService_IssueEnumDirective_InputMessage">
    <wsdl:part name="parameters" element="tns:IssueEnumDirective" />
  </wsdl:message>
  <wsdl:message name="IJobBuilderService_IssueEnumDirective_OutputMessage">
    <wsdl:part name="parameters" element="tns:IssueEnumDirectiveResponse" />
  </wsdl:message>
  <wsdl:message name="IJobBuilderService_IssueShortDirective_InputMessage">
    <wsdl:part name="parameters" element="tns:IssueShortDirective" />
  </wsdl:message>
  <wsdl:message name="IJobBuilderService_IssueShortDirective_OutputMessage">
    <wsdl:part name="parameters" element="tns:IssueShortDirectiveResponse" />
  </wsdl:message>
  <wsdl:message name="IJobBuilderService_IssueUShortDirective_InputMessage">
    <wsdl:part name="parameters" element="tns:IssueUShortDirective" />
  </wsdl:message>
  <wsdl:message name="IJobBuilderService_IssueUShortDirective_OutputMessage">
    <wsdl:part name="parameters" element="tns:IssueUShortDirectiveResponse" />
  </wsdl:message>
  <wsdl:message name="IJobBuilderService_IssueFloatDirective_InputMessage">
    <wsdl:part name="parameters" element="tns:IssueFloatDirective" />
  </wsdl:message>
  <wsdl:message name="IJobBuilderService_IssueFloatDirective_OutputMessage">
    <wsdl:part name="parameters" element="tns:IssueFloatDirectiveResponse" />
  </wsdl:message>
  <wsdl:message name="IJobBuilderService_IssueIPAddressDirective_InputMessage">
    <wsdl:part name="parameters" element="tns:IssueIPAddressDirective" />
  </wsdl:message>
  <wsdl:message name="IJobBuilderService_IssueIPAddressDirective_OutputMessage">
    <wsdl:part name="parameters" element="tns:IssueIPAddressDirectiveResponse" />
  </wsdl:message>
  <wsdl:portType name="IJobBuilderService">
    <wsdl:operation name="CommitJob">
      <wsdl:input wsaw:Action="http://tempuri.org/IJobBuilderService/CommitJob" message="tns:IJobBuilderService_CommitJob_InputMessage" />
      <wsdl:output wsaw:Action="http://tempuri.org/IJobBuilderService/CommitJobResponse" message="tns:IJobBuilderService_CommitJob_OutputMessage" />
    </wsdl:operation>
    <wsdl:operation name="CreateJob">
      <wsdl:input wsaw:Action="http://tempuri.org/IJobBuilderService/CreateJob" message="tns:IJobBuilderService_CreateJob_InputMessage" />
      <wsdl:output wsaw:Action="http://tempuri.org/IJobBuilderService/CreateJobResponse" message="tns:IJobBuilderService_CreateJob_OutputMessage" />
    </wsdl:operation>
    <wsdl:operation name="CreateListTask">
      <wsdl:input wsaw:Action="http://tempuri.org/IJobBuilderService/CreateListTask" message="tns:IJobBuilderService_CreateListTask_InputMessage" />
      <wsdl:output wsaw:Action="http://tempuri.org/IJobBuilderService/CreateListTaskResponse" message="tns:IJobBuilderService_CreateListTask_OutputMessage" />
    </wsdl:operation>
    <wsdl:operation name="CreateServicingTask">
      <wsdl:input wsaw:Action="http://tempuri.org/IJobBuilderService/CreateServicingTask" message="tns:IJobBuilderService_CreateServicingTask_InputMessage" />
      <wsdl:output wsaw:Action="http://tempuri.org/IJobBuilderService/CreateServicingTaskResponse" message="tns:IJobBuilderService_CreateServicingTask_OutputMessage" />
    </wsdl:operation>
    <wsdl:operation name="IssueEnumDirective">
      <wsdl:input wsaw:Action="http://tempuri.org/IJobBuilderService/IssueEnumDirective" message="tns:IJobBuilderService_IssueEnumDirective_InputMessage" />
      <wsdl:output wsaw:Action="http://tempuri.org/IJobBuilderService/IssueEnumDirectiveResponse" message="tns:IJobBuilderService_IssueEnumDirective_OutputMessage" />
    </wsdl:operation>
    <wsdl:operation name="IssueShortDirective">
      <wsdl:input wsaw:Action="http://tempuri.org/IJobBuilderService/IssueShortDirective" message="tns:IJobBuilderService_IssueShortDirective_InputMessage" />
      <wsdl:output wsaw:Action="http://tempuri.org/IJobBuilderService/IssueShortDirectiveResponse" message="tns:IJobBuilderService_IssueShortDirective_OutputMessage" />
    </wsdl:operation>
    <wsdl:operation name="IssueUShortDirective">
      <wsdl:input wsaw:Action="http://tempuri.org/IJobBuilderService/IssueUShortDirective" message="tns:IJobBuilderService_IssueUShortDirective_InputMessage" />
      <wsdl:output wsaw:Action="http://tempuri.org/IJobBuilderService/IssueUShortDirectiveResponse" message="tns:IJobBuilderService_IssueUShortDirective_OutputMessage" />
    </wsdl:operation>
    <wsdl:operation name="IssueFloatDirective">
      <wsdl:input wsaw:Action="http://tempuri.org/IJobBuilderService/IssueFloatDirective" message="tns:IJobBuilderService_IssueFloatDirective_InputMessage" />
      <wsdl:output wsaw:Action="http://tempuri.org/IJobBuilderService/IssueFloatDirectiveResponse" message="tns:IJobBuilderService_IssueFloatDirective_OutputMessage" />
    </wsdl:operation>
    <wsdl:operation name="IssueIPAddressDirective">
      <wsdl:input wsaw:Action="http://tempuri.org/IJobBuilderService/IssueIPAddressDirective" message="tns:IJobBuilderService_IssueIPAddressDirective_InputMessage" />
      <wsdl:output wsaw:Action="http://tempuri.org/IJobBuilderService/IssueIPAddressDirectiveResponse" message="tns:IJobBuilderService_IssueIPAddressDirective_OutputMessage" />
    </wsdl:operation>
  </wsdl:portType>
  <wsdl:binding name="NetTcpBinding_IJobBuilderService" type="tns:IJobBuilderService">
    <wsp:PolicyReference URI="#NetTcpBinding_IJobBuilderService_policy" />
    <soap12:binding transport="http://schemas.microsoft.com/soap/tcp" />
    <wsdl:operation name="CommitJob">
      <soap12:operation soapAction="http://tempuri.org/IJobBuilderService/CommitJob" style="document" />
      <wsdl:input>
        <soap12:body use="literal" />
      </wsdl:input>
      <wsdl:output>
        <soap12:body use="literal" />
      </wsdl:output>
    </wsdl:operation>
    <wsdl:operation name="CreateJob">
      <soap12:operation soapAction="http://tempuri.org/IJobBuilderService/CreateJob" style="document" />
      <wsdl:input>
        <soap12:body use="literal" />
      </wsdl:input>
      <wsdl:output>
        <soap12:body use="literal" />
      </wsdl:output>
    </wsdl:operation>
    <wsdl:operation name="CreateListTask">
      <soap12:operation soapAction="http://tempuri.org/IJobBuilderService/CreateListTask" style="document" />
      <wsdl:input>
        <soap12:body use="literal" />
      </wsdl:input>
      <wsdl:output>
        <soap12:body use="literal" />
      </wsdl:output>
    </wsdl:operation>
    <wsdl:operation name="CreateServicingTask">
      <soap12:operation soapAction="http://tempuri.org/IJobBuilderService/CreateServicingTask" style="document" />
      <wsdl:input>
        <soap12:body use="literal" />
      </wsdl:input>
      <wsdl:output>
        <soap12:body use="literal" />
      </wsdl:output>
    </wsdl:operation>
    <wsdl:operation name="IssueEnumDirective">
      <soap12:operation soapAction="http://tempuri.org/IJobBuilderService/IssueEnumDirective" style="document" />
      <wsdl:input>
        <soap12:body use="literal" />
      </wsdl:input>
      <wsdl:output>
        <soap12:body use="literal" />
      </wsdl:output>
    </wsdl:operation>
    <wsdl:operation name="IssueShortDirective">
      <soap12:operation soapAction="http://tempuri.org/IJobBuilderService/IssueShortDirective" style="document" />
      <wsdl:input>
        <soap12:body use="literal" />
      </wsdl:input>
      <wsdl:output>
        <soap12:body use="literal" />
      </wsdl:output>
    </wsdl:operation>
    <wsdl:operation name="IssueUShortDirective">
      <soap12:operation soapAction="http://tempuri.org/IJobBuilderService/IssueUShortDirective" style="document" />
      <wsdl:input>
        <soap12:body use="literal" />
      </wsdl:input>
      <wsdl:output>
        <soap12:body use="literal" />
      </wsdl:output>
    </wsdl:operation>
    <wsdl:operation name="IssueFloatDirective">
      <soap12:operation soapAction="http://tempuri.org/IJobBuilderService/IssueFloatDirective" style="document" />
      <wsdl:input>
        <soap12:body use="literal" />
      </wsdl:input>
      <wsdl:output>
        <soap12:body use="literal" />
      </wsdl:output>
    </wsdl:operation>
    <wsdl:operation name="IssueIPAddressDirective">
      <soap12:operation soapAction="http://tempuri.org/IJobBuilderService/IssueIPAddressDirective" style="document" />
      <wsdl:input>
        <soap12:body use="literal" />
      </wsdl:input>
      <wsdl:output>
        <soap12:body use="literal" />
      </wsdl:output>
    </wsdl:operation>
  </wsdl:binding>
  <wsdl:binding name="WSDualHttpBinding_IJobBuilderService" type="tns:IJobBuilderService">
    <wsp:PolicyReference URI="#WSDualHttpBinding_IJobBuilderService_policy" />
    <soap12:binding transport="http://schemas.xmlsoap.org/soap/http" />
    <wsdl:operation name="CommitJob">
      <soap12:operation soapAction="http://tempuri.org/IJobBuilderService/CommitJob" style="document" />
      <wsdl:input>
        <soap12:body use="literal" />
      </wsdl:input>
      <wsdl:output>
        <soap12:body use="literal" />
      </wsdl:output>
    </wsdl:operation>
    <wsdl:operation name="CreateJob">
      <soap12:operation soapAction="http://tempuri.org/IJobBuilderService/CreateJob" style="document" />
      <wsdl:input>
        <soap12:body use="literal" />
      </wsdl:input>
      <wsdl:output>
        <soap12:body use="literal" />
      </wsdl:output>
    </wsdl:operation>
    <wsdl:operation name="CreateListTask">
      <soap12:operation soapAction="http://tempuri.org/IJobBuilderService/CreateListTask" style="document" />
      <wsdl:input>
        <soap12:body use="literal" />
      </wsdl:input>
      <wsdl:output>
        <soap12:body use="literal" />
      </wsdl:output>
    </wsdl:operation>
    <wsdl:operation name="CreateServicingTask">
      <soap12:operation soapAction="http://tempuri.org/IJobBuilderService/CreateServicingTask" style="document" />
      <wsdl:input>
        <soap12:body use="literal" />
      </wsdl:input>
      <wsdl:output>
        <soap12:body use="literal" />
      </wsdl:output>
    </wsdl:operation>
    <wsdl:operation name="IssueEnumDirective">
      <soap12:operation soapAction="http://tempuri.org/IJobBuilderService/IssueEnumDirective" style="document" />
      <wsdl:input>
        <soap12:body use="literal" />
      </wsdl:input>
      <wsdl:output>
        <soap12:body use="literal" />
      </wsdl:output>
    </wsdl:operation>
    <wsdl:operation name="IssueShortDirective">
      <soap12:operation soapAction="http://tempuri.org/IJobBuilderService/IssueShortDirective" style="document" />
      <wsdl:input>
        <soap12:body use="literal" />
      </wsdl:input>
      <wsdl:output>
        <soap12:body use="literal" />
      </wsdl:output>
    </wsdl:operation>
    <wsdl:operation name="IssueUShortDirective">
      <soap12:operation soapAction="http://tempuri.org/IJobBuilderService/IssueUShortDirective" style="document" />
      <wsdl:input>
        <soap12:body use="literal" />
      </wsdl:input>
      <wsdl:output>
        <soap12:body use="literal" />
      </wsdl:output>
    </wsdl:operation>
    <wsdl:operation name="IssueFloatDirective">
      <soap12:operation soapAction="http://tempuri.org/IJobBuilderService/IssueFloatDirective" style="document" />
      <wsdl:input>
        <soap12:body use="literal" />
      </wsdl:input>
      <wsdl:output>
        <soap12:body use="literal" />
      </wsdl:output>
    </wsdl:operation>
    <wsdl:operation name="IssueIPAddressDirective">
      <soap12:operation soapAction="http://tempuri.org/IJobBuilderService/IssueIPAddressDirective" style="document" />
      <wsdl:input>
        <soap12:body use="literal" />
      </wsdl:input>
      <wsdl:output>
        <soap12:body use="literal" />
      </wsdl:output>
    </wsdl:operation>
  </wsdl:binding>
  <wsdl:service name="JobBuilderService">
    <wsdl:port name="NetTcpBinding_IJobBuilderService" binding="tns:NetTcpBinding_IJobBuilderService">
      <soap12:address location="net.tcp://127.0.0.1:41917/jobBuilder.svc" />
      <wsa10:EndpointReference>
        <wsa10:Address>net.tcp://127.0.0.1:41917/jobBuilder.svc</wsa10:Address>
      </wsa10:EndpointReference>
    </wsdl:port>
    <wsdl:port name="WSDualHttpBinding_IJobBuilderService" binding="tns:WSDualHttpBinding_IJobBuilderService">
      <soap12:address location="http://127.0.0.1:41916/jobBuilder.svc" />
      <wsa10:EndpointReference>
        <wsa10:Address>http://127.0.0.1:41916/jobBuilder.svc</wsa10:Address>
      </wsa10:EndpointReference>
    </wsdl:port>
  </wsdl:service>
</wsdl:definitions>