CSharp/SchedulingClients/Service References/JobBuilderServiceReference/JobBuilderService1.wsdl

<?xml version="1.0" encoding="utf-8"?>
<wsdl:definitions xmlns:wsap="http://schemas.xmlsoap.org/ws/2004/08/addressing/policy" xmlns:wsa10="http://www.w3.org/2005/08/addressing" xmlns:tns="http://tempuri.org/" xmlns:msc="http://schemas.microsoft.com/ws/2005/12/wsdl/contract" xmlns:soapenc="http://schemas.xmlsoap.org/soap/encoding/" xmlns:wsx="http://schemas.xmlsoap.org/ws/2004/09/mex" xmlns:wsp="http://schemas.xmlsoap.org/ws/2004/09/policy" xmlns:wsam="http://www.w3.org/2007/05/addressing/metadata" xmlns:wsa="http://schemas.xmlsoap.org/ws/2004/08/addressing" xmlns:wsaw="http://www.w3.org/2006/05/addressing/wsdl" xmlns:soap="http://schemas.xmlsoap.org/wsdl/soap/" xmlns:soap12="http://schemas.xmlsoap.org/wsdl/soap12/" xmlns:wsu="http://docs.oasis-open.org/wss/2004/01/oasis-200401-wss-wssecurity-utility-1.0.xsd" xmlns:xsd="http://www.w3.org/2001/XMLSchema" name="JobBuilderService" targetNamespace="http://tempuri.org/" xmlns:wsdl="http://schemas.xmlsoap.org/wsdl/">
  <wsp:Policy wsu:Id="NetTcpBinding_IJobBuilderService_policy">
    <wsp:ExactlyOne>
      <wsp:All>
        <msb:BinaryEncoding xmlns:msb="http://schemas.microsoft.com/ws/06/2004/mspolicy/netbinary1" />
        <wsaw:UsingAddressing />
      </wsp:All>
    </wsp:ExactlyOne>
  </wsp:Policy>
  <wsp:Policy wsu:Id="WSDualHttpBinding_IJobBuilderService_policy">
    <wsp:ExactlyOne>
      <wsp:All>
        <wsrm:RMAssertion xmlns:wsrm="http://schemas.xmlsoap.org/ws/2005/02/rm/policy">
          <wsrm:InactivityTimeout Milliseconds="600000" />
          <wsrm:AcknowledgementInterval Milliseconds="200" />
        </wsrm:RMAssertion>
        <cdp:CompositeDuplex xmlns:cdp="http://schemas.microsoft.com/net/2006/06/duplex" />
        <ow:OneWay xmlns:ow="http://schemas.microsoft.com/ws/2005/05/routing/policy" />
        <wsaw:UsingAddressing />
      </wsp:All>
    </wsp:ExactlyOne>
  </wsp:Policy>
  <wsdl:types>
    <xsd:schema targetNamespace="http://tempuri.org/Imports">
      <xsd:import schemaLocation="http://127.0.0.1:41916/jobBuilder.svc?xsd=xsd0" namespace="http://tempuri.org/" />
      <xsd:import schemaLocation="http://127.0.0.1:41916/jobBuilder.svc?xsd=xsd1" namespace="http://schemas.microsoft.com/2003/10/Serialization/" />
      <xsd:import schemaLocation="http://127.0.0.1:41916/jobBuilder.svc?xsd=xsd2" namespace="http://schemas.datacontract.org/2004/07/Services" />
      <xsd:import schemaLocation="http://127.0.0.1:41916/jobBuilder.svc?xsd=xsd3" namespace="http://schemas.datacontract.org/2004/07/System" />
      <xsd:import schemaLocation="http://127.0.0.1:41916/jobBuilder.svc?xsd=xsd4" namespace="http://schemas.datacontract.org/2004/07/Scheduling.Services.Jobs" />
      <xsd:import schemaLocation="http://127.0.0.1:41916/jobBuilder.svc?xsd=xsd5" namespace="http://schemas.datacontract.org/2004/07/Mapping" />
      <xsd:import schemaLocation="http://127.0.0.1:41916/jobBuilder.svc?xsd=xsd6" namespace="http://schemas.datacontract.org/2004/07/System.Net" />
      <xsd:import schemaLocation="http://127.0.0.1:41916/jobBuilder.svc?xsd=xsd7" namespace="http://schemas.datacontract.org/2004/07/System.Net.Sockets" />
      <xsd:import schemaLocation="http://127.0.0.1:41916/jobBuilder.svc?xsd=xsd8" namespace="http://schemas.microsoft.com/2003/10/Serialization/Arrays" />
    </xsd:schema>
  </wsdl:types>
  <wsdl:message name="IJobBuilderService_VersionMajor_InputMessage">
    <wsdl:part name="parameters" element="tns:VersionMajor" />
  </wsdl:message>
  <wsdl:message name="IJobBuilderService_VersionMajor_OutputMessage">
    <wsdl:part name="parameters" element="tns:VersionMajorResponse" />
  </wsdl:message>
  <wsdl:message name="IJobBuilderService_VersionMinor_InputMessage">
    <wsdl:part name="parameters" element="tns:VersionMinor" />
  </wsdl:message>
  <wsdl:message name="IJobBuilderService_VersionMinor_OutputMessage">
    <wsdl:part name="parameters" element="tns:VersionMinorResponse" />
  </wsdl:message>
  <wsdl:message name="IJobBuilderService_VersionPatch_InputMessage">
    <wsdl:part name="parameters" element="tns:VersionPatch" />
  </wsdl:message>
  <wsdl:message name="IJobBuilderService_VersionPatch_OutputMessage">
    <wsdl:part name="parameters" element="tns:VersionPatchResponse" />
  </wsdl:message>
  <wsdl:message name="IJobBuilderService_BeginEditingJob_InputMessage">
    <wsdl:part name="parameters" element="tns:BeginEditingJob" />
  </wsdl:message>
  <wsdl:message name="IJobBuilderService_BeginEditingJob_OutputMessage">
    <wsdl:part name="parameters" element="tns:BeginEditingJobResponse" />
  </wsdl:message>
  <wsdl:message name="IJobBuilderService_BeginEditingTask_InputMessage">
    <wsdl:part name="parameters" element="tns:BeginEditingTask" />
  </wsdl:message>
  <wsdl:message name="IJobBuilderService_BeginEditingTask_OutputMessage">
    <wsdl:part name="parameters" element="tns:BeginEditingTaskResponse" />
  </wsdl:message>
  <wsdl:message name="IJobBuilderService_CommitJob_InputMessage">
    <wsdl:part name="parameters" element="tns:CommitJob" />
  </wsdl:message>
  <wsdl:message name="IJobBuilderService_CommitJob_OutputMessage">
    <wsdl:part name="parameters" element="tns:CommitJobResponse" />
  </wsdl:message>
  <wsdl:message name="IJobBuilderService_CreateJob_InputMessage">
    <wsdl:part name="parameters" element="tns:CreateJob" />
  </wsdl:message>
  <wsdl:message name="IJobBuilderService_CreateJob_OutputMessage">
    <wsdl:part name="parameters" element="tns:CreateJobResponse" />
  </wsdl:message>
  <wsdl:message name="IJobBuilderService_CreateMovingTask_InputMessage">
    <wsdl:part name="parameters" element="tns:CreateMovingTask" />
  </wsdl:message>
  <wsdl:message name="IJobBuilderService_CreateMovingTask_OutputMessage">
    <wsdl:part name="parameters" element="tns:CreateMovingTaskResponse" />
  </wsdl:message>
  <wsdl:message name="IJobBuilderService_CreateAwaitTask_InputMessage">
    <wsdl:part name="parameters" element="tns:CreateAwaitTask" />
  </wsdl:message>
  <wsdl:message name="IJobBuilderService_CreateAwaitTask_OutputMessage">
    <wsdl:part name="parameters" element="tns:CreateAwaitTaskResponse" />
  </wsdl:message>
  <wsdl:message name="IJobBuilderService_CreateOrderedListTask_InputMessage">
    <wsdl:part name="parameters" element="tns:CreateOrderedListTask" />
  </wsdl:message>
  <wsdl:message name="IJobBuilderService_CreateOrderedListTask_OutputMessage">
    <wsdl:part name="parameters" element="tns:CreateOrderedListTaskResponse" />
  </wsdl:message>
  <wsdl:message name="IJobBuilderService_CreatePipelinedTask_InputMessage">
    <wsdl:part name="parameters" element="tns:CreatePipelinedTask" />
  </wsdl:message>
  <wsdl:message name="IJobBuilderService_CreatePipelinedTask_OutputMessage">
    <wsdl:part name="parameters" element="tns:CreatePipelinedTaskResponse" />
  </wsdl:message>
  <wsdl:message name="IJobBuilderService_CreateServicingTask_InputMessage">
    <wsdl:part name="parameters" element="tns:CreateServicingTask" />
  </wsdl:message>
  <wsdl:message name="IJobBuilderService_CreateServicingTask_OutputMessage">
    <wsdl:part name="parameters" element="tns:CreateServicingTaskResponse" />
  </wsdl:message>
  <wsdl:message name="IJobBuilderService_CreateSleepingTask_InputMessage">
    <wsdl:part name="parameters" element="tns:CreateSleepingTask" />
  </wsdl:message>
  <wsdl:message name="IJobBuilderService_CreateSleepingTask_OutputMessage">
    <wsdl:part name="parameters" element="tns:CreateSleepingTaskResponse" />
  </wsdl:message>
  <wsdl:message name="IJobBuilderService_CreateUnorderedListTask_InputMessage">
    <wsdl:part name="parameters" element="tns:CreateUnorderedListTask" />
  </wsdl:message>
  <wsdl:message name="IJobBuilderService_CreateUnorderedListTask_OutputMessage">
    <wsdl:part name="parameters" element="tns:CreateUnorderedListTaskResponse" />
  </wsdl:message>
  <wsdl:message name="IJobBuilderService_FinaliseTask_InputMessage">
    <wsdl:part name="parameters" element="tns:FinaliseTask" />
  </wsdl:message>
  <wsdl:message name="IJobBuilderService_FinaliseTask_OutputMessage">
    <wsdl:part name="parameters" element="tns:FinaliseTaskResponse" />
  </wsdl:message>
  <wsdl:message name="IJobBuilderService_FinishEditingJob_InputMessage">
    <wsdl:part name="parameters" element="tns:FinishEditingJob" />
  </wsdl:message>
  <wsdl:message name="IJobBuilderService_FinishEditingJob_OutputMessage">
    <wsdl:part name="parameters" element="tns:FinishEditingJobResponse" />
  </wsdl:message>
  <wsdl:message name="IJobBuilderService_FinishEditingTask_InputMessage">
    <wsdl:part name="parameters" element="tns:FinishEditingTask" />
  </wsdl:message>
  <wsdl:message name="IJobBuilderService_FinishEditingTask_OutputMessage">
    <wsdl:part name="parameters" element="tns:FinishEditingTaskResponse" />
  </wsdl:message>
  <wsdl:message name="IJobBuilderService_IssueEnumDirective_InputMessage">
    <wsdl:part name="parameters" element="tns:IssueEnumDirective" />
  </wsdl:message>
  <wsdl:message name="IJobBuilderService_IssueEnumDirective_OutputMessage">
    <wsdl:part name="parameters" element="tns:IssueEnumDirectiveResponse" />
  </wsdl:message>
  <wsdl:message name="IJobBuilderService_IssueFloatDirective_InputMessage">
    <wsdl:part name="parameters" element="tns:IssueFloatDirective" />
  </wsdl:message>
  <wsdl:message name="IJobBuilderService_IssueFloatDirective_OutputMessage">
    <wsdl:part name="parameters" element="tns:IssueFloatDirectiveResponse" />
  </wsdl:message>
  <wsdl:message name="IJobBuilderService_IssueIPAddressDirective_InputMessage">
    <wsdl:part name="parameters" element="tns:IssueIPAddressDirective" />
  </wsdl:message>
  <wsdl:message name="IJobBuilderService_IssueIPAddressDirective_OutputMessage">
    <wsdl:part name="parameters" element="tns:IssueIPAddressDirectiveResponse" />
  </wsdl:message>
  <wsdl:message name="IJobBuilderService_IssueShortDirective_InputMessage">
    <wsdl:part name="parameters" element="tns:IssueShortDirective" />
  </wsdl:message>
  <wsdl:message name="IJobBuilderService_IssueShortDirective_OutputMessage">
    <wsdl:part name="parameters" element="tns:IssueShortDirectiveResponse" />
  </wsdl:message>
  <wsdl:message name="IJobBuilderService_IssueUShortDirective_InputMessage">
    <wsdl:part name="parameters" element="tns:IssueUShortDirective" />
  </wsdl:message>
  <wsdl:message name="IJobBuilderService_IssueUShortDirective_OutputMessage">
    <wsdl:part name="parameters" element="tns:IssueUShortDirectiveResponse" />
  </wsdl:message>
  <wsdl:portType name="IJobBuilderService">
    <wsdl:operation name="VersionMajor">
      <wsdl:input wsaw:Action="http://tempuri.org/IService/VersionMajor" message="tns:IJobBuilderService_VersionMajor_InputMessage" />
      <wsdl:output wsaw:Action="http://tempuri.org/IService/VersionMajorResponse" message="tns:IJobBuilderService_VersionMajor_OutputMessage" />
    </wsdl:operation>
    <wsdl:operation name="VersionMinor">
      <wsdl:input wsaw:Action="http://tempuri.org/IService/VersionMinor" message="tns:IJobBuilderService_VersionMinor_InputMessage" />
      <wsdl:output wsaw:Action="http://tempuri.org/IService/VersionMinorResponse" message="tns:IJobBuilderService_VersionMinor_OutputMessage" />
    </wsdl:operation>
    <wsdl:operation name="VersionPatch">
      <wsdl:input wsaw:Action="http://tempuri.org/IService/VersionPatch" message="tns:IJobBuilderService_VersionPatch_InputMessage" />
      <wsdl:output wsaw:Action="http://tempuri.org/IService/VersionPatchResponse" message="tns:IJobBuilderService_VersionPatch_OutputMessage" />
    </wsdl:operation>
    <wsdl:operation name="BeginEditingJob">
      <wsdl:input wsaw:Action="http://tempuri.org/IJobBuilderService/BeginEditingJob" message="tns:IJobBuilderService_BeginEditingJob_InputMessage" />
      <wsdl:output wsaw:Action="http://tempuri.org/IJobBuilderService/BeginEditingJobResponse" message="tns:IJobBuilderService_BeginEditingJob_OutputMessage" />
    </wsdl:operation>
    <wsdl:operation name="BeginEditingTask">
      <wsdl:input wsaw:Action="http://tempuri.org/IJobBuilderService/BeginEditingTask" message="tns:IJobBuilderService_BeginEditingTask_InputMessage" />
      <wsdl:output wsaw:Action="http://tempuri.org/IJobBuilderService/BeginEditingTaskResponse" message="tns:IJobBuilderService_BeginEditingTask_OutputMessage" />
    </wsdl:operation>
    <wsdl:operation name="CommitJob">
      <wsdl:input wsaw:Action="http://tempuri.org/IJobBuilderService/CommitJob" message="tns:IJobBuilderService_CommitJob_InputMessage" />
      <wsdl:output wsaw:Action="http://tempuri.org/IJobBuilderService/CommitJobResponse" message="tns:IJobBuilderService_CommitJob_OutputMessage" />
    </wsdl:operation>
    <wsdl:operation name="CreateJob">
      <wsdl:input wsaw:Action="http://tempuri.org/IJobBuilderService/CreateJob" message="tns:IJobBuilderService_CreateJob_InputMessage" />
      <wsdl:output wsaw:Action="http://tempuri.org/IJobBuilderService/CreateJobResponse" message="tns:IJobBuilderService_CreateJob_OutputMessage" />
    </wsdl:operation>
    <wsdl:operation name="CreateMovingTask">
      <wsdl:input wsaw:Action="http://tempuri.org/IJobBuilderService/CreateMovingTask" message="tns:IJobBuilderService_CreateMovingTask_InputMessage" />
      <wsdl:output wsaw:Action="http://tempuri.org/IJobBuilderService/CreateMovingTaskResponse" message="tns:IJobBuilderService_CreateMovingTask_OutputMessage" />
    </wsdl:operation>
    <wsdl:operation name="CreateAwaitTask">
      <wsdl:input wsaw:Action="http://tempuri.org/IJobBuilderService/CreateAwaitTask" message="tns:IJobBuilderService_CreateAwaitTask_InputMessage" />
      <wsdl:output wsaw:Action="http://tempuri.org/IJobBuilderService/CreateAwaitTaskResponse" message="tns:IJobBuilderService_CreateAwaitTask_OutputMessage" />
    </wsdl:operation>
    <wsdl:operation name="CreateOrderedListTask">
      <wsdl:input wsaw:Action="http://tempuri.org/IJobBuilderService/CreateOrderedListTask" message="tns:IJobBuilderService_CreateOrderedListTask_InputMessage" />
      <wsdl:output wsaw:Action="http://tempuri.org/IJobBuilderService/CreateOrderedListTaskResponse" message="tns:IJobBuilderService_CreateOrderedListTask_OutputMessage" />
    </wsdl:operation>
    <wsdl:operation name="CreatePipelinedTask">
      <wsdl:input wsaw:Action="http://tempuri.org/IJobBuilderService/CreatePipelinedTask" message="tns:IJobBuilderService_CreatePipelinedTask_InputMessage" />
      <wsdl:output wsaw:Action="http://tempuri.org/IJobBuilderService/CreatePipelinedTaskResponse" message="tns:IJobBuilderService_CreatePipelinedTask_OutputMessage" />
    </wsdl:operation>
    <wsdl:operation name="CreateServicingTask">
      <wsdl:input wsaw:Action="http://tempuri.org/IJobBuilderService/CreateServicingTask" message="tns:IJobBuilderService_CreateServicingTask_InputMessage" />
      <wsdl:output wsaw:Action="http://tempuri.org/IJobBuilderService/CreateServicingTaskResponse" message="tns:IJobBuilderService_CreateServicingTask_OutputMessage" />
    </wsdl:operation>
    <wsdl:operation name="CreateSleepingTask">
      <wsdl:input wsaw:Action="http://tempuri.org/IJobBuilderService/CreateSleepingTask" message="tns:IJobBuilderService_CreateSleepingTask_InputMessage" />
      <wsdl:output wsaw:Action="http://tempuri.org/IJobBuilderService/CreateSleepingTaskResponse" message="tns:IJobBuilderService_CreateSleepingTask_OutputMessage" />
    </wsdl:operation>
    <wsdl:operation name="CreateUnorderedListTask">
      <wsdl:input wsaw:Action="http://tempuri.org/IJobBuilderService/CreateUnorderedListTask" message="tns:IJobBuilderService_CreateUnorderedListTask_InputMessage" />
      <wsdl:output wsaw:Action="http://tempuri.org/IJobBuilderService/CreateUnorderedListTaskResponse" message="tns:IJobBuilderService_CreateUnorderedListTask_OutputMessage" />
    </wsdl:operation>
    <wsdl:operation name="FinaliseTask">
      <wsdl:input wsaw:Action="http://tempuri.org/IJobBuilderService/FinaliseTask" message="tns:IJobBuilderService_FinaliseTask_InputMessage" />
      <wsdl:output wsaw:Action="http://tempuri.org/IJobBuilderService/FinaliseTaskResponse" message="tns:IJobBuilderService_FinaliseTask_OutputMessage" />
    </wsdl:operation>
    <wsdl:operation name="FinishEditingJob">
      <wsdl:input wsaw:Action="http://tempuri.org/IJobBuilderService/FinishEditingJob" message="tns:IJobBuilderService_FinishEditingJob_InputMessage" />
      <wsdl:output wsaw:Action="http://tempuri.org/IJobBuilderService/FinishEditingJobResponse" message="tns:IJobBuilderService_FinishEditingJob_OutputMessage" />
    </wsdl:operation>
    <wsdl:operation name="FinishEditingTask">
      <wsdl:input wsaw:Action="http://tempuri.org/IJobBuilderService/FinishEditingTask" message="tns:IJobBuilderService_FinishEditingTask_InputMessage" />
      <wsdl:output wsaw:Action="http://tempuri.org/IJobBuilderService/FinishEditingTaskResponse" message="tns:IJobBuilderService_FinishEditingTask_OutputMessage" />
    </wsdl:operation>
    <wsdl:operation name="IssueEnumDirective">
      <wsdl:input wsaw:Action="http://tempuri.org/IJobBuilderService/IssueEnumDirective" message="tns:IJobBuilderService_IssueEnumDirective_InputMessage" />
      <wsdl:output wsaw:Action="http://tempuri.org/IJobBuilderService/IssueEnumDirectiveResponse" message="tns:IJobBuilderService_IssueEnumDirective_OutputMessage" />
    </wsdl:operation>
    <wsdl:operation name="IssueFloatDirective">
      <wsdl:input wsaw:Action="http://tempuri.org/IJobBuilderService/IssueFloatDirective" message="tns:IJobBuilderService_IssueFloatDirective_InputMessage" />
      <wsdl:output wsaw:Action="http://tempuri.org/IJobBuilderService/IssueFloatDirectiveResponse" message="tns:IJobBuilderService_IssueFloatDirective_OutputMessage" />
    </wsdl:operation>
    <wsdl:operation name="IssueIPAddressDirective">
      <wsdl:input wsaw:Action="http://tempuri.org/IJobBuilderService/IssueIPAddressDirective" message="tns:IJobBuilderService_IssueIPAddressDirective_InputMessage" />
      <wsdl:output wsaw:Action="http://tempuri.org/IJobBuilderService/IssueIPAddressDirectiveResponse" message="tns:IJobBuilderService_IssueIPAddressDirective_OutputMessage" />
    </wsdl:operation>
    <wsdl:operation name="IssueShortDirective">
      <wsdl:input wsaw:Action="http://tempuri.org/IJobBuilderService/IssueShortDirective" message="tns:IJobBuilderService_IssueShortDirective_InputMessage" />
      <wsdl:output wsaw:Action="http://tempuri.org/IJobBuilderService/IssueShortDirectiveResponse" message="tns:IJobBuilderService_IssueShortDirective_OutputMessage" />
    </wsdl:operation>
    <wsdl:operation name="IssueUShortDirective">
      <wsdl:input wsaw:Action="http://tempuri.org/IJobBuilderService/IssueUShortDirective" message="tns:IJobBuilderService_IssueUShortDirective_InputMessage" />
      <wsdl:output wsaw:Action="http://tempuri.org/IJobBuilderService/IssueUShortDirectiveResponse" message="tns:IJobBuilderService_IssueUShortDirective_OutputMessage" />
    </wsdl:operation>
  </wsdl:portType>
  <wsdl:binding name="NetTcpBinding_IJobBuilderService" type="tns:IJobBuilderService">
    <wsp:PolicyReference URI="#NetTcpBinding_IJobBuilderService_policy" />
    <soap12:binding transport="http://schemas.microsoft.com/soap/tcp" />
    <wsdl:operation name="VersionMajor">
      <soap12:operation soapAction="http://tempuri.org/IService/VersionMajor" style="document" />
      <wsdl:input>
        <soap12:body use="literal" />
      </wsdl:input>
      <wsdl:output>
        <soap12:body use="literal" />
      </wsdl:output>
    </wsdl:operation>
    <wsdl:operation name="VersionMinor">
      <soap12:operation soapAction="http://tempuri.org/IService/VersionMinor" style="document" />
      <wsdl:input>
        <soap12:body use="literal" />
      </wsdl:input>
      <wsdl:output>
        <soap12:body use="literal" />
      </wsdl:output>
    </wsdl:operation>
    <wsdl:operation name="VersionPatch">
      <soap12:operation soapAction="http://tempuri.org/IService/VersionPatch" style="document" />
      <wsdl:input>
        <soap12:body use="literal" />
      </wsdl:input>
      <wsdl:output>
        <soap12:body use="literal" />
      </wsdl:output>
    </wsdl:operation>
    <wsdl:operation name="BeginEditingJob">
      <soap12:operation soapAction="http://tempuri.org/IJobBuilderService/BeginEditingJob" style="document" />
      <wsdl:input>
        <soap12:body use="literal" />
      </wsdl:input>
      <wsdl:output>
        <soap12:body use="literal" />
      </wsdl:output>
    </wsdl:operation>
    <wsdl:operation name="BeginEditingTask">
      <soap12:operation soapAction="http://tempuri.org/IJobBuilderService/BeginEditingTask" style="document" />
      <wsdl:input>
        <soap12:body use="literal" />
      </wsdl:input>
      <wsdl:output>
        <soap12:body use="literal" />
      </wsdl:output>
    </wsdl:operation>
    <wsdl:operation name="CommitJob">
      <soap12:operation soapAction="http://tempuri.org/IJobBuilderService/CommitJob" style="document" />
      <wsdl:input>
        <soap12:body use="literal" />
      </wsdl:input>
      <wsdl:output>
        <soap12:body use="literal" />
      </wsdl:output>
    </wsdl:operation>
    <wsdl:operation name="CreateJob">
      <soap12:operation soapAction="http://tempuri.org/IJobBuilderService/CreateJob" style="document" />
      <wsdl:input>
        <soap12:body use="literal" />
      </wsdl:input>
      <wsdl:output>
        <soap12:body use="literal" />
      </wsdl:output>
    </wsdl:operation>
    <wsdl:operation name="CreateMovingTask">
      <soap12:operation soapAction="http://tempuri.org/IJobBuilderService/CreateMovingTask" style="document" />
      <wsdl:input>
        <soap12:body use="literal" />
      </wsdl:input>
      <wsdl:output>
        <soap12:body use="literal" />
      </wsdl:output>
    </wsdl:operation>
    <wsdl:operation name="CreateAwaitTask">
      <soap12:operation soapAction="http://tempuri.org/IJobBuilderService/CreateAwaitTask" style="document" />
      <wsdl:input>
        <soap12:body use="literal" />
      </wsdl:input>
      <wsdl:output>
        <soap12:body use="literal" />
      </wsdl:output>
    </wsdl:operation>
    <wsdl:operation name="CreateOrderedListTask">
      <soap12:operation soapAction="http://tempuri.org/IJobBuilderService/CreateOrderedListTask" style="document" />
      <wsdl:input>
        <soap12:body use="literal" />
      </wsdl:input>
      <wsdl:output>
        <soap12:body use="literal" />
      </wsdl:output>
    </wsdl:operation>
    <wsdl:operation name="CreatePipelinedTask">
      <soap12:operation soapAction="http://tempuri.org/IJobBuilderService/CreatePipelinedTask" style="document" />
      <wsdl:input>
        <soap12:body use="literal" />
      </wsdl:input>
      <wsdl:output>
        <soap12:body use="literal" />
      </wsdl:output>
    </wsdl:operation>
    <wsdl:operation name="CreateServicingTask">
      <soap12:operation soapAction="http://tempuri.org/IJobBuilderService/CreateServicingTask" style="document" />
      <wsdl:input>
        <soap12:body use="literal" />
      </wsdl:input>
      <wsdl:output>
        <soap12:body use="literal" />
      </wsdl:output>
    </wsdl:operation>
    <wsdl:operation name="CreateSleepingTask">
      <soap12:operation soapAction="http://tempuri.org/IJobBuilderService/CreateSleepingTask" style="document" />
      <wsdl:input>
        <soap12:body use="literal" />
      </wsdl:input>
      <wsdl:output>
        <soap12:body use="literal" />
      </wsdl:output>
    </wsdl:operation>
    <wsdl:operation name="CreateUnorderedListTask">
      <soap12:operation soapAction="http://tempuri.org/IJobBuilderService/CreateUnorderedListTask" style="document" />
      <wsdl:input>
        <soap12:body use="literal" />
      </wsdl:input>
      <wsdl:output>
        <soap12:body use="literal" />
      </wsdl:output>
    </wsdl:operation>
    <wsdl:operation name="FinaliseTask">
      <soap12:operation soapAction="http://tempuri.org/IJobBuilderService/FinaliseTask" style="document" />
      <wsdl:input>
        <soap12:body use="literal" />
      </wsdl:input>
      <wsdl:output>
        <soap12:body use="literal" />
      </wsdl:output>
    </wsdl:operation>
    <wsdl:operation name="FinishEditingJob">
      <soap12:operation soapAction="http://tempuri.org/IJobBuilderService/FinishEditingJob" style="document" />
      <wsdl:input>
        <soap12:body use="literal" />
      </wsdl:input>
      <wsdl:output>
        <soap12:body use="literal" />
      </wsdl:output>
    </wsdl:operation>
    <wsdl:operation name="FinishEditingTask">
      <soap12:operation soapAction="http://tempuri.org/IJobBuilderService/FinishEditingTask" style="document" />
      <wsdl:input>
        <soap12:body use="literal" />
      </wsdl:input>
      <wsdl:output>
        <soap12:body use="literal" />
      </wsdl:output>
    </wsdl:operation>
    <wsdl:operation name="IssueEnumDirective">
      <soap12:operation soapAction="http://tempuri.org/IJobBuilderService/IssueEnumDirective" style="document" />
      <wsdl:input>
        <soap12:body use="literal" />
      </wsdl:input>
      <wsdl:output>
        <soap12:body use="literal" />
      </wsdl:output>
    </wsdl:operation>
    <wsdl:operation name="IssueFloatDirective">
      <soap12:operation soapAction="http://tempuri.org/IJobBuilderService/IssueFloatDirective" style="document" />
      <wsdl:input>
        <soap12:body use="literal" />
      </wsdl:input>
      <wsdl:output>
        <soap12:body use="literal" />
      </wsdl:output>
    </wsdl:operation>
    <wsdl:operation name="IssueIPAddressDirective">
      <soap12:operation soapAction="http://tempuri.org/IJobBuilderService/IssueIPAddressDirective" style="document" />
      <wsdl:input>
        <soap12:body use="literal" />
      </wsdl:input>
      <wsdl:output>
        <soap12:body use="literal" />
      </wsdl:output>
    </wsdl:operation>
    <wsdl:operation name="IssueShortDirective">
      <soap12:operation soapAction="http://tempuri.org/IJobBuilderService/IssueShortDirective" style="document" />
      <wsdl:input>
        <soap12:body use="literal" />
      </wsdl:input>
      <wsdl:output>
        <soap12:body use="literal" />
      </wsdl:output>
    </wsdl:operation>
    <wsdl:operation name="IssueUShortDirective">
      <soap12:operation soapAction="http://tempuri.org/IJobBuilderService/IssueUShortDirective" style="document" />
      <wsdl:input>
        <soap12:body use="literal" />
      </wsdl:input>
      <wsdl:output>
        <soap12:body use="literal" />
      </wsdl:output>
    </wsdl:operation>
  </wsdl:binding>
  <wsdl:binding name="WSDualHttpBinding_IJobBuilderService" type="tns:IJobBuilderService">
    <wsp:PolicyReference URI="#WSDualHttpBinding_IJobBuilderService_policy" />
    <soap12:binding transport="http://schemas.xmlsoap.org/soap/http" />
    <wsdl:operation name="VersionMajor">
      <soap12:operation soapAction="http://tempuri.org/IService/VersionMajor" style="document" />
      <wsdl:input>
        <soap12:body use="literal" />
      </wsdl:input>
      <wsdl:output>
        <soap12:body use="literal" />
      </wsdl:output>
    </wsdl:operation>
    <wsdl:operation name="VersionMinor">
      <soap12:operation soapAction="http://tempuri.org/IService/VersionMinor" style="document" />
      <wsdl:input>
        <soap12:body use="literal" />
      </wsdl:input>
      <wsdl:output>
        <soap12:body use="literal" />
      </wsdl:output>
    </wsdl:operation>
    <wsdl:operation name="VersionPatch">
      <soap12:operation soapAction="http://tempuri.org/IService/VersionPatch" style="document" />
      <wsdl:input>
        <soap12:body use="literal" />
      </wsdl:input>
      <wsdl:output>
        <soap12:body use="literal" />
      </wsdl:output>
    </wsdl:operation>
    <wsdl:operation name="BeginEditingJob">
      <soap12:operation soapAction="http://tempuri.org/IJobBuilderService/BeginEditingJob" style="document" />
      <wsdl:input>
        <soap12:body use="literal" />
      </wsdl:input>
      <wsdl:output>
        <soap12:body use="literal" />
      </wsdl:output>
    </wsdl:operation>
    <wsdl:operation name="BeginEditingTask">
      <soap12:operation soapAction="http://tempuri.org/IJobBuilderService/BeginEditingTask" style="document" />
      <wsdl:input>
        <soap12:body use="literal" />
      </wsdl:input>
      <wsdl:output>
        <soap12:body use="literal" />
      </wsdl:output>
    </wsdl:operation>
    <wsdl:operation name="CommitJob">
      <soap12:operation soapAction="http://tempuri.org/IJobBuilderService/CommitJob" style="document" />
      <wsdl:input>
        <soap12:body use="literal" />
      </wsdl:input>
      <wsdl:output>
        <soap12:body use="literal" />
      </wsdl:output>
    </wsdl:operation>
    <wsdl:operation name="CreateJob">
      <soap12:operation soapAction="http://tempuri.org/IJobBuilderService/CreateJob" style="document" />
      <wsdl:input>
        <soap12:body use="literal" />
      </wsdl:input>
      <wsdl:output>
        <soap12:body use="literal" />
      </wsdl:output>
    </wsdl:operation>
    <wsdl:operation name="CreateMovingTask">
      <soap12:operation soapAction="http://tempuri.org/IJobBuilderService/CreateMovingTask" style="document" />
      <wsdl:input>
        <soap12:body use="literal" />
      </wsdl:input>
      <wsdl:output>
        <soap12:body use="literal" />
      </wsdl:output>
    </wsdl:operation>
    <wsdl:operation name="CreateAwaitTask">
      <soap12:operation soapAction="http://tempuri.org/IJobBuilderService/CreateAwaitTask" style="document" />
      <wsdl:input>
        <soap12:body use="literal" />
      </wsdl:input>
      <wsdl:output>
        <soap12:body use="literal" />
      </wsdl:output>
    </wsdl:operation>
    <wsdl:operation name="CreateOrderedListTask">
      <soap12:operation soapAction="http://tempuri.org/IJobBuilderService/CreateOrderedListTask" style="document" />
      <wsdl:input>
        <soap12:body use="literal" />
      </wsdl:input>
      <wsdl:output>
        <soap12:body use="literal" />
      </wsdl:output>
    </wsdl:operation>
    <wsdl:operation name="CreatePipelinedTask">
      <soap12:operation soapAction="http://tempuri.org/IJobBuilderService/CreatePipelinedTask" style="document" />
      <wsdl:input>
        <soap12:body use="literal" />
      </wsdl:input>
      <wsdl:output>
        <soap12:body use="literal" />
      </wsdl:output>
    </wsdl:operation>
    <wsdl:operation name="CreateServicingTask">
      <soap12:operation soapAction="http://tempuri.org/IJobBuilderService/CreateServicingTask" style="document" />
      <wsdl:input>
        <soap12:body use="literal" />
      </wsdl:input>
      <wsdl:output>
        <soap12:body use="literal" />
      </wsdl:output>
    </wsdl:operation>
    <wsdl:operation name="CreateSleepingTask">
      <soap12:operation soapAction="http://tempuri.org/IJobBuilderService/CreateSleepingTask" style="document" />
      <wsdl:input>
        <soap12:body use="literal" />
      </wsdl:input>
      <wsdl:output>
        <soap12:body use="literal" />
      </wsdl:output>
    </wsdl:operation>
    <wsdl:operation name="CreateUnorderedListTask">
      <soap12:operation soapAction="http://tempuri.org/IJobBuilderService/CreateUnorderedListTask" style="document" />
      <wsdl:input>
        <soap12:body use="literal" />
      </wsdl:input>
      <wsdl:output>
        <soap12:body use="literal" />
      </wsdl:output>
    </wsdl:operation>
    <wsdl:operation name="FinaliseTask">
      <soap12:operation soapAction="http://tempuri.org/IJobBuilderService/FinaliseTask" style="document" />
      <wsdl:input>
        <soap12:body use="literal" />
      </wsdl:input>
      <wsdl:output>
        <soap12:body use="literal" />
      </wsdl:output>
    </wsdl:operation>
    <wsdl:operation name="FinishEditingJob">
      <soap12:operation soapAction="http://tempuri.org/IJobBuilderService/FinishEditingJob" style="document" />
      <wsdl:input>
        <soap12:body use="literal" />
      </wsdl:input>
      <wsdl:output>
        <soap12:body use="literal" />
      </wsdl:output>
    </wsdl:operation>
    <wsdl:operation name="FinishEditingTask">
      <soap12:operation soapAction="http://tempuri.org/IJobBuilderService/FinishEditingTask" style="document" />
      <wsdl:input>
        <soap12:body use="literal" />
      </wsdl:input>
      <wsdl:output>
        <soap12:body use="literal" />
      </wsdl:output>
    </wsdl:operation>
    <wsdl:operation name="IssueEnumDirective">
      <soap12:operation soapAction="http://tempuri.org/IJobBuilderService/IssueEnumDirective" style="document" />
      <wsdl:input>
        <soap12:body use="literal" />
      </wsdl:input>
      <wsdl:output>
        <soap12:body use="literal" />
      </wsdl:output>
    </wsdl:operation>
    <wsdl:operation name="IssueFloatDirective">
      <soap12:operation soapAction="http://tempuri.org/IJobBuilderService/IssueFloatDirective" style="document" />
      <wsdl:input>
        <soap12:body use="literal" />
      </wsdl:input>
      <wsdl:output>
        <soap12:body use="literal" />
      </wsdl:output>
    </wsdl:operation>
    <wsdl:operation name="IssueIPAddressDirective">
      <soap12:operation soapAction="http://tempuri.org/IJobBuilderService/IssueIPAddressDirective" style="document" />
      <wsdl:input>
        <soap12:body use="literal" />
      </wsdl:input>
      <wsdl:output>
        <soap12:body use="literal" />
      </wsdl:output>
    </wsdl:operation>
    <wsdl:operation name="IssueShortDirective">
      <soap12:operation soapAction="http://tempuri.org/IJobBuilderService/IssueShortDirective" style="document" />
      <wsdl:input>
        <soap12:body use="literal" />
      </wsdl:input>
      <wsdl:output>
        <soap12:body use="literal" />
      </wsdl:output>
    </wsdl:operation>
    <wsdl:operation name="IssueUShortDirective">
      <soap12:operation soapAction="http://tempuri.org/IJobBuilderService/IssueUShortDirective" style="document" />
      <wsdl:input>
        <soap12:body use="literal" />
      </wsdl:input>
      <wsdl:output>
        <soap12:body use="literal" />
      </wsdl:output>
    </wsdl:operation>
  </wsdl:binding>
  <wsdl:service name="JobBuilderService">
    <wsdl:port name="NetTcpBinding_IJobBuilderService" binding="tns:NetTcpBinding_IJobBuilderService">
      <soap12:address location="net.tcp://127.0.0.1:41917/jobBuilder.svc" />
      <wsa10:EndpointReference>
        <wsa10:Address>net.tcp://127.0.0.1:41917/jobBuilder.svc</wsa10:Address>
      </wsa10:EndpointReference>
    </wsdl:port>
    <wsdl:port name="WSDualHttpBinding_IJobBuilderService" binding="tns:WSDualHttpBinding_IJobBuilderService">
      <soap12:address location="http://127.0.0.1:41916/jobBuilder.svc" />
      <wsa10:EndpointReference>
        <wsa10:Address>http://127.0.0.1:41916/jobBuilder.svc</wsa10:Address>
      </wsa10:EndpointReference>
    </wsdl:port>
  </wsdl:service>
</wsdl:definitions>