CSharp/SchedulingClients/Service References/JobBuilderServiceReference/jobBuilder1.xsd

<?xml version="1.0" encoding="utf-8"?>
<xs:schema xmlns:tns="http://tempuri.org/" elementFormDefault="qualified" targetNamespace="http://tempuri.org/" xmlns:xs="http://www.w3.org/2001/XMLSchema">
  <xs:import schemaLocation="http://127.0.0.1:41916/jobBuilder.svc?xsd=xsd2" namespace="http://schemas.datacontract.org/2004/07/System" />
  <xs:import schemaLocation="http://127.0.0.1:41916/jobBuilder.svc?xsd=xsd3" namespace="http://schemas.datacontract.org/2004/07/SchedulingServices" />
  <xs:import schemaLocation="http://127.0.0.1:41916/jobBuilder.svc?xsd=xsd4" namespace="http://schemas.datacontract.org/2004/07/Mapping.Roadmaps" />
  <xs:import schemaLocation="http://127.0.0.1:41916/jobBuilder.svc?xsd=xsd1" namespace="http://schemas.microsoft.com/2003/10/Serialization/" />
  <xs:element name="CommitJob">
    <xs:complexType>
      <xs:sequence>
        <xs:element minOccurs="0" name="jobId" type="xs:int" />
        <xs:element minOccurs="0" name="agentId" type="xs:int" />
      </xs:sequence>
    </xs:complexType>
  </xs:element>
  <xs:element name="CommitJobResponse">
    <xs:complexType>
      <xs:sequence>
        <xs:element xmlns:q1="http://schemas.datacontract.org/2004/07/System" minOccurs="0" name="CommitJobResult" nillable="true" type="q1:TupleOfbooleanstring" />
      </xs:sequence>
    </xs:complexType>
  </xs:element>
  <xs:element name="CreateJob">
    <xs:complexType>
      <xs:sequence />
    </xs:complexType>
  </xs:element>
  <xs:element name="CreateJobResponse">
    <xs:complexType>
      <xs:sequence>
        <xs:element xmlns:q2="http://schemas.datacontract.org/2004/07/SchedulingServices" minOccurs="0" name="CreateJobResult" nillable="true" type="q2:JobData" />
      </xs:sequence>
    </xs:complexType>
  </xs:element>
  <xs:element name="CreateListTask">
    <xs:complexType>
      <xs:sequence>
        <xs:element minOccurs="0" name="parentTaskId" type="xs:int" />
        <xs:element minOccurs="0" name="isOrdered" type="xs:boolean" />
      </xs:sequence>
    </xs:complexType>
  </xs:element>
  <xs:element name="CreateListTaskResponse">
    <xs:complexType>
      <xs:sequence>
        <xs:element xmlns:q3="http://schemas.datacontract.org/2004/07/System" minOccurs="0" name="CreateListTaskResult" nillable="true" type="q3:TupleOfintstring" />
      </xs:sequence>
    </xs:complexType>
  </xs:element>
  <xs:element name="CreateServicingTask">
    <xs:complexType>
      <xs:sequence>
        <xs:element minOccurs="0" name="parentTaskId" type="xs:int" />
        <xs:element minOccurs="0" name="nodeId" type="xs:int" />
        <xs:element xmlns:q4="http://schemas.datacontract.org/2004/07/Mapping.Roadmaps" minOccurs="0" name="serviceType" type="q4:ServiceType" />
        <xs:element xmlns:q5="http://schemas.microsoft.com/2003/10/Serialization/" minOccurs="0" name="expectedDuration" type="q5:duration" />
      </xs:sequence>
    </xs:complexType>
  </xs:element>
  <xs:element name="CreateServicingTaskResponse">
    <xs:complexType>
      <xs:sequence>
        <xs:element xmlns:q6="http://schemas.datacontract.org/2004/07/System" minOccurs="0" name="CreateServicingTaskResult" nillable="true" type="q6:TupleOfintstring" />
      </xs:sequence>
    </xs:complexType>
  </xs:element>
</xs:schema>