CSharp/SchedulingClients/Service References/JobBuilderServiceReference/jobBuilder1.xsd

<?xml version="1.0" encoding="utf-8"?>
<xs:schema xmlns:tns="http://tempuri.org/" elementFormDefault="qualified" targetNamespace="http://tempuri.org/" xmlns:xs="http://www.w3.org/2001/XMLSchema">
  <xs:import schemaLocation="http://127.0.0.1:41916/jobBuilder.svc?xsd=xsd2" namespace="http://schemas.datacontract.org/2004/07/System" />
  <xs:import schemaLocation="http://127.0.0.1:41916/jobBuilder.svc?xsd=xsd5" namespace="http://schemas.datacontract.org/2004/07/SchedulingServices.Tasks" />
  <xs:import schemaLocation="http://127.0.0.1:41916/jobBuilder.svc?xsd=xsd6" namespace="http://schemas.datacontract.org/2004/07/Mapping" />
  <xs:import schemaLocation="http://127.0.0.1:41916/jobBuilder.svc?xsd=xsd1" namespace="http://schemas.microsoft.com/2003/10/Serialization/" />
  <xs:import schemaLocation="http://127.0.0.1:41916/jobBuilder.svc?xsd=xsd7" namespace="http://schemas.datacontract.org/2004/07/System.Net" />
  <xs:element name="CommitJob">
    <xs:complexType>
      <xs:sequence>
        <xs:element minOccurs="0" name="jobId" type="xs:int" />
        <xs:element minOccurs="0" name="agentId" type="xs:int" />
      </xs:sequence>
    </xs:complexType>
  </xs:element>
  <xs:element name="CommitJobResponse">
    <xs:complexType>
      <xs:sequence>
        <xs:element xmlns:q1="http://schemas.datacontract.org/2004/07/System" minOccurs="0" name="CommitJobResult" nillable="true" type="q1:TupleOfbooleanServiceCallDatayG81JSvh" />
      </xs:sequence>
    </xs:complexType>
  </xs:element>
  <xs:element name="CreateJob">
    <xs:complexType>
      <xs:sequence />
    </xs:complexType>
  </xs:element>
  <xs:element name="CreateJobResponse">
    <xs:complexType>
      <xs:sequence>
        <xs:element xmlns:q2="http://schemas.datacontract.org/2004/07/System" minOccurs="0" name="CreateJobResult" nillable="true" type="q2:TupleOfJobDataServiceCallDatazDQi_Syxv" />
      </xs:sequence>
    </xs:complexType>
  </xs:element>
  <xs:element name="CreateListTask">
    <xs:complexType>
      <xs:sequence>
        <xs:element minOccurs="0" name="parentTaskId" type="xs:int" />
        <xs:element xmlns:q3="http://schemas.datacontract.org/2004/07/SchedulingServices.Tasks" minOccurs="0" name="listTaskType" type="q3:ListTaskType" />
      </xs:sequence>
    </xs:complexType>
  </xs:element>
  <xs:element name="CreateListTaskResponse">
    <xs:complexType>
      <xs:sequence>
        <xs:element xmlns:q4="http://schemas.datacontract.org/2004/07/System" minOccurs="0" name="CreateListTaskResult" nillable="true" type="q4:TupleOfintServiceCallDatayG81JSvh" />
      </xs:sequence>
    </xs:complexType>
  </xs:element>
  <xs:element name="CreateServicingTask">
    <xs:complexType>
      <xs:sequence>
        <xs:element minOccurs="0" name="parentTaskId" type="xs:int" />
        <xs:element minOccurs="0" name="nodeId" type="xs:int" />
        <xs:element xmlns:q5="http://schemas.datacontract.org/2004/07/Mapping" minOccurs="0" name="serviceType" type="q5:ServiceType" />
        <xs:element xmlns:q6="http://schemas.microsoft.com/2003/10/Serialization/" minOccurs="0" name="expectedDuration" type="q6:duration" />
      </xs:sequence>
    </xs:complexType>
  </xs:element>
  <xs:element name="CreateServicingTaskResponse">
    <xs:complexType>
      <xs:sequence>
        <xs:element xmlns:q7="http://schemas.datacontract.org/2004/07/System" minOccurs="0" name="CreateServicingTaskResult" nillable="true" type="q7:TupleOfintServiceCallDatayG81JSvh" />
      </xs:sequence>
    </xs:complexType>
  </xs:element>
  <xs:element name="CreateSleepingTask">
    <xs:complexType>
      <xs:sequence>
        <xs:element minOccurs="0" name="parentTaskId" type="xs:int" />
        <xs:element minOccurs="0" name="nodeId" type="xs:int" />
        <xs:element xmlns:q8="http://schemas.microsoft.com/2003/10/Serialization/" minOccurs="0" name="expectedDuration" type="q8:duration" />
      </xs:sequence>
    </xs:complexType>
  </xs:element>
  <xs:element name="CreateSleepingTaskResponse">
    <xs:complexType>
      <xs:sequence>
        <xs:element xmlns:q9="http://schemas.datacontract.org/2004/07/System" minOccurs="0" name="CreateSleepingTaskResult" nillable="true" type="q9:TupleOfintServiceCallDatayG81JSvh" />
      </xs:sequence>
    </xs:complexType>
  </xs:element>
  <xs:element name="CreateMovingTask">
    <xs:complexType>
      <xs:sequence>
        <xs:element minOccurs="0" name="parentTaskId" type="xs:int" />
        <xs:element minOccurs="0" name="nodeId" type="xs:int" />
        <xs:element xmlns:q10="http://schemas.microsoft.com/2003/10/Serialization/" minOccurs="0" name="expectedDuration" type="q10:duration" />
      </xs:sequence>
    </xs:complexType>
  </xs:element>
  <xs:element name="CreateMovingTaskResponse">
    <xs:complexType>
      <xs:sequence>
        <xs:element xmlns:q11="http://schemas.datacontract.org/2004/07/System" minOccurs="0" name="CreateMovingTaskResult" nillable="true" type="q11:TupleOfintServiceCallDatayG81JSvh" />
      </xs:sequence>
    </xs:complexType>
  </xs:element>
  <xs:element name="IssueEnumDirective">
    <xs:complexType>
      <xs:sequence>
        <xs:element minOccurs="0" name="taskId" type="xs:int" />
        <xs:element minOccurs="0" name="parameterId" type="xs:int" />
        <xs:element minOccurs="0" name="value" type="xs:unsignedByte" />
      </xs:sequence>
    </xs:complexType>
  </xs:element>
  <xs:element name="IssueEnumDirectiveResponse">
    <xs:complexType>
      <xs:sequence>
        <xs:element xmlns:q12="http://schemas.datacontract.org/2004/07/System" minOccurs="0" name="IssueEnumDirectiveResult" nillable="true" type="q12:TupleOfintServiceCallDatayG81JSvh" />
      </xs:sequence>
    </xs:complexType>
  </xs:element>
  <xs:element name="IssueShortDirective">
    <xs:complexType>
      <xs:sequence>
        <xs:element minOccurs="0" name="taskId" type="xs:int" />
        <xs:element minOccurs="0" name="parameterId" type="xs:int" />
        <xs:element minOccurs="0" name="value" type="xs:short" />
      </xs:sequence>
    </xs:complexType>
  </xs:element>
  <xs:element name="IssueShortDirectiveResponse">
    <xs:complexType>
      <xs:sequence>
        <xs:element xmlns:q13="http://schemas.datacontract.org/2004/07/System" minOccurs="0" name="IssueShortDirectiveResult" nillable="true" type="q13:TupleOfintServiceCallDatayG81JSvh" />
      </xs:sequence>
    </xs:complexType>
  </xs:element>
  <xs:element name="IssueUShortDirective">
    <xs:complexType>
      <xs:sequence>
        <xs:element minOccurs="0" name="taskId" type="xs:int" />
        <xs:element minOccurs="0" name="parameterId" type="xs:int" />
        <xs:element minOccurs="0" name="value" type="xs:unsignedShort" />
      </xs:sequence>
    </xs:complexType>
  </xs:element>
  <xs:element name="IssueUShortDirectiveResponse">
    <xs:complexType>
      <xs:sequence>
        <xs:element xmlns:q14="http://schemas.datacontract.org/2004/07/System" minOccurs="0" name="IssueUShortDirectiveResult" nillable="true" type="q14:TupleOfintServiceCallDatayG81JSvh" />
      </xs:sequence>
    </xs:complexType>
  </xs:element>
  <xs:element name="IssueFloatDirective">
    <xs:complexType>
      <xs:sequence>
        <xs:element minOccurs="0" name="taskId" type="xs:int" />
        <xs:element minOccurs="0" name="parameterId" type="xs:int" />
        <xs:element minOccurs="0" name="value" type="xs:float" />
      </xs:sequence>
    </xs:complexType>
  </xs:element>
  <xs:element name="IssueFloatDirectiveResponse">
    <xs:complexType>
      <xs:sequence>
        <xs:element xmlns:q15="http://schemas.datacontract.org/2004/07/System" minOccurs="0" name="IssueFloatDirectiveResult" nillable="true" type="q15:TupleOfintServiceCallDatayG81JSvh" />
      </xs:sequence>
    </xs:complexType>
  </xs:element>
  <xs:element name="IssueIPAddressDirective">
    <xs:complexType>
      <xs:sequence>
        <xs:element minOccurs="0" name="taskId" type="xs:int" />
        <xs:element minOccurs="0" name="parameterId" type="xs:int" />
        <xs:element xmlns:q16="http://schemas.datacontract.org/2004/07/System.Net" minOccurs="0" name="value" nillable="true" type="q16:IPAddress" />
      </xs:sequence>
    </xs:complexType>
  </xs:element>
  <xs:element name="IssueIPAddressDirectiveResponse">
    <xs:complexType>
      <xs:sequence>
        <xs:element xmlns:q17="http://schemas.datacontract.org/2004/07/System" minOccurs="0" name="IssueIPAddressDirectiveResult" nillable="true" type="q17:TupleOfintServiceCallDatayG81JSvh" />
      </xs:sequence>
    </xs:complexType>
  </xs:element>
</xs:schema>