CSharp/SchedulingClients/Service References/JobsStateServiceReference/jobsState.xsd

<?xml version="1.0" encoding="utf-8"?>
<xs:schema xmlns:tns="http://schemas.datacontract.org/2004/07/Scheduling.Services.Jobs" elementFormDefault="qualified" targetNamespace="http://schemas.datacontract.org/2004/07/Scheduling.Services.Jobs" xmlns:xs="http://www.w3.org/2001/XMLSchema">
  <xs:complexType name="JobsStateData">
    <xs:sequence>
      <xs:element minOccurs="0" name="AssigningCount" type="xs:int" />
      <xs:element minOccurs="0" name="InProgessCount" type="xs:int" />
      <xs:element minOccurs="0" name="WaitingCount" type="xs:int" />
    </xs:sequence>
  </xs:complexType>
  <xs:element name="JobsStateData" nillable="true" type="tns:JobsStateData" />
</xs:schema>