CSharp/SchedulingClients/Service References/JobsStateServiceReference/jobsState3.xsd

<?xml version="1.0" encoding="utf-8"?>
<xs:schema xmlns:tns="http://schemas.datacontract.org/2004/07/SchedulingServices" elementFormDefault="qualified" targetNamespace="http://schemas.datacontract.org/2004/07/SchedulingServices" xmlns:xs="http://www.w3.org/2001/XMLSchema">
  <xs:import schemaLocation="http://127.0.0.1:41916/jobsState.svc?xsd=xsd3" namespace="http://schemas.microsoft.com/2003/10/Serialization/Arrays" />
  <xs:complexType name="JobsStateData">
    <xs:sequence>
      <xs:element minOccurs="0" name="AssigningCount" type="xs:int" />
      <xs:element xmlns:q1="http://schemas.microsoft.com/2003/10/Serialization/Arrays" minOccurs="0" name="IdleAgentIds" nillable="true" type="q1:ArrayOfint" />
      <xs:element minOccurs="0" name="InProgessCount" type="xs:int" />
      <xs:element minOccurs="0" name="WaitingCount" type="xs:int" />
    </xs:sequence>
  </xs:complexType>
  <xs:element name="JobsStateData" nillable="true" type="tns:JobsStateData" />
</xs:schema>