CSharp/SchedulingClients/Service References/JobsStateServiceReference/jobsState1.xsd

<?xml version="1.0" encoding="utf-8"?>
<xs:schema xmlns:tns="http://tempuri.org/" elementFormDefault="qualified" targetNamespace="http://tempuri.org/" xmlns:xs="http://www.w3.org/2001/XMLSchema">
  <xs:import schemaLocation="http://127.0.0.1:41916/jobsState.svc?xsd=xsd1" namespace="http://schemas.microsoft.com/2003/10/Serialization/" />
  <xs:import schemaLocation="http://127.0.0.1:41916/jobsState.svc?xsd=xsd2" namespace="http://schemas.datacontract.org/2004/07/System" />
  <xs:import schemaLocation="http://127.0.0.1:41916/jobsState.svc?xsd=xsd5" namespace="http://schemas.datacontract.org/2004/07/SchedulingServices" />
  <xs:element name="VersionMajor">
    <xs:complexType>
      <xs:sequence />
    </xs:complexType>
  </xs:element>
  <xs:element name="VersionMajorResponse">
    <xs:complexType>
      <xs:sequence>
        <xs:element minOccurs="0" name="VersionMajorResult" type="xs:int" />
      </xs:sequence>
    </xs:complexType>
  </xs:element>
  <xs:element name="VersionMinor">
    <xs:complexType>
      <xs:sequence />
    </xs:complexType>
  </xs:element>
  <xs:element name="VersionMinorResponse">
    <xs:complexType>
      <xs:sequence>
        <xs:element minOccurs="0" name="VersionMinorResult" type="xs:int" />
      </xs:sequence>
    </xs:complexType>
  </xs:element>
  <xs:element name="VersionPatch">
    <xs:complexType>
      <xs:sequence />
    </xs:complexType>
  </xs:element>
  <xs:element name="VersionPatchResponse">
    <xs:complexType>
      <xs:sequence>
        <xs:element minOccurs="0" name="VersionPatchResult" type="xs:int" />
      </xs:sequence>
    </xs:complexType>
  </xs:element>
  <xs:element name="SubscriptionHeartbeat">
    <xs:complexType>
      <xs:sequence>
        <xs:element xmlns:q1="http://schemas.microsoft.com/2003/10/Serialization/" minOccurs="0" name="guid" type="q1:guid" />
      </xs:sequence>
    </xs:complexType>
  </xs:element>
  <xs:element name="SubscriptionHeartbeatResponse">
    <xs:complexType>
      <xs:sequence />
    </xs:complexType>
  </xs:element>
  <xs:element name="AbortAllJobs">
    <xs:complexType>
      <xs:sequence />
    </xs:complexType>
  </xs:element>
  <xs:element name="AbortAllJobsResponse">
    <xs:complexType>
      <xs:sequence>
        <xs:element xmlns:q2="http://schemas.datacontract.org/2004/07/System" minOccurs="0" name="AbortAllJobsResult" nillable="true" type="q2:TupleOfbooleanServiceCallDatayG81JSvh" />
      </xs:sequence>
    </xs:complexType>
  </xs:element>
  <xs:element name="AbortAllJobsForAgent">
    <xs:complexType>
      <xs:sequence>
        <xs:element minOccurs="0" name="agentId" type="xs:int" />
      </xs:sequence>
    </xs:complexType>
  </xs:element>
  <xs:element name="AbortAllJobsForAgentResponse">
    <xs:complexType>
      <xs:sequence>
        <xs:element xmlns:q3="http://schemas.datacontract.org/2004/07/System" minOccurs="0" name="AbortAllJobsForAgentResult" nillable="true" type="q3:TupleOfbooleanServiceCallDatayG81JSvh" />
      </xs:sequence>
    </xs:complexType>
  </xs:element>
  <xs:element name="AbortJob">
    <xs:complexType>
      <xs:sequence>
        <xs:element minOccurs="0" name="jobId" type="xs:int" />
      </xs:sequence>
    </xs:complexType>
  </xs:element>
  <xs:element name="AbortJobResponse">
    <xs:complexType>
      <xs:sequence>
        <xs:element xmlns:q4="http://schemas.datacontract.org/2004/07/System" minOccurs="0" name="AbortJobResult" nillable="true" type="q4:TupleOfbooleanServiceCallDatayG81JSvh" />
      </xs:sequence>
    </xs:complexType>
  </xs:element>
  <xs:element name="AbortTask">
    <xs:complexType>
      <xs:sequence>
        <xs:element minOccurs="0" name="taskId" type="xs:int" />
      </xs:sequence>
    </xs:complexType>
  </xs:element>
  <xs:element name="AbortTaskResponse">
    <xs:complexType>
      <xs:sequence>
        <xs:element xmlns:q5="http://schemas.datacontract.org/2004/07/System" minOccurs="0" name="AbortTaskResult" nillable="true" type="q5:TupleOfbooleanServiceCallDatayG81JSvh" />
      </xs:sequence>
    </xs:complexType>
  </xs:element>
  <xs:element name="GetActiveJobIdsForAgent">
    <xs:complexType>
      <xs:sequence>
        <xs:element minOccurs="0" name="agentId" type="xs:int" />
      </xs:sequence>
    </xs:complexType>
  </xs:element>
  <xs:element name="GetActiveJobIdsForAgentResponse">
    <xs:complexType>
      <xs:sequence>
        <xs:element xmlns:q6="http://schemas.datacontract.org/2004/07/System" minOccurs="0" name="GetActiveJobIdsForAgentResult" nillable="true" type="q6:TupleOfArrayOfintServiceCallDataRJ0VdR0l" />
      </xs:sequence>
    </xs:complexType>
  </xs:element>
  <xs:element name="OnCallback">
    <xs:complexType>
      <xs:sequence>
        <xs:element xmlns:q7="http://schemas.datacontract.org/2004/07/SchedulingServices" minOccurs="0" name="callbackObject" nillable="true" type="q7:JobsStateData" />
      </xs:sequence>
    </xs:complexType>
  </xs:element>
  <xs:element name="OnCallbackResponse">
    <xs:complexType>
      <xs:sequence />
    </xs:complexType>
  </xs:element>
</xs:schema>