SchedulingClients/Service References/AgentStatecastServiceReference/AgentStatecastService.wsdl

<?xml version="1.0" encoding="utf-8"?>
<wsdl:definitions xmlns:wsap="http://schemas.xmlsoap.org/ws/2004/08/addressing/policy" xmlns:wsa10="http://www.w3.org/2005/08/addressing" xmlns:tns="http://tempuri.org/" xmlns:msc="http://schemas.microsoft.com/ws/2005/12/wsdl/contract" xmlns:soapenc="http://schemas.xmlsoap.org/soap/encoding/" xmlns:wsx="http://schemas.xmlsoap.org/ws/2004/09/mex" xmlns:wsp="http://schemas.xmlsoap.org/ws/2004/09/policy" xmlns:wsam="http://www.w3.org/2007/05/addressing/metadata" xmlns:wsa="http://schemas.xmlsoap.org/ws/2004/08/addressing" xmlns:wsaw="http://www.w3.org/2006/05/addressing/wsdl" xmlns:soap="http://schemas.xmlsoap.org/wsdl/soap/" xmlns:soap12="http://schemas.xmlsoap.org/wsdl/soap12/" xmlns:wsu="http://docs.oasis-open.org/wss/2004/01/oasis-200401-wss-wssecurity-utility-1.0.xsd" xmlns:xsd="http://www.w3.org/2001/XMLSchema" name="AgentStatecastService" targetNamespace="http://tempuri.org/" xmlns:wsdl="http://schemas.xmlsoap.org/wsdl/">
  <wsp:Policy wsu:Id="NetTcpBinding_IAgentStatecastService_policy">
    <wsp:ExactlyOne>
      <wsp:All>
        <msb:BinaryEncoding xmlns:msb="http://schemas.microsoft.com/ws/06/2004/mspolicy/netbinary1" />
        <wsaw:UsingAddressing />
      </wsp:All>
    </wsp:ExactlyOne>
  </wsp:Policy>
  <wsp:Policy wsu:Id="WSDualHttpBinding_IAgentStatecastService_policy">
    <wsp:ExactlyOne>
      <wsp:All>
        <wsrm:RMAssertion xmlns:wsrm="http://schemas.xmlsoap.org/ws/2005/02/rm/policy">
          <wsrm:InactivityTimeout Milliseconds="600000" />
          <wsrm:AcknowledgementInterval Milliseconds="200" />
        </wsrm:RMAssertion>
        <cdp:CompositeDuplex xmlns:cdp="http://schemas.microsoft.com/net/2006/06/duplex" />
        <ow:OneWay xmlns:ow="http://schemas.microsoft.com/ws/2005/05/routing/policy" />
        <wsaw:UsingAddressing />
      </wsp:All>
    </wsp:ExactlyOne>
  </wsp:Policy>
  <wsdl:types>
    <xsd:schema targetNamespace="http://tempuri.org/Imports">
      <xsd:import schemaLocation="http://127.0.0.1:41916/agentStatecast.svc?xsd=xsd0" namespace="http://tempuri.org/" />
      <xsd:import schemaLocation="http://127.0.0.1:41916/agentStatecast.svc?xsd=xsd1" namespace="http://schemas.microsoft.com/2003/10/Serialization/" />
      <xsd:import schemaLocation="http://127.0.0.1:41916/agentStatecast.svc?xsd=xsd2" namespace="http://schemas.datacontract.org/2004/07/System" />
      <xsd:import schemaLocation="http://127.0.0.1:41916/agentStatecast.svc?xsd=xsd3" namespace="http://schemas.datacontract.org/2004/07/GACore" />
      <xsd:import schemaLocation="http://127.0.0.1:41916/agentStatecast.svc?xsd=xsd4" namespace="http://schemas.datacontract.org/2004/07/Services" />
      <xsd:import schemaLocation="http://127.0.0.1:41916/agentStatecast.svc?xsd=xsd5" namespace="http://schemas.datacontract.org/2004/07/System.Net" />
      <xsd:import schemaLocation="http://127.0.0.1:41916/agentStatecast.svc?xsd=xsd6" namespace="http://schemas.datacontract.org/2004/07/System.Net.Sockets" />
      <xsd:import schemaLocation="http://127.0.0.1:41916/agentStatecast.svc?xsd=xsd7" namespace="http://schemas.microsoft.com/2003/10/Serialization/Arrays" />
      <xsd:import schemaLocation="http://127.0.0.1:41916/agentStatecast.svc?xsd=xsd8" namespace="http://schemas.datacontract.org/2004/07/Scheduling.Services.Agents" />
    </xsd:schema>
  </wsdl:types>
  <wsdl:message name="IAgentStatecastService_GetSemVer_InputMessage">
    <wsdl:part name="parameters" element="tns:GetSemVer" />
  </wsdl:message>
  <wsdl:message name="IAgentStatecastService_GetSemVer_OutputMessage">
    <wsdl:part name="parameters" element="tns:GetSemVerResponse" />
  </wsdl:message>
  <wsdl:message name="IAgentStatecastService_GetEnumStatecastValue_InputMessage">
    <wsdl:part name="parameters" element="tns:GetEnumStatecastValue" />
  </wsdl:message>
  <wsdl:message name="IAgentStatecastService_GetEnumStatecastValue_OutputMessage">
    <wsdl:part name="parameters" element="tns:GetEnumStatecastValueResponse" />
  </wsdl:message>
  <wsdl:message name="IAgentStatecastService_GetFloatStatecastValue_InputMessage">
    <wsdl:part name="parameters" element="tns:GetFloatStatecastValue" />
  </wsdl:message>
  <wsdl:message name="IAgentStatecastService_GetFloatStatecastValue_OutputMessage">
    <wsdl:part name="parameters" element="tns:GetFloatStatecastValueResponse" />
  </wsdl:message>
  <wsdl:message name="IAgentStatecastService_GetIntegerStatecastValue_InputMessage">
    <wsdl:part name="parameters" element="tns:GetIntegerStatecastValue" />
  </wsdl:message>
  <wsdl:message name="IAgentStatecastService_GetIntegerStatecastValue_OutputMessage">
    <wsdl:part name="parameters" element="tns:GetIntegerStatecastValueResponse" />
  </wsdl:message>
  <wsdl:message name="IAgentStatecastService_GetIPAddressStatecastValue_InputMessage">
    <wsdl:part name="parameters" element="tns:GetIPAddressStatecastValue" />
  </wsdl:message>
  <wsdl:message name="IAgentStatecastService_GetIPAddressStatecastValue_OutputMessage">
    <wsdl:part name="parameters" element="tns:GetIPAddressStatecastValueResponse" />
  </wsdl:message>
  <wsdl:message name="IAgentStatecastService_GetShortStatecastValue_InputMessage">
    <wsdl:part name="parameters" element="tns:GetShortStatecastValue" />
  </wsdl:message>
  <wsdl:message name="IAgentStatecastService_GetShortStatecastValue_OutputMessage">
    <wsdl:part name="parameters" element="tns:GetShortStatecastValueResponse" />
  </wsdl:message>
  <wsdl:message name="IAgentStatecastService_GetStateCastVariableDefinitionData_InputMessage">
    <wsdl:part name="parameters" element="tns:GetStateCastVariableDefinitionData" />
  </wsdl:message>
  <wsdl:message name="IAgentStatecastService_GetStateCastVariableDefinitionData_OutputMessage">
    <wsdl:part name="parameters" element="tns:GetStateCastVariableDefinitionDataResponse" />
  </wsdl:message>
  <wsdl:message name="IAgentStatecastService_GetUIntegerStatecastValue_InputMessage">
    <wsdl:part name="parameters" element="tns:GetUIntegerStatecastValue" />
  </wsdl:message>
  <wsdl:message name="IAgentStatecastService_GetUIntegerStatecastValue_OutputMessage">
    <wsdl:part name="parameters" element="tns:GetUIntegerStatecastValueResponse" />
  </wsdl:message>
  <wsdl:message name="IAgentStatecastService_GetUShortStatecastValue_InputMessage">
    <wsdl:part name="parameters" element="tns:GetUShortStatecastValue" />
  </wsdl:message>
  <wsdl:message name="IAgentStatecastService_GetUShortStatecastValue_OutputMessage">
    <wsdl:part name="parameters" element="tns:GetUShortStatecastValueResponse" />
  </wsdl:message>
  <wsdl:portType name="IAgentStatecastService">
    <wsdl:operation name="GetSemVer">
      <wsdl:input wsaw:Action="http://tempuri.org/IService/GetSemVer" message="tns:IAgentStatecastService_GetSemVer_InputMessage" />
      <wsdl:output wsaw:Action="http://tempuri.org/IService/GetSemVerResponse" message="tns:IAgentStatecastService_GetSemVer_OutputMessage" />
    </wsdl:operation>
    <wsdl:operation name="GetEnumStatecastValue">
      <wsdl:input wsaw:Action="http://tempuri.org/IAgentStatecastService/GetEnumStatecastValue" message="tns:IAgentStatecastService_GetEnumStatecastValue_InputMessage" />
      <wsdl:output wsaw:Action="http://tempuri.org/IAgentStatecastService/GetEnumStatecastValueResponse" message="tns:IAgentStatecastService_GetEnumStatecastValue_OutputMessage" />
    </wsdl:operation>
    <wsdl:operation name="GetFloatStatecastValue">
      <wsdl:input wsaw:Action="http://tempuri.org/IAgentStatecastService/GetFloatStatecastValue" message="tns:IAgentStatecastService_GetFloatStatecastValue_InputMessage" />
      <wsdl:output wsaw:Action="http://tempuri.org/IAgentStatecastService/GetFloatStatecastValueResponse" message="tns:IAgentStatecastService_GetFloatStatecastValue_OutputMessage" />
    </wsdl:operation>
    <wsdl:operation name="GetIntegerStatecastValue">
      <wsdl:input wsaw:Action="http://tempuri.org/IAgentStatecastService/GetIntegerStatecastValue" message="tns:IAgentStatecastService_GetIntegerStatecastValue_InputMessage" />
      <wsdl:output wsaw:Action="http://tempuri.org/IAgentStatecastService/GetIntegerStatecastValueResponse" message="tns:IAgentStatecastService_GetIntegerStatecastValue_OutputMessage" />
    </wsdl:operation>
    <wsdl:operation name="GetIPAddressStatecastValue">
      <wsdl:input wsaw:Action="http://tempuri.org/IAgentStatecastService/GetIPAddressStatecastValue" message="tns:IAgentStatecastService_GetIPAddressStatecastValue_InputMessage" />
      <wsdl:output wsaw:Action="http://tempuri.org/IAgentStatecastService/GetIPAddressStatecastValueResponse" message="tns:IAgentStatecastService_GetIPAddressStatecastValue_OutputMessage" />
    </wsdl:operation>
    <wsdl:operation name="GetShortStatecastValue">
      <wsdl:input wsaw:Action="http://tempuri.org/IAgentStatecastService/GetShortStatecastValue" message="tns:IAgentStatecastService_GetShortStatecastValue_InputMessage" />
      <wsdl:output wsaw:Action="http://tempuri.org/IAgentStatecastService/GetShortStatecastValueResponse" message="tns:IAgentStatecastService_GetShortStatecastValue_OutputMessage" />
    </wsdl:operation>
    <wsdl:operation name="GetStateCastVariableDefinitionData">
      <wsdl:input wsaw:Action="http://tempuri.org/IAgentStatecastService/GetStateCastVariableDefinitionData" message="tns:IAgentStatecastService_GetStateCastVariableDefinitionData_InputMessage" />
      <wsdl:output wsaw:Action="http://tempuri.org/IAgentStatecastService/GetStateCastVariableDefinitionDataResponse" message="tns:IAgentStatecastService_GetStateCastVariableDefinitionData_OutputMessage" />
    </wsdl:operation>
    <wsdl:operation name="GetUIntegerStatecastValue">
      <wsdl:input wsaw:Action="http://tempuri.org/IAgentStatecastService/GetUIntegerStatecastValue" message="tns:IAgentStatecastService_GetUIntegerStatecastValue_InputMessage" />
      <wsdl:output wsaw:Action="http://tempuri.org/IAgentStatecastService/GetUIntegerStatecastValueResponse" message="tns:IAgentStatecastService_GetUIntegerStatecastValue_OutputMessage" />
    </wsdl:operation>
    <wsdl:operation name="GetUShortStatecastValue">
      <wsdl:input wsaw:Action="http://tempuri.org/IAgentStatecastService/GetUShortStatecastValue" message="tns:IAgentStatecastService_GetUShortStatecastValue_InputMessage" />
      <wsdl:output wsaw:Action="http://tempuri.org/IAgentStatecastService/GetUShortStatecastValueResponse" message="tns:IAgentStatecastService_GetUShortStatecastValue_OutputMessage" />
    </wsdl:operation>
  </wsdl:portType>
  <wsdl:binding name="NetTcpBinding_IAgentStatecastService" type="tns:IAgentStatecastService">
    <wsp:PolicyReference URI="#NetTcpBinding_IAgentStatecastService_policy" />
    <soap12:binding transport="http://schemas.microsoft.com/soap/tcp" />
    <wsdl:operation name="GetSemVer">
      <soap12:operation soapAction="http://tempuri.org/IService/GetSemVer" style="document" />
      <wsdl:input>
        <soap12:body use="literal" />
      </wsdl:input>
      <wsdl:output>
        <soap12:body use="literal" />
      </wsdl:output>
    </wsdl:operation>
    <wsdl:operation name="GetEnumStatecastValue">
      <soap12:operation soapAction="http://tempuri.org/IAgentStatecastService/GetEnumStatecastValue" style="document" />
      <wsdl:input>
        <soap12:body use="literal" />
      </wsdl:input>
      <wsdl:output>
        <soap12:body use="literal" />
      </wsdl:output>
    </wsdl:operation>
    <wsdl:operation name="GetFloatStatecastValue">
      <soap12:operation soapAction="http://tempuri.org/IAgentStatecastService/GetFloatStatecastValue" style="document" />
      <wsdl:input>
        <soap12:body use="literal" />
      </wsdl:input>
      <wsdl:output>
        <soap12:body use="literal" />
      </wsdl:output>
    </wsdl:operation>
    <wsdl:operation name="GetIntegerStatecastValue">
      <soap12:operation soapAction="http://tempuri.org/IAgentStatecastService/GetIntegerStatecastValue" style="document" />
      <wsdl:input>
        <soap12:body use="literal" />
      </wsdl:input>
      <wsdl:output>
        <soap12:body use="literal" />
      </wsdl:output>
    </wsdl:operation>
    <wsdl:operation name="GetIPAddressStatecastValue">
      <soap12:operation soapAction="http://tempuri.org/IAgentStatecastService/GetIPAddressStatecastValue" style="document" />
      <wsdl:input>
        <soap12:body use="literal" />
      </wsdl:input>
      <wsdl:output>
        <soap12:body use="literal" />
      </wsdl:output>
    </wsdl:operation>
    <wsdl:operation name="GetShortStatecastValue">
      <soap12:operation soapAction="http://tempuri.org/IAgentStatecastService/GetShortStatecastValue" style="document" />
      <wsdl:input>
        <soap12:body use="literal" />
      </wsdl:input>
      <wsdl:output>
        <soap12:body use="literal" />
      </wsdl:output>
    </wsdl:operation>
    <wsdl:operation name="GetStateCastVariableDefinitionData">
      <soap12:operation soapAction="http://tempuri.org/IAgentStatecastService/GetStateCastVariableDefinitionData" style="document" />
      <wsdl:input>
        <soap12:body use="literal" />
      </wsdl:input>
      <wsdl:output>
        <soap12:body use="literal" />
      </wsdl:output>
    </wsdl:operation>
    <wsdl:operation name="GetUIntegerStatecastValue">
      <soap12:operation soapAction="http://tempuri.org/IAgentStatecastService/GetUIntegerStatecastValue" style="document" />
      <wsdl:input>
        <soap12:body use="literal" />
      </wsdl:input>
      <wsdl:output>
        <soap12:body use="literal" />
      </wsdl:output>
    </wsdl:operation>
    <wsdl:operation name="GetUShortStatecastValue">
      <soap12:operation soapAction="http://tempuri.org/IAgentStatecastService/GetUShortStatecastValue" style="document" />
      <wsdl:input>
        <soap12:body use="literal" />
      </wsdl:input>
      <wsdl:output>
        <soap12:body use="literal" />
      </wsdl:output>
    </wsdl:operation>
  </wsdl:binding>
  <wsdl:binding name="WSDualHttpBinding_IAgentStatecastService" type="tns:IAgentStatecastService">
    <wsp:PolicyReference URI="#WSDualHttpBinding_IAgentStatecastService_policy" />
    <soap12:binding transport="http://schemas.xmlsoap.org/soap/http" />
    <wsdl:operation name="GetSemVer">
      <soap12:operation soapAction="http://tempuri.org/IService/GetSemVer" style="document" />
      <wsdl:input>
        <soap12:body use="literal" />
      </wsdl:input>
      <wsdl:output>
        <soap12:body use="literal" />
      </wsdl:output>
    </wsdl:operation>
    <wsdl:operation name="GetEnumStatecastValue">
      <soap12:operation soapAction="http://tempuri.org/IAgentStatecastService/GetEnumStatecastValue" style="document" />
      <wsdl:input>
        <soap12:body use="literal" />
      </wsdl:input>
      <wsdl:output>
        <soap12:body use="literal" />
      </wsdl:output>
    </wsdl:operation>
    <wsdl:operation name="GetFloatStatecastValue">
      <soap12:operation soapAction="http://tempuri.org/IAgentStatecastService/GetFloatStatecastValue" style="document" />
      <wsdl:input>
        <soap12:body use="literal" />
      </wsdl:input>
      <wsdl:output>
        <soap12:body use="literal" />
      </wsdl:output>
    </wsdl:operation>
    <wsdl:operation name="GetIntegerStatecastValue">
      <soap12:operation soapAction="http://tempuri.org/IAgentStatecastService/GetIntegerStatecastValue" style="document" />
      <wsdl:input>
        <soap12:body use="literal" />
      </wsdl:input>
      <wsdl:output>
        <soap12:body use="literal" />
      </wsdl:output>
    </wsdl:operation>
    <wsdl:operation name="GetIPAddressStatecastValue">
      <soap12:operation soapAction="http://tempuri.org/IAgentStatecastService/GetIPAddressStatecastValue" style="document" />
      <wsdl:input>
        <soap12:body use="literal" />
      </wsdl:input>
      <wsdl:output>
        <soap12:body use="literal" />
      </wsdl:output>
    </wsdl:operation>
    <wsdl:operation name="GetShortStatecastValue">
      <soap12:operation soapAction="http://tempuri.org/IAgentStatecastService/GetShortStatecastValue" style="document" />
      <wsdl:input>
        <soap12:body use="literal" />
      </wsdl:input>
      <wsdl:output>
        <soap12:body use="literal" />
      </wsdl:output>
    </wsdl:operation>
    <wsdl:operation name="GetStateCastVariableDefinitionData">
      <soap12:operation soapAction="http://tempuri.org/IAgentStatecastService/GetStateCastVariableDefinitionData" style="document" />
      <wsdl:input>
        <soap12:body use="literal" />
      </wsdl:input>
      <wsdl:output>
        <soap12:body use="literal" />
      </wsdl:output>
    </wsdl:operation>
    <wsdl:operation name="GetUIntegerStatecastValue">
      <soap12:operation soapAction="http://tempuri.org/IAgentStatecastService/GetUIntegerStatecastValue" style="document" />
      <wsdl:input>
        <soap12:body use="literal" />
      </wsdl:input>
      <wsdl:output>
        <soap12:body use="literal" />
      </wsdl:output>
    </wsdl:operation>
    <wsdl:operation name="GetUShortStatecastValue">
      <soap12:operation soapAction="http://tempuri.org/IAgentStatecastService/GetUShortStatecastValue" style="document" />
      <wsdl:input>
        <soap12:body use="literal" />
      </wsdl:input>
      <wsdl:output>
        <soap12:body use="literal" />
      </wsdl:output>
    </wsdl:operation>
  </wsdl:binding>
  <wsdl:service name="AgentStatecastService">
    <wsdl:port name="NetTcpBinding_IAgentStatecastService" binding="tns:NetTcpBinding_IAgentStatecastService">
      <soap12:address location="net.tcp://127.0.0.1:41917/agentStatecast.svc" />
      <wsa10:EndpointReference>
        <wsa10:Address>net.tcp://127.0.0.1:41917/agentStatecast.svc</wsa10:Address>
      </wsa10:EndpointReference>
    </wsdl:port>
    <wsdl:port name="WSDualHttpBinding_IAgentStatecastService" binding="tns:WSDualHttpBinding_IAgentStatecastService">
      <soap12:address location="http://127.0.0.1:41916/agentStatecast.svc" />
      <wsa10:EndpointReference>
        <wsa10:Address>http://127.0.0.1:41916/agentStatecast.svc</wsa10:Address>
      </wsa10:EndpointReference>
    </wsdl:port>
  </wsdl:service>
</wsdl:definitions>