docfx_project/src/SchedulingClients/Service References/AgentBatteryStatusServiceReference/agentBatteryStatus1.xsd

<?xml version="1.0" encoding="utf-8"?>
<xs:schema xmlns:tns="http://schemas.datacontract.org/2004/07/Scheduling.Services.Agents" elementFormDefault="qualified" targetNamespace="http://schemas.datacontract.org/2004/07/Scheduling.Services.Agents" xmlns:xs="http://www.w3.org/2001/XMLSchema">
  <xs:complexType name="ArrayOfAgentBatteryStatusData">
    <xs:sequence>
      <xs:element minOccurs="0" maxOccurs="unbounded" name="AgentBatteryStatusData" nillable="true" type="tns:AgentBatteryStatusData" />
    </xs:sequence>
  </xs:complexType>
  <xs:element name="ArrayOfAgentBatteryStatusData" nillable="true" type="tns:ArrayOfAgentBatteryStatusData" />
  <xs:complexType name="AgentBatteryStatusData">
    <xs:sequence>
      <xs:element minOccurs="0" name="BatteryChargePercentage" type="xs:double" />
      <xs:element minOccurs="0" name="Id" type="xs:int" />
    </xs:sequence>
  </xs:complexType>
  <xs:element name="AgentBatteryStatusData" nillable="true" type="tns:AgentBatteryStatusData" />
</xs:schema>