src/SchedulingClients.Core/Service References/JobStateServiceReference/jobState4.xsd

<?xml version="1.0" encoding="utf-8"?>
<xs:schema xmlns:tns="http://schemas.datacontract.org/2004/07/Scheduling.Services.Jobs.Dtos" elementFormDefault="qualified" targetNamespace="http://schemas.datacontract.org/2004/07/Scheduling.Services.Jobs.Dtos" xmlns:xs="http://www.w3.org/2001/XMLSchema">
  <xs:import schemaLocation="http://127.0.0.1:41916/jobState.svc?xsd=xsd3" namespace="http://schemas.datacontract.org/2004/07/GAAPICommon.Architecture" />
  <xs:complexType name="JobProgressDto">
    <xs:sequence>
      <xs:element minOccurs="0" name="AssignedAgentId" type="xs:int" />
      <xs:element minOccurs="0" name="JobId" type="xs:int" />
      <xs:element xmlns:q1="http://schemas.datacontract.org/2004/07/GAAPICommon.Architecture" minOccurs="0" name="JobStatus" type="q1:JobStatus" />
    </xs:sequence>
  </xs:complexType>
  <xs:element name="JobProgressDto" nillable="true" type="tns:JobProgressDto" />
</xs:schema>