src/SchedulingClients/Service References/JobStateServiceReference/jobState5.xsd

<?xml version="1.0" encoding="utf-8"?>
<xs:schema xmlns:tns="http://schemas.datacontract.org/2004/07/Scheduling.Services.Jobs.Dtos" elementFormDefault="qualified" targetNamespace="http://schemas.datacontract.org/2004/07/Scheduling.Services.Jobs.Dtos" xmlns:xs="http://www.w3.org/2001/XMLSchema">
  <xs:import schemaLocation="http://127.0.0.1:41916/jobState.svc?xsd=xsd4" namespace="http://schemas.datacontract.org/2004/07/GACore.Architecture" />
  <xs:import schemaLocation="http://127.0.0.1:41916/jobState.svc?xsd=xsd5" namespace="http://schemas.microsoft.com/2003/10/Serialization/Arrays" />
  <xs:complexType name="JobSummaryDto">
    <xs:sequence>
      <xs:element minOccurs="0" name="AssignedAgentId" type="xs:int" />
      <xs:element minOccurs="0" name="Description" nillable="true" type="xs:string" />
      <xs:element minOccurs="0" name="JobId" type="xs:int" />
      <xs:element xmlns:q1="http://schemas.datacontract.org/2004/07/GACore.Architecture" minOccurs="0" name="JobStatus" type="q1:JobStatus" />
      <xs:element xmlns:q2="http://schemas.microsoft.com/2003/10/Serialization/Arrays" minOccurs="0" name="Notes" nillable="true" type="q2:ArrayOfstring" />
      <xs:element minOccurs="0" name="RootOrderedListTaskId" type="xs:int" />
      <xs:element minOccurs="0" name="TaskSummaries" nillable="true" type="tns:ArrayOfTaskSummaryDto" />
    </xs:sequence>
  </xs:complexType>
  <xs:element name="JobSummaryDto" nillable="true" type="tns:JobSummaryDto" />
  <xs:complexType name="ArrayOfTaskSummaryDto">
    <xs:sequence>
      <xs:element minOccurs="0" maxOccurs="unbounded" name="TaskSummaryDto" nillable="true" type="tns:TaskSummaryDto" />
    </xs:sequence>
  </xs:complexType>
  <xs:element name="ArrayOfTaskSummaryDto" nillable="true" type="tns:ArrayOfTaskSummaryDto" />
  <xs:complexType name="TaskSummaryDto">
    <xs:sequence>
      <xs:element minOccurs="0" name="NodeTaskSummaryData" nillable="true" type="tns:NodeTaskSummaryDto" />
      <xs:element minOccurs="0" name="ParentTaskId" nillable="true" type="xs:int" />
      <xs:element minOccurs="0" name="TaskId" type="xs:int" />
      <xs:element xmlns:q3="http://schemas.datacontract.org/2004/07/GACore.Architecture" minOccurs="0" name="TaskStatus" type="q3:TaskStatus" />
      <xs:element xmlns:q4="http://schemas.datacontract.org/2004/07/GACore.Architecture" minOccurs="0" name="TaskType" type="q4:TaskType" />
    </xs:sequence>
  </xs:complexType>
  <xs:element name="TaskSummaryDto" nillable="true" type="tns:TaskSummaryDto" />
  <xs:complexType name="NodeTaskSummaryDto">
    <xs:sequence>
      <xs:element minOccurs="0" name="NodeId" type="xs:int" />
    </xs:sequence>
  </xs:complexType>
  <xs:element name="NodeTaskSummaryDto" nillable="true" type="tns:NodeTaskSummaryDto" />
  <xs:complexType name="JobProgressDto">
    <xs:sequence>
      <xs:element minOccurs="0" name="AssignedAgentId" type="xs:int" />
      <xs:element minOccurs="0" name="JobId" type="xs:int" />
      <xs:element xmlns:q5="http://schemas.datacontract.org/2004/07/GACore.Architecture" minOccurs="0" name="JobStatus" type="q5:JobStatus" />
    </xs:sequence>
  </xs:complexType>
  <xs:element name="JobProgressDto" nillable="true" type="tns:JobProgressDto" />
</xs:schema>