SchedulingClients/Service References/JobStateServiceReference/jobState2.xsd

<?xml version="1.0" encoding="utf-8"?>
<xs:schema xmlns:tns="http://schemas.datacontract.org/2004/07/System" elementFormDefault="qualified" targetNamespace="http://schemas.datacontract.org/2004/07/System" xmlns:xs="http://www.w3.org/2001/XMLSchema">
  <xs:import schemaLocation="http://127.0.0.1:41916/jobState.svc?xsd=xsd3" namespace="http://schemas.datacontract.org/2004/07/GACore" />
  <xs:import schemaLocation="http://127.0.0.1:41916/jobState.svc?xsd=xsd4" namespace="http://schemas.datacontract.org/2004/07/Services" />
  <xs:import schemaLocation="http://127.0.0.1:41916/jobState.svc?xsd=xsd5" namespace="http://schemas.datacontract.org/2004/07/Scheduling.Services.Jobs" />
  <xs:complexType name="TupleOfSemVerDataServiceCallData20ExA2_SX">
    <xs:annotation>
      <xs:appinfo>
        <GenericType Name="TupleOf{0}{1}{#}" Namespace="http://schemas.datacontract.org/2004/07/System" xmlns="http://schemas.microsoft.com/2003/10/Serialization/">
          <GenericParameter Name="SemVerData" Namespace="http://schemas.datacontract.org/2004/07/GACore" />
          <GenericParameter Name="ServiceCallData" Namespace="http://schemas.datacontract.org/2004/07/Services" />
        </GenericType>
      </xs:appinfo>
    </xs:annotation>
    <xs:sequence>
      <xs:element xmlns:q1="http://schemas.datacontract.org/2004/07/GACore" name="m_Item1" nillable="true" type="q1:SemVerData" />
      <xs:element xmlns:q2="http://schemas.datacontract.org/2004/07/Services" name="m_Item2" nillable="true" type="q2:ServiceCallData" />
    </xs:sequence>
  </xs:complexType>
  <xs:element name="TupleOfSemVerDataServiceCallData20ExA2_SX" nillable="true" type="tns:TupleOfSemVerDataServiceCallData20ExA2_SX" />
  <xs:complexType name="TupleOfJobSummaryDataServiceCallDatasRA0sedl">
    <xs:annotation>
      <xs:appinfo>
        <GenericType Name="TupleOf{0}{1}{#}" Namespace="http://schemas.datacontract.org/2004/07/System" xmlns="http://schemas.microsoft.com/2003/10/Serialization/">
          <GenericParameter Name="JobSummaryData" Namespace="http://schemas.datacontract.org/2004/07/Scheduling.Services.Jobs" />
          <GenericParameter Name="ServiceCallData" Namespace="http://schemas.datacontract.org/2004/07/Services" />
        </GenericType>
      </xs:appinfo>
    </xs:annotation>
    <xs:sequence>
      <xs:element xmlns:q3="http://schemas.datacontract.org/2004/07/Scheduling.Services.Jobs" name="m_Item1" nillable="true" type="q3:JobSummaryData" />
      <xs:element xmlns:q4="http://schemas.datacontract.org/2004/07/Services" name="m_Item2" nillable="true" type="q4:ServiceCallData" />
    </xs:sequence>
  </xs:complexType>
  <xs:element name="TupleOfJobSummaryDataServiceCallDatasRA0sedl" nillable="true" type="tns:TupleOfJobSummaryDataServiceCallDatasRA0sedl" />
</xs:schema>