CSharp/SchedulingClients/Service References/AgentAttentionServiceReference/agentAttention1.xsd

<?xml version="1.0" encoding="utf-8"?>
<xs:schema xmlns:tns="http://schemas.datacontract.org/2004/07/System" elementFormDefault="qualified" targetNamespace="http://schemas.datacontract.org/2004/07/System" xmlns:xs="http://www.w3.org/2001/XMLSchema">
  <xs:import schemaLocation="http://127.0.0.1:41916/agentAttention.svc?xsd=xsd2" namespace="http://schemas.datacontract.org/2004/07/SchedulingServices" />
  <xs:complexType name="ArrayOfTupleOfintAttentionType4OXgGP0W">
    <xs:sequence>
      <xs:element minOccurs="0" maxOccurs="unbounded" name="TupleOfintAttentionType4OXgGP0W" nillable="true" type="tns:TupleOfintAttentionType4OXgGP0W" />
    </xs:sequence>
  </xs:complexType>
  <xs:element name="ArrayOfTupleOfintAttentionType4OXgGP0W" nillable="true" type="tns:ArrayOfTupleOfintAttentionType4OXgGP0W" />
  <xs:complexType name="TupleOfintAttentionType4OXgGP0W">
    <xs:annotation>
      <xs:appinfo>
        <GenericType Name="TupleOf{0}{1}{#}" Namespace="http://schemas.datacontract.org/2004/07/System" xmlns="http://schemas.microsoft.com/2003/10/Serialization/">
          <GenericParameter Name="int" Namespace="http://www.w3.org/2001/XMLSchema" />
          <GenericParameter Name="AttentionType" Namespace="http://schemas.datacontract.org/2004/07/SchedulingServices" />
        </GenericType>
      </xs:appinfo>
    </xs:annotation>
    <xs:sequence>
      <xs:element name="m_Item1" type="xs:int" />
      <xs:element xmlns:q1="http://schemas.datacontract.org/2004/07/SchedulingServices" name="m_Item2" type="q1:AttentionType" />
    </xs:sequence>
  </xs:complexType>
  <xs:element name="TupleOfintAttentionType4OXgGP0W" nillable="true" type="tns:TupleOfintAttentionType4OXgGP0W" />
</xs:schema>