CSharp/SchedulingClients/Service References/AgentAttentionServiceReference/agentAttention.xsd

<?xml version="1.0" encoding="utf-8"?>
<xs:schema xmlns:tns="http://schemas.datacontract.org/2004/07/Scheduling.Services.Agents" elementFormDefault="qualified" targetNamespace="http://schemas.datacontract.org/2004/07/Scheduling.Services.Agents" xmlns:xs="http://www.w3.org/2001/XMLSchema">
  <xs:complexType name="ArrayOfAgentAttentionData">
    <xs:sequence>
      <xs:element minOccurs="0" maxOccurs="unbounded" name="AgentAttentionData" nillable="true" type="tns:AgentAttentionData" />
    </xs:sequence>
  </xs:complexType>
  <xs:element name="ArrayOfAgentAttentionData" nillable="true" type="tns:ArrayOfAgentAttentionData" />
  <xs:complexType name="AgentAttentionData">
    <xs:sequence>
      <xs:element minOccurs="0" name="AgentId" type="xs:int" />
      <xs:element minOccurs="0" name="AttentionType" type="tns:AttentionType" />
    </xs:sequence>
  </xs:complexType>
  <xs:element name="AgentAttentionData" nillable="true" type="tns:AgentAttentionData" />
  <xs:simpleType name="AttentionType">
    <xs:restriction base="xs:string">
      <xs:enumeration value="Physical" />
      <xs:enumeration value="GUI" />
      <xs:enumeration value="Comms" />
      <xs:enumeration value="None" />
    </xs:restriction>
  </xs:simpleType>
  <xs:element name="AttentionType" nillable="true" type="tns:AttentionType" />
</xs:schema>