CSharp/SchedulingClients/Service References/AgentAttentionServiceReference/agentAttention.xsd

<?xml version="1.0" encoding="utf-8"?>
<xs:schema xmlns:tns="http://schemas.datacontract.org/2004/07/Scheduling.Services.Agents" elementFormDefault="qualified" targetNamespace="http://schemas.datacontract.org/2004/07/Scheduling.Services.Agents" xmlns:xs="http://www.w3.org/2001/XMLSchema">
  <xs:import schemaLocation="http://127.0.0.1:41916/agentAttention.svc?xsd=xsd3" namespace="http://schemas.datacontract.org/2004/07/System" />
  <xs:complexType name="AgentAttentionData">
    <xs:sequence>
      <xs:element xmlns:q1="http://schemas.datacontract.org/2004/07/System" minOccurs="0" name="RequiringAttention" nillable="true" type="q1:ArrayOfTupleOfintAttentionTypemhFSb78F" />
    </xs:sequence>
  </xs:complexType>
  <xs:element name="AgentAttentionData" nillable="true" type="tns:AgentAttentionData" />
  <xs:simpleType name="AttentionType">
    <xs:restriction base="xs:string">
      <xs:enumeration value="Physical" />
      <xs:enumeration value="GUI" />
      <xs:enumeration value="Comms" />
      <xs:enumeration value="None" />
    </xs:restriction>
  </xs:simpleType>
  <xs:element name="AttentionType" nillable="true" type="tns:AttentionType" />
</xs:schema>