SchedulingClients/Service References/MapServiceReference/map3.xsd

<?xml version="1.0" encoding="utf-8"?>
<xs:schema xmlns:tns="http://schemas.datacontract.org/2004/07/System" elementFormDefault="qualified" targetNamespace="http://schemas.datacontract.org/2004/07/System" xmlns:xs="http://www.w3.org/2001/XMLSchema">
  <xs:import schemaLocation="http://127.0.0.1:41916/map.svc?xsd=xsd3" namespace="http://schemas.datacontract.org/2004/07/GACore" />
  <xs:import schemaLocation="http://127.0.0.1:41916/map.svc?xsd=xsd4" namespace="http://schemas.datacontract.org/2004/07/Services" />
  <xs:import schemaLocation="http://127.0.0.1:41916/map.svc?xsd=xsd5" namespace="http://schemas.datacontract.org/2004/07/Scheduling.Services.Maps" />
  <xs:complexType name="TupleOfSemVerDataServiceCallData20ExA2_SX">
    <xs:annotation>
      <xs:appinfo>
        <GenericType Name="TupleOf{0}{1}{#}" Namespace="http://schemas.datacontract.org/2004/07/System" xmlns="http://schemas.microsoft.com/2003/10/Serialization/">
          <GenericParameter Name="SemVerData" Namespace="http://schemas.datacontract.org/2004/07/GACore" />
          <GenericParameter Name="ServiceCallData" Namespace="http://schemas.datacontract.org/2004/07/Services" />
        </GenericType>
      </xs:appinfo>
    </xs:annotation>
    <xs:sequence>
      <xs:element xmlns:q1="http://schemas.datacontract.org/2004/07/GACore" name="m_Item1" nillable="true" type="q1:SemVerData" />
      <xs:element xmlns:q2="http://schemas.datacontract.org/2004/07/Services" name="m_Item2" nillable="true" type="q2:ServiceCallData" />
    </xs:sequence>
  </xs:complexType>
  <xs:element name="TupleOfSemVerDataServiceCallData20ExA2_SX" nillable="true" type="tns:TupleOfSemVerDataServiceCallData20ExA2_SX" />
  <xs:complexType name="TupleOfOccupyingMandateProgressDataServiceCallDatay10cTlVK">
    <xs:annotation>
      <xs:appinfo>
        <GenericType Name="TupleOf{0}{1}{#}" Namespace="http://schemas.datacontract.org/2004/07/System" xmlns="http://schemas.microsoft.com/2003/10/Serialization/">
          <GenericParameter Name="OccupyingMandateProgressData" Namespace="http://schemas.datacontract.org/2004/07/Scheduling.Services.Maps" />
          <GenericParameter Name="ServiceCallData" Namespace="http://schemas.datacontract.org/2004/07/Services" />
        </GenericType>
      </xs:appinfo>
    </xs:annotation>
    <xs:sequence>
      <xs:element xmlns:q3="http://schemas.datacontract.org/2004/07/Scheduling.Services.Maps" name="m_Item1" nillable="true" type="q3:OccupyingMandateProgressData" />
      <xs:element xmlns:q4="http://schemas.datacontract.org/2004/07/Services" name="m_Item2" nillable="true" type="q4:ServiceCallData" />
    </xs:sequence>
  </xs:complexType>
  <xs:element name="TupleOfOccupyingMandateProgressDataServiceCallDatay10cTlVK" nillable="true" type="tns:TupleOfOccupyingMandateProgressDataServiceCallDatay10cTlVK" />
  <xs:complexType name="TupleOfArrayOfMoveDataServiceCallDatay10cTlVK">
    <xs:annotation>
      <xs:appinfo>
        <GenericType Name="TupleOf{0}{1}{#}" Namespace="http://schemas.datacontract.org/2004/07/System" xmlns="http://schemas.microsoft.com/2003/10/Serialization/">
          <GenericParameter Name="ArrayOfMoveData" Namespace="http://schemas.datacontract.org/2004/07/Scheduling.Services.Maps" />
          <GenericParameter Name="ServiceCallData" Namespace="http://schemas.datacontract.org/2004/07/Services" />
        </GenericType>
      </xs:appinfo>
    </xs:annotation>
    <xs:sequence>
      <xs:element xmlns:q5="http://schemas.datacontract.org/2004/07/Scheduling.Services.Maps" name="m_Item1" nillable="true" type="q5:ArrayOfMoveData" />
      <xs:element xmlns:q6="http://schemas.datacontract.org/2004/07/Services" name="m_Item2" nillable="true" type="q6:ServiceCallData" />
    </xs:sequence>
  </xs:complexType>
  <xs:element name="TupleOfArrayOfMoveDataServiceCallDatay10cTlVK" nillable="true" type="tns:TupleOfArrayOfMoveDataServiceCallDatay10cTlVK" />
  <xs:complexType name="TupleOfArrayOfNodeDataServiceCallDatay10cTlVK">
    <xs:annotation>
      <xs:appinfo>
        <GenericType Name="TupleOf{0}{1}{#}" Namespace="http://schemas.datacontract.org/2004/07/System" xmlns="http://schemas.microsoft.com/2003/10/Serialization/">
          <GenericParameter Name="ArrayOfNodeData" Namespace="http://schemas.datacontract.org/2004/07/Scheduling.Services.Maps" />
          <GenericParameter Name="ServiceCallData" Namespace="http://schemas.datacontract.org/2004/07/Services" />
        </GenericType>
      </xs:appinfo>
    </xs:annotation>
    <xs:sequence>
      <xs:element xmlns:q7="http://schemas.datacontract.org/2004/07/Scheduling.Services.Maps" name="m_Item1" nillable="true" type="q7:ArrayOfNodeData" />
      <xs:element xmlns:q8="http://schemas.datacontract.org/2004/07/Services" name="m_Item2" nillable="true" type="q8:ServiceCallData" />
    </xs:sequence>
  </xs:complexType>
  <xs:element name="TupleOfArrayOfNodeDataServiceCallDatay10cTlVK" nillable="true" type="tns:TupleOfArrayOfNodeDataServiceCallDatay10cTlVK" />
  <xs:complexType name="TupleOfArrayOfParameterDataServiceCallDatay10cTlVK">
    <xs:annotation>
      <xs:appinfo>
        <GenericType Name="TupleOf{0}{1}{#}" Namespace="http://schemas.datacontract.org/2004/07/System" xmlns="http://schemas.microsoft.com/2003/10/Serialization/">
          <GenericParameter Name="ArrayOfParameterData" Namespace="http://schemas.datacontract.org/2004/07/Scheduling.Services.Maps" />
          <GenericParameter Name="ServiceCallData" Namespace="http://schemas.datacontract.org/2004/07/Services" />
        </GenericType>
      </xs:appinfo>
    </xs:annotation>
    <xs:sequence>
      <xs:element xmlns:q9="http://schemas.datacontract.org/2004/07/Scheduling.Services.Maps" name="m_Item1" nillable="true" type="q9:ArrayOfParameterData" />
      <xs:element xmlns:q10="http://schemas.datacontract.org/2004/07/Services" name="m_Item2" nillable="true" type="q10:ServiceCallData" />
    </xs:sequence>
  </xs:complexType>
  <xs:element name="TupleOfArrayOfParameterDataServiceCallDatay10cTlVK" nillable="true" type="tns:TupleOfArrayOfParameterDataServiceCallDatay10cTlVK" />
  <xs:complexType name="TupleOfArrayOfWaypointDataServiceCallDatay10cTlVK">
    <xs:annotation>
      <xs:appinfo>
        <GenericType Name="TupleOf{0}{1}{#}" Namespace="http://schemas.datacontract.org/2004/07/System" xmlns="http://schemas.microsoft.com/2003/10/Serialization/">
          <GenericParameter Name="ArrayOfWaypointData" Namespace="http://schemas.datacontract.org/2004/07/Scheduling.Services.Maps" />
          <GenericParameter Name="ServiceCallData" Namespace="http://schemas.datacontract.org/2004/07/Services" />
        </GenericType>
      </xs:appinfo>
    </xs:annotation>
    <xs:sequence>
      <xs:element xmlns:q11="http://schemas.datacontract.org/2004/07/Scheduling.Services.Maps" name="m_Item1" nillable="true" type="q11:ArrayOfWaypointData" />
      <xs:element xmlns:q12="http://schemas.datacontract.org/2004/07/Services" name="m_Item2" nillable="true" type="q12:ServiceCallData" />
    </xs:sequence>
  </xs:complexType>
  <xs:element name="TupleOfArrayOfWaypointDataServiceCallDatay10cTlVK" nillable="true" type="tns:TupleOfArrayOfWaypointDataServiceCallDatay10cTlVK" />
</xs:schema>