src/SchedulingClients.Core/Service References/AgentServiceReference/AgentService.wsdl

<?xml version="1.0" encoding="utf-8"?>
<wsdl:definitions xmlns:wsap="http://schemas.xmlsoap.org/ws/2004/08/addressing/policy" xmlns:wsa10="http://www.w3.org/2005/08/addressing" xmlns:tns="http://tempuri.org/" xmlns:msc="http://schemas.microsoft.com/ws/2005/12/wsdl/contract" xmlns:soapenc="http://schemas.xmlsoap.org/soap/encoding/" xmlns:wsx="http://schemas.xmlsoap.org/ws/2004/09/mex" xmlns:wsp="http://schemas.xmlsoap.org/ws/2004/09/policy" xmlns:wsam="http://www.w3.org/2007/05/addressing/metadata" xmlns:wsa="http://schemas.xmlsoap.org/ws/2004/08/addressing" xmlns:wsaw="http://www.w3.org/2006/05/addressing/wsdl" xmlns:soap="http://schemas.xmlsoap.org/wsdl/soap/" xmlns:soap12="http://schemas.xmlsoap.org/wsdl/soap12/" xmlns:wsu="http://docs.oasis-open.org/wss/2004/01/oasis-200401-wss-wssecurity-utility-1.0.xsd" xmlns:xsd="http://www.w3.org/2001/XMLSchema" name="AgentService" targetNamespace="http://tempuri.org/" xmlns:wsdl="http://schemas.xmlsoap.org/wsdl/">
  <wsp:Policy wsu:Id="WSDualHttpBinding_IAgentService_policy">
    <wsp:ExactlyOne>
      <wsp:All>
        <wsrm:RMAssertion xmlns:wsrm="http://schemas.xmlsoap.org/ws/2005/02/rm/policy">
          <wsrm:InactivityTimeout Milliseconds="600000" />
          <wsrm:AcknowledgementInterval Milliseconds="200" />
        </wsrm:RMAssertion>
        <cdp:CompositeDuplex xmlns:cdp="http://schemas.microsoft.com/net/2006/06/duplex" />
        <ow:OneWay xmlns:ow="http://schemas.microsoft.com/ws/2005/05/routing/policy" />
        <wsaw:UsingAddressing />
      </wsp:All>
    </wsp:ExactlyOne>
  </wsp:Policy>
  <wsp:Policy wsu:Id="NetTcpBinding_IAgentService_policy">
    <wsp:ExactlyOne>
      <wsp:All>
        <msb:BinaryEncoding xmlns:msb="http://schemas.microsoft.com/ws/06/2004/mspolicy/netbinary1" />
        <wsaw:UsingAddressing />
      </wsp:All>
    </wsp:ExactlyOne>
  </wsp:Policy>
  <wsdl:types>
    <xsd:schema targetNamespace="http://tempuri.org/Imports">
      <xsd:import schemaLocation="http://127.0.0.1:41916/agent.svc?xsd=xsd0" namespace="http://tempuri.org/" />
      <xsd:import schemaLocation="http://127.0.0.1:41916/agent.svc?xsd=xsd1" namespace="http://schemas.microsoft.com/2003/10/Serialization/" />
      <xsd:import schemaLocation="http://127.0.0.1:41916/agent.svc?xsd=xsd2" namespace="http://schemas.datacontract.org/2004/07/GAAPICommon.Core.Dtos" />
      <xsd:import schemaLocation="http://127.0.0.1:41916/agent.svc?xsd=xsd3" namespace="http://schemas.datacontract.org/2004/07/Scheduling.Services.Agents.Dtos" />
      <xsd:import schemaLocation="http://127.0.0.1:41916/agent.svc?xsd=xsd4" namespace="http://schemas.datacontract.org/2004/07/GAAPICommon.Architecture" />
      <xsd:import schemaLocation="http://127.0.0.1:41916/agent.svc?xsd=xsd5" namespace="http://schemas.datacontract.org/2004/07/System.Net" />
      <xsd:import schemaLocation="http://127.0.0.1:41916/agent.svc?xsd=xsd6" namespace="http://schemas.datacontract.org/2004/07/System.Net.Sockets" />
      <xsd:import schemaLocation="http://127.0.0.1:41916/agent.svc?xsd=xsd7" namespace="http://schemas.microsoft.com/2003/10/Serialization/Arrays" />
    </xsd:schema>
  </wsdl:types>
  <wsdl:message name="IAgentService_GetAPISemVer_InputMessage">
    <wsdl:part name="parameters" element="tns:GetAPISemVer" />
  </wsdl:message>
  <wsdl:message name="IAgentService_GetAPISemVer_OutputMessage">
    <wsdl:part name="parameters" element="tns:GetAPISemVerResponse" />
  </wsdl:message>
  <wsdl:message name="IAgentService_GetAllAgentData_InputMessage">
    <wsdl:part name="parameters" element="tns:GetAllAgentData" />
  </wsdl:message>
  <wsdl:message name="IAgentService_GetAllAgentData_OutputMessage">
    <wsdl:part name="parameters" element="tns:GetAllAgentDataResponse" />
  </wsdl:message>
  <wsdl:message name="IAgentService_GetAllAgentsInLifetimeState_InputMessage">
    <wsdl:part name="parameters" element="tns:GetAllAgentsInLifetimeState" />
  </wsdl:message>
  <wsdl:message name="IAgentService_GetAllAgentsInLifetimeState_OutputMessage">
    <wsdl:part name="parameters" element="tns:GetAllAgentsInLifetimeStateResponse" />
  </wsdl:message>
  <wsdl:message name="IAgentService_SetAgentLifetimeState_InputMessage">
    <wsdl:part name="parameters" element="tns:SetAgentLifetimeState" />
  </wsdl:message>
  <wsdl:message name="IAgentService_SetAgentLifetimeState_OutputMessage">
    <wsdl:part name="parameters" element="tns:SetAgentLifetimeStateResponse" />
  </wsdl:message>
  <wsdl:portType name="IAgentService">
    <wsdl:operation name="GetAPISemVer">
      <wsdl:input wsaw:Action="http://tempuri.org/IService/GetAPISemVer" message="tns:IAgentService_GetAPISemVer_InputMessage" />
      <wsdl:output wsaw:Action="http://tempuri.org/IService/GetAPISemVerResponse" message="tns:IAgentService_GetAPISemVer_OutputMessage" />
    </wsdl:operation>
    <wsdl:operation name="GetAllAgentData">
      <wsdl:input wsaw:Action="http://tempuri.org/IAgentService/GetAllAgentData" message="tns:IAgentService_GetAllAgentData_InputMessage" />
      <wsdl:output wsaw:Action="http://tempuri.org/IAgentService/GetAllAgentDataResponse" message="tns:IAgentService_GetAllAgentData_OutputMessage" />
    </wsdl:operation>
    <wsdl:operation name="GetAllAgentsInLifetimeState">
      <wsdl:input wsaw:Action="http://tempuri.org/IAgentService/GetAllAgentsInLifetimeState" message="tns:IAgentService_GetAllAgentsInLifetimeState_InputMessage" />
      <wsdl:output wsaw:Action="http://tempuri.org/IAgentService/GetAllAgentsInLifetimeStateResponse" message="tns:IAgentService_GetAllAgentsInLifetimeState_OutputMessage" />
    </wsdl:operation>
    <wsdl:operation name="SetAgentLifetimeState">
      <wsdl:input wsaw:Action="http://tempuri.org/IAgentService/SetAgentLifetimeState" message="tns:IAgentService_SetAgentLifetimeState_InputMessage" />
      <wsdl:output wsaw:Action="http://tempuri.org/IAgentService/SetAgentLifetimeStateResponse" message="tns:IAgentService_SetAgentLifetimeState_OutputMessage" />
    </wsdl:operation>
  </wsdl:portType>
  <wsdl:binding name="WSDualHttpBinding_IAgentService" type="tns:IAgentService">
    <wsp:PolicyReference URI="#WSDualHttpBinding_IAgentService_policy" />
    <soap12:binding transport="http://schemas.xmlsoap.org/soap/http" />
    <wsdl:operation name="GetAPISemVer">
      <soap12:operation soapAction="http://tempuri.org/IService/GetAPISemVer" style="document" />
      <wsdl:input>
        <soap12:body use="literal" />
      </wsdl:input>
      <wsdl:output>
        <soap12:body use="literal" />
      </wsdl:output>
    </wsdl:operation>
    <wsdl:operation name="GetAllAgentData">
      <soap12:operation soapAction="http://tempuri.org/IAgentService/GetAllAgentData" style="document" />
      <wsdl:input>
        <soap12:body use="literal" />
      </wsdl:input>
      <wsdl:output>
        <soap12:body use="literal" />
      </wsdl:output>
    </wsdl:operation>
    <wsdl:operation name="GetAllAgentsInLifetimeState">
      <soap12:operation soapAction="http://tempuri.org/IAgentService/GetAllAgentsInLifetimeState" style="document" />
      <wsdl:input>
        <soap12:body use="literal" />
      </wsdl:input>
      <wsdl:output>
        <soap12:body use="literal" />
      </wsdl:output>
    </wsdl:operation>
    <wsdl:operation name="SetAgentLifetimeState">
      <soap12:operation soapAction="http://tempuri.org/IAgentService/SetAgentLifetimeState" style="document" />
      <wsdl:input>
        <soap12:body use="literal" />
      </wsdl:input>
      <wsdl:output>
        <soap12:body use="literal" />
      </wsdl:output>
    </wsdl:operation>
  </wsdl:binding>
  <wsdl:binding name="NetTcpBinding_IAgentService" type="tns:IAgentService">
    <wsp:PolicyReference URI="#NetTcpBinding_IAgentService_policy" />
    <soap12:binding transport="http://schemas.microsoft.com/soap/tcp" />
    <wsdl:operation name="GetAPISemVer">
      <soap12:operation soapAction="http://tempuri.org/IService/GetAPISemVer" style="document" />
      <wsdl:input>
        <soap12:body use="literal" />
      </wsdl:input>
      <wsdl:output>
        <soap12:body use="literal" />
      </wsdl:output>
    </wsdl:operation>
    <wsdl:operation name="GetAllAgentData">
      <soap12:operation soapAction="http://tempuri.org/IAgentService/GetAllAgentData" style="document" />
      <wsdl:input>
        <soap12:body use="literal" />
      </wsdl:input>
      <wsdl:output>
        <soap12:body use="literal" />
      </wsdl:output>
    </wsdl:operation>
    <wsdl:operation name="GetAllAgentsInLifetimeState">
      <soap12:operation soapAction="http://tempuri.org/IAgentService/GetAllAgentsInLifetimeState" style="document" />
      <wsdl:input>
        <soap12:body use="literal" />
      </wsdl:input>
      <wsdl:output>
        <soap12:body use="literal" />
      </wsdl:output>
    </wsdl:operation>
    <wsdl:operation name="SetAgentLifetimeState">
      <soap12:operation soapAction="http://tempuri.org/IAgentService/SetAgentLifetimeState" style="document" />
      <wsdl:input>
        <soap12:body use="literal" />
      </wsdl:input>
      <wsdl:output>
        <soap12:body use="literal" />
      </wsdl:output>
    </wsdl:operation>
  </wsdl:binding>
  <wsdl:service name="AgentService">
    <wsdl:port name="WSDualHttpBinding_IAgentService" binding="tns:WSDualHttpBinding_IAgentService">
      <soap12:address location="http://127.0.0.1:41916/agent.svc" />
      <wsa10:EndpointReference>
        <wsa10:Address>http://127.0.0.1:41916/agent.svc</wsa10:Address>
      </wsa10:EndpointReference>
    </wsdl:port>
    <wsdl:port name="NetTcpBinding_IAgentService" binding="tns:NetTcpBinding_IAgentService">
      <soap12:address location="net.tcp://127.0.0.1:41917/agent.svc" />
      <wsa10:EndpointReference>
        <wsa10:Address>net.tcp://127.0.0.1:41917/agent.svc</wsa10:Address>
      </wsa10:EndpointReference>
    </wsdl:port>
  </wsdl:service>
</wsdl:definitions>