src/SchedulingClients.Core/Service References/AgentServiceReference/agent3.xsd

<?xml version="1.0" encoding="utf-8"?>
<xs:schema xmlns:tns="http://schemas.datacontract.org/2004/07/GAAPICommon.Core.Dtos" elementFormDefault="qualified" targetNamespace="http://schemas.datacontract.org/2004/07/GAAPICommon.Core.Dtos" xmlns:xs="http://www.w3.org/2001/XMLSchema">
  <xs:import schemaLocation="http://127.0.0.1:41916/agent.svc?xsd=xsd3" namespace="http://schemas.datacontract.org/2004/07/GAAPICommon.Architecture" />
  <xs:import schemaLocation="http://127.0.0.1:41916/agent.svc?xsd=xsd4" namespace="http://schemas.datacontract.org/2004/07/System.Net" />
  <xs:complexType name="ServiceCallResultDtoOfSemVerDtoroFpNV7u">
    <xs:annotation>
      <xs:appinfo>
        <GenericType Name="ServiceCallResultDtoOf{0}{#}" Namespace="http://schemas.datacontract.org/2004/07/GAAPICommon.Core.Dtos" xmlns="http://schemas.microsoft.com/2003/10/Serialization/">
          <GenericParameter Name="SemVerDto" Namespace="http://schemas.datacontract.org/2004/07/GAAPICommon.Core.Dtos" />
        </GenericType>
      </xs:appinfo>
    </xs:annotation>
    <xs:complexContent mixed="false">
      <xs:extension base="tns:ServiceCallResultDto">
        <xs:sequence>
          <xs:element minOccurs="0" name="Value" nillable="true" type="tns:SemVerDto" />
        </xs:sequence>
      </xs:extension>
    </xs:complexContent>
  </xs:complexType>
  <xs:element name="ServiceCallResultDtoOfSemVerDtoroFpNV7u" nillable="true" type="tns:ServiceCallResultDtoOfSemVerDtoroFpNV7u" />
  <xs:complexType name="ServiceCallResultDto">
    <xs:sequence>
      <xs:element minOccurs="0" name="ExceptionMessage" nillable="true" type="xs:string" />
      <xs:element minOccurs="0" name="ExceptionSource" nillable="true" type="xs:string" />
      <xs:element minOccurs="0" name="ExceptionStackTrace" nillable="true" type="xs:string" />
      <xs:element minOccurs="0" name="ServiceCode" type="xs:int" />
    </xs:sequence>
  </xs:complexType>
  <xs:element name="ServiceCallResultDto" nillable="true" type="tns:ServiceCallResultDto" />
  <xs:complexType name="SemVerDto">
    <xs:sequence>
      <xs:element minOccurs="0" name="Major" type="xs:int" />
      <xs:element minOccurs="0" name="Minor" type="xs:int" />
      <xs:element minOccurs="0" name="Patch" type="xs:int" />
      <xs:element minOccurs="0" name="ReleaseFlag" nillable="true" type="xs:string" />
    </xs:sequence>
  </xs:complexType>
  <xs:element name="SemVerDto" nillable="true" type="tns:SemVerDto" />
  <xs:complexType name="ServiceCallResultDtoOfArrayOfAgentDtoroFpNV7u">
    <xs:annotation>
      <xs:appinfo>
        <GenericType Name="ServiceCallResultDtoOf{0}{#}" Namespace="http://schemas.datacontract.org/2004/07/GAAPICommon.Core.Dtos" xmlns="http://schemas.microsoft.com/2003/10/Serialization/">
          <GenericParameter Name="ArrayOfAgentDto" Namespace="http://schemas.datacontract.org/2004/07/GAAPICommon.Core.Dtos" />
        </GenericType>
      </xs:appinfo>
    </xs:annotation>
    <xs:complexContent mixed="false">
      <xs:extension base="tns:ServiceCallResultDto">
        <xs:sequence>
          <xs:element minOccurs="0" name="Value" nillable="true" type="tns:ArrayOfAgentDto" />
        </xs:sequence>
      </xs:extension>
    </xs:complexContent>
  </xs:complexType>
  <xs:element name="ServiceCallResultDtoOfArrayOfAgentDtoroFpNV7u" nillable="true" type="tns:ServiceCallResultDtoOfArrayOfAgentDtoroFpNV7u" />
  <xs:complexType name="ArrayOfAgentDto">
    <xs:sequence>
      <xs:element minOccurs="0" maxOccurs="unbounded" name="AgentDto" nillable="true" type="tns:AgentDto" />
    </xs:sequence>
  </xs:complexType>
  <xs:element name="ArrayOfAgentDto" nillable="true" type="tns:ArrayOfAgentDto" />
  <xs:complexType name="AgentDto">
    <xs:sequence>
      <xs:element xmlns:q1="http://schemas.datacontract.org/2004/07/GAAPICommon.Architecture" minOccurs="0" name="AgentLifetimeState" type="q1:AgentLifetimeState" />
      <xs:element minOccurs="0" name="Alias" nillable="true" type="xs:string" />
      <xs:element xmlns:q2="http://schemas.datacontract.org/2004/07/System.Net" minOccurs="0" name="IPAddress" nillable="true" type="q2:IPAddress" />
      <xs:element minOccurs="0" name="Id" type="xs:int" />
    </xs:sequence>
  </xs:complexType>
  <xs:element name="AgentDto" nillable="true" type="tns:AgentDto" />
</xs:schema>