src/SchedulingClients/Service References/JobBuilderServiceReference/jobBuilder1.xsd

<?xml version="1.0" encoding="utf-8"?>
<xs:schema xmlns:tns="http://tempuri.org/" elementFormDefault="qualified" targetNamespace="http://tempuri.org/" xmlns:xs="http://www.w3.org/2001/XMLSchema">
  <xs:import schemaLocation="http://127.0.0.1:41916/jobBuilder.svc?xsd=xsd2" namespace="http://schemas.datacontract.org/2004/07/GAAPICommon.Core.Dtos" />
  <xs:import schemaLocation="http://127.0.0.1:41916/jobBuilder.svc?xsd=xsd4" namespace="http://schemas.datacontract.org/2004/07/GACore.Architecture" />
  <xs:import schemaLocation="http://127.0.0.1:41916/jobBuilder.svc?xsd=xsd1" namespace="http://schemas.microsoft.com/2003/10/Serialization/" />
  <xs:import schemaLocation="http://127.0.0.1:41916/jobBuilder.svc?xsd=xsd5" namespace="http://schemas.datacontract.org/2004/07/System.Net" />
  <xs:element name="GetAPISemVer">
    <xs:complexType>
      <xs:sequence />
    </xs:complexType>
  </xs:element>
  <xs:element name="GetAPISemVerResponse">
    <xs:complexType>
      <xs:sequence>
        <xs:element xmlns:q1="http://schemas.datacontract.org/2004/07/GAAPICommon.Core.Dtos" minOccurs="0" name="GetAPISemVerResult" nillable="true" type="q1:ServiceCallResultDtoOfSemVerDtoroFpNV7u" />
      </xs:sequence>
    </xs:complexType>
  </xs:element>
  <xs:element name="BeginEditingJob">
    <xs:complexType>
      <xs:sequence>
        <xs:element minOccurs="0" name="jobId" type="xs:int" />
      </xs:sequence>
    </xs:complexType>
  </xs:element>
  <xs:element name="BeginEditingJobResponse">
    <xs:complexType>
      <xs:sequence>
        <xs:element xmlns:q2="http://schemas.datacontract.org/2004/07/GAAPICommon.Core.Dtos" minOccurs="0" name="BeginEditingJobResult" nillable="true" type="q2:ServiceCallResultDtoOfboolean" />
      </xs:sequence>
    </xs:complexType>
  </xs:element>
  <xs:element name="BeginEditingTask">
    <xs:complexType>
      <xs:sequence>
        <xs:element minOccurs="0" name="taskId" type="xs:int" />
      </xs:sequence>
    </xs:complexType>
  </xs:element>
  <xs:element name="BeginEditingTaskResponse">
    <xs:complexType>
      <xs:sequence>
        <xs:element xmlns:q3="http://schemas.datacontract.org/2004/07/GAAPICommon.Core.Dtos" minOccurs="0" name="BeginEditingTaskResult" nillable="true" type="q3:ServiceCallResultDtoOfboolean" />
      </xs:sequence>
    </xs:complexType>
  </xs:element>
  <xs:element name="CommitJob">
    <xs:complexType>
      <xs:sequence>
        <xs:element minOccurs="0" name="jobId" type="xs:int" />
        <xs:element minOccurs="0" name="agentId" type="xs:int" />
      </xs:sequence>
    </xs:complexType>
  </xs:element>
  <xs:element name="CommitJobResponse">
    <xs:complexType>
      <xs:sequence>
        <xs:element xmlns:q4="http://schemas.datacontract.org/2004/07/GAAPICommon.Core.Dtos" minOccurs="0" name="CommitJobResult" nillable="true" type="q4:ServiceCallResultDto" />
      </xs:sequence>
    </xs:complexType>
  </xs:element>
  <xs:element name="CreateAwaitingTask">
    <xs:complexType>
      <xs:sequence>
        <xs:element minOccurs="0" name="parentTaskId" type="xs:int" />
        <xs:element minOccurs="0" name="nodeId" type="xs:int" />
      </xs:sequence>
    </xs:complexType>
  </xs:element>
  <xs:element name="CreateAwaitingTaskResponse">
    <xs:complexType>
      <xs:sequence>
        <xs:element xmlns:q5="http://schemas.datacontract.org/2004/07/GAAPICommon.Core.Dtos" minOccurs="0" name="CreateAwaitingTaskResult" nillable="true" type="q5:ServiceCallResultDtoOfint" />
      </xs:sequence>
    </xs:complexType>
  </xs:element>
  <xs:element name="CreateJob">
    <xs:complexType>
      <xs:sequence />
    </xs:complexType>
  </xs:element>
  <xs:element name="CreateJobResponse">
    <xs:complexType>
      <xs:sequence>
        <xs:element xmlns:q6="http://schemas.datacontract.org/2004/07/GAAPICommon.Core.Dtos" minOccurs="0" name="CreateJobResult" nillable="true" type="q6:ServiceCallResultDtoOfJobDtoJlPR_P0vK" />
      </xs:sequence>
    </xs:complexType>
  </xs:element>
  <xs:element name="CreateGoToNodeTask">
    <xs:complexType>
      <xs:sequence>
        <xs:element minOccurs="0" name="parentTaskId" type="xs:int" />
        <xs:element minOccurs="0" name="nodeId" type="xs:int" />
      </xs:sequence>
    </xs:complexType>
  </xs:element>
  <xs:element name="CreateGoToNodeTaskResponse">
    <xs:complexType>
      <xs:sequence>
        <xs:element xmlns:q7="http://schemas.datacontract.org/2004/07/GAAPICommon.Core.Dtos" minOccurs="0" name="CreateGoToNodeTaskResult" nillable="true" type="q7:ServiceCallResultDtoOfint" />
      </xs:sequence>
    </xs:complexType>
  </xs:element>
  <xs:element name="CreateOrderedListTask">
    <xs:complexType>
      <xs:sequence>
        <xs:element minOccurs="0" name="parentTaskId" type="xs:int" />
      </xs:sequence>
    </xs:complexType>
  </xs:element>
  <xs:element name="CreateOrderedListTaskResponse">
    <xs:complexType>
      <xs:sequence>
        <xs:element xmlns:q8="http://schemas.datacontract.org/2004/07/GAAPICommon.Core.Dtos" minOccurs="0" name="CreateOrderedListTaskResult" nillable="true" type="q8:ServiceCallResultDtoOfint" />
      </xs:sequence>
    </xs:complexType>
  </xs:element>
  <xs:element name="CreateAtomicMoveListTask">
    <xs:complexType>
      <xs:sequence>
        <xs:element minOccurs="0" name="parentTaskId" type="xs:int" />
      </xs:sequence>
    </xs:complexType>
  </xs:element>
  <xs:element name="CreateAtomicMoveListTaskResponse">
    <xs:complexType>
      <xs:sequence>
        <xs:element xmlns:q9="http://schemas.datacontract.org/2004/07/GAAPICommon.Core.Dtos" minOccurs="0" name="CreateAtomicMoveListTaskResult" nillable="true" type="q9:ServiceCallResultDtoOfint" />
      </xs:sequence>
    </xs:complexType>
  </xs:element>
  <xs:element name="CreateServicingTask">
    <xs:complexType>
      <xs:sequence>
        <xs:element minOccurs="0" name="parentTaskId" type="xs:int" />
        <xs:element minOccurs="0" name="nodeId" type="xs:int" />
        <xs:element xmlns:q10="http://schemas.datacontract.org/2004/07/GACore.Architecture" minOccurs="0" name="serviceType" type="q10:ServiceType" />
        <xs:element xmlns:q11="http://schemas.microsoft.com/2003/10/Serialization/" minOccurs="0" name="expectedDuration" type="q11:duration" />
      </xs:sequence>
    </xs:complexType>
  </xs:element>
  <xs:element name="CreateServicingTaskResponse">
    <xs:complexType>
      <xs:sequence>
        <xs:element xmlns:q12="http://schemas.datacontract.org/2004/07/GAAPICommon.Core.Dtos" minOccurs="0" name="CreateServicingTaskResult" nillable="true" type="q12:ServiceCallResultDtoOfint" />
      </xs:sequence>
    </xs:complexType>
  </xs:element>
  <xs:element name="CreateChargeTask">
    <xs:complexType>
      <xs:sequence>
        <xs:element minOccurs="0" name="parentTaskId" type="xs:int" />
        <xs:element minOccurs="0" name="nodeId" type="xs:int" />
      </xs:sequence>
    </xs:complexType>
  </xs:element>
  <xs:element name="CreateChargeTaskResponse">
    <xs:complexType>
      <xs:sequence>
        <xs:element xmlns:q13="http://schemas.datacontract.org/2004/07/GAAPICommon.Core.Dtos" minOccurs="0" name="CreateChargeTaskResult" nillable="true" type="q13:ServiceCallResultDtoOfint" />
      </xs:sequence>
    </xs:complexType>
  </xs:element>
  <xs:element name="CreateAtomicMoveTask">
    <xs:complexType>
      <xs:sequence>
        <xs:element minOccurs="0" name="parentAtomicMoveListTaskId" type="xs:int" />
        <xs:element minOccurs="0" name="moveId" type="xs:int" />
      </xs:sequence>
    </xs:complexType>
  </xs:element>
  <xs:element name="CreateAtomicMoveTaskResponse">
    <xs:complexType>
      <xs:sequence>
        <xs:element xmlns:q14="http://schemas.datacontract.org/2004/07/GAAPICommon.Core.Dtos" minOccurs="0" name="CreateAtomicMoveTaskResult" nillable="true" type="q14:ServiceCallResultDtoOfint" />
      </xs:sequence>
    </xs:complexType>
  </xs:element>
  <xs:element name="CreateSleepingTask">
    <xs:complexType>
      <xs:sequence>
        <xs:element minOccurs="0" name="parentTaskId" type="xs:int" />
        <xs:element minOccurs="0" name="nodeId" type="xs:int" />
        <xs:element xmlns:q15="http://schemas.microsoft.com/2003/10/Serialization/" minOccurs="0" name="expectedDuration" type="q15:duration" />
      </xs:sequence>
    </xs:complexType>
  </xs:element>
  <xs:element name="CreateSleepingTaskResponse">
    <xs:complexType>
      <xs:sequence>
        <xs:element xmlns:q16="http://schemas.datacontract.org/2004/07/GAAPICommon.Core.Dtos" minOccurs="0" name="CreateSleepingTaskResult" nillable="true" type="q16:ServiceCallResultDtoOfint" />
      </xs:sequence>
    </xs:complexType>
  </xs:element>
  <xs:element name="CreateUnorderedListTask">
    <xs:complexType>
      <xs:sequence>
        <xs:element minOccurs="0" name="parentTaskId" type="xs:int" />
      </xs:sequence>
    </xs:complexType>
  </xs:element>
  <xs:element name="CreateUnorderedListTaskResponse">
    <xs:complexType>
      <xs:sequence>
        <xs:element xmlns:q17="http://schemas.datacontract.org/2004/07/GAAPICommon.Core.Dtos" minOccurs="0" name="CreateUnorderedListTaskResult" nillable="true" type="q17:ServiceCallResultDtoOfint" />
      </xs:sequence>
    </xs:complexType>
  </xs:element>
  <xs:element name="FinishEditingJob">
    <xs:complexType>
      <xs:sequence>
        <xs:element minOccurs="0" name="jobId" type="xs:int" />
      </xs:sequence>
    </xs:complexType>
  </xs:element>
  <xs:element name="FinishEditingJobResponse">
    <xs:complexType>
      <xs:sequence>
        <xs:element xmlns:q18="http://schemas.datacontract.org/2004/07/GAAPICommon.Core.Dtos" minOccurs="0" name="FinishEditingJobResult" nillable="true" type="q18:ServiceCallResultDto" />
      </xs:sequence>
    </xs:complexType>
  </xs:element>
  <xs:element name="FinishEditingTask">
    <xs:complexType>
      <xs:sequence>
        <xs:element minOccurs="0" name="taskId" type="xs:int" />
      </xs:sequence>
    </xs:complexType>
  </xs:element>
  <xs:element name="FinishEditingTaskResponse">
    <xs:complexType>
      <xs:sequence>
        <xs:element xmlns:q19="http://schemas.datacontract.org/2004/07/GAAPICommon.Core.Dtos" minOccurs="0" name="FinishEditingTaskResult" nillable="true" type="q19:ServiceCallResultDto" />
      </xs:sequence>
    </xs:complexType>
  </xs:element>
  <xs:element name="IssueEnumDirective">
    <xs:complexType>
      <xs:sequence>
        <xs:element minOccurs="0" name="taskId" type="xs:int" />
        <xs:element minOccurs="0" name="alias" nillable="true" type="xs:string" />
        <xs:element minOccurs="0" name="value" type="xs:unsignedByte" />
      </xs:sequence>
    </xs:complexType>
  </xs:element>
  <xs:element name="IssueEnumDirectiveResponse">
    <xs:complexType>
      <xs:sequence>
        <xs:element xmlns:q20="http://schemas.datacontract.org/2004/07/GAAPICommon.Core.Dtos" minOccurs="0" name="IssueEnumDirectiveResult" nillable="true" type="q20:ServiceCallResultDto" />
      </xs:sequence>
    </xs:complexType>
  </xs:element>
  <xs:element name="IssueFloatDirective">
    <xs:complexType>
      <xs:sequence>
        <xs:element minOccurs="0" name="taskId" type="xs:int" />
        <xs:element minOccurs="0" name="alias" nillable="true" type="xs:string" />
        <xs:element minOccurs="0" name="value" type="xs:float" />
      </xs:sequence>
    </xs:complexType>
  </xs:element>
  <xs:element name="IssueFloatDirectiveResponse">
    <xs:complexType>
      <xs:sequence>
        <xs:element xmlns:q21="http://schemas.datacontract.org/2004/07/GAAPICommon.Core.Dtos" minOccurs="0" name="IssueFloatDirectiveResult" nillable="true" type="q21:ServiceCallResultDto" />
      </xs:sequence>
    </xs:complexType>
  </xs:element>
  <xs:element name="IssueIPAddressDirective">
    <xs:complexType>
      <xs:sequence>
        <xs:element minOccurs="0" name="taskId" type="xs:int" />
        <xs:element minOccurs="0" name="alias" nillable="true" type="xs:string" />
        <xs:element xmlns:q22="http://schemas.datacontract.org/2004/07/System.Net" minOccurs="0" name="value" nillable="true" type="q22:IPAddress" />
      </xs:sequence>
    </xs:complexType>
  </xs:element>
  <xs:element name="IssueIPAddressDirectiveResponse">
    <xs:complexType>
      <xs:sequence>
        <xs:element xmlns:q23="http://schemas.datacontract.org/2004/07/GAAPICommon.Core.Dtos" minOccurs="0" name="IssueIPAddressDirectiveResult" nillable="true" type="q23:ServiceCallResultDto" />
      </xs:sequence>
    </xs:complexType>
  </xs:element>
  <xs:element name="IssueShortDirective">
    <xs:complexType>
      <xs:sequence>
        <xs:element minOccurs="0" name="taskId" type="xs:int" />
        <xs:element minOccurs="0" name="alias" nillable="true" type="xs:string" />
        <xs:element minOccurs="0" name="value" type="xs:short" />
      </xs:sequence>
    </xs:complexType>
  </xs:element>
  <xs:element name="IssueShortDirectiveResponse">
    <xs:complexType>
      <xs:sequence>
        <xs:element xmlns:q24="http://schemas.datacontract.org/2004/07/GAAPICommon.Core.Dtos" minOccurs="0" name="IssueShortDirectiveResult" nillable="true" type="q24:ServiceCallResultDto" />
      </xs:sequence>
    </xs:complexType>
  </xs:element>
  <xs:element name="IssueUShortDirective">
    <xs:complexType>
      <xs:sequence>
        <xs:element minOccurs="0" name="taskId" type="xs:int" />
        <xs:element minOccurs="0" name="alias" nillable="true" type="xs:string" />
        <xs:element minOccurs="0" name="value" type="xs:unsignedShort" />
      </xs:sequence>
    </xs:complexType>
  </xs:element>
  <xs:element name="IssueUShortDirectiveResponse">
    <xs:complexType>
      <xs:sequence>
        <xs:element xmlns:q25="http://schemas.datacontract.org/2004/07/GAAPICommon.Core.Dtos" minOccurs="0" name="IssueUShortDirectiveResult" nillable="true" type="q25:ServiceCallResultDto" />
      </xs:sequence>
    </xs:complexType>
  </xs:element>
</xs:schema>