src/SchedulingClients/Service References/JobBuilderServiceReference/jobBuilder5.xsd

<?xml version="1.0" encoding="utf-8"?>
<xs:schema xmlns:tns="http://schemas.datacontract.org/2004/07/Scheduling.Services.Jobs" elementFormDefault="qualified" targetNamespace="http://schemas.datacontract.org/2004/07/Scheduling.Services.Jobs" xmlns:xs="http://www.w3.org/2001/XMLSchema">
  <xs:complexType name="JobData">
    <xs:sequence>
      <xs:element minOccurs="0" name="JobId" type="xs:int" />
      <xs:element minOccurs="0" name="RootOrderedListTaskId" type="xs:int" />
    </xs:sequence>
  </xs:complexType>
  <xs:element name="JobData" nillable="true" type="tns:JobData" />
</xs:schema>