src/SchedulingClients/Service References/ServicingServiceReference/servicing.xsd

<?xml version="1.0" encoding="utf-8"?>
<xs:schema xmlns:tns="http://schemas.datacontract.org/2004/07/Scheduling.Services.Servicing.Dtos" elementFormDefault="qualified" targetNamespace="http://schemas.datacontract.org/2004/07/Scheduling.Services.Servicing.Dtos" xmlns:xs="http://www.w3.org/2001/XMLSchema">
  <xs:complexType name="ArrayOfServiceStateDto">
    <xs:sequence>
      <xs:element minOccurs="0" maxOccurs="unbounded" name="ServiceStateDto" nillable="true" type="tns:ServiceStateDto" />
    </xs:sequence>
  </xs:complexType>
  <xs:element name="ArrayOfServiceStateDto" nillable="true" type="tns:ArrayOfServiceStateDto" />
  <xs:complexType name="ServiceStateDto">
    <xs:sequence>
      <xs:element minOccurs="0" name="BeneficiaryId" type="xs:int" />
      <xs:element minOccurs="0" name="ExecutorId" type="xs:int" />
      <xs:element minOccurs="0" name="TaskId" type="xs:int" />
    </xs:sequence>
  </xs:complexType>
  <xs:element name="ServiceStateDto" nillable="true" type="tns:ServiceStateDto" />
</xs:schema>