src/SchedulingClients/Service References/ServicingServiceReference/servicing3.xsd

<?xml version="1.0" encoding="utf-8"?>
<xs:schema xmlns:tns="http://tempuri.org/" elementFormDefault="qualified" targetNamespace="http://tempuri.org/" xmlns:xs="http://www.w3.org/2001/XMLSchema">
  <xs:import schemaLocation="http://127.0.0.1:41916/servicing.svc?xsd=xsd2" namespace="http://schemas.datacontract.org/2004/07/GAAPICommon.Core.Dtos" />
  <xs:import schemaLocation="http://127.0.0.1:41916/servicing.svc?xsd=xsd1" namespace="http://schemas.microsoft.com/2003/10/Serialization/" />
  <xs:import schemaLocation="http://127.0.0.1:41916/servicing.svc?xsd=xsd3" namespace="http://schemas.datacontract.org/2004/07/Scheduling.Services.Servicing" />
  <xs:element name="GetAPISemVer">
    <xs:complexType>
      <xs:sequence />
    </xs:complexType>
  </xs:element>
  <xs:element name="GetAPISemVerResponse">
    <xs:complexType>
      <xs:sequence>
        <xs:element xmlns:q1="http://schemas.datacontract.org/2004/07/GAAPICommon.Core.Dtos" minOccurs="0" name="GetAPISemVerResult" nillable="true" type="q1:ServiceCallResultDtoOfSemVerDtoroFpNV7u" />
      </xs:sequence>
    </xs:complexType>
  </xs:element>
  <xs:element name="SubscriptionHeartbeat">
    <xs:complexType>
      <xs:sequence>
        <xs:element xmlns:q2="http://schemas.microsoft.com/2003/10/Serialization/" minOccurs="0" name="guid" type="q2:guid" />
      </xs:sequence>
    </xs:complexType>
  </xs:element>
  <xs:element name="SubscriptionHeartbeatResponse">
    <xs:complexType>
      <xs:sequence />
    </xs:complexType>
  </xs:element>
  <xs:element name="GetOutstandingServiceRequests">
    <xs:complexType>
      <xs:sequence />
    </xs:complexType>
  </xs:element>
  <xs:element name="GetOutstandingServiceRequestsResponse">
    <xs:complexType>
      <xs:sequence>
        <xs:element xmlns:q3="http://schemas.datacontract.org/2004/07/GAAPICommon.Core.Dtos" minOccurs="0" name="GetOutstandingServiceRequestsResult" nillable="true" type="q3:ServiceCallResultDtoOfArrayOfServiceStateDataeGINPe74" />
      </xs:sequence>
    </xs:complexType>
  </xs:element>
  <xs:element name="SetServiceComplete">
    <xs:complexType>
      <xs:sequence>
        <xs:element minOccurs="0" name="taskId" type="xs:int" />
      </xs:sequence>
    </xs:complexType>
  </xs:element>
  <xs:element name="SetServiceCompleteResponse">
    <xs:complexType>
      <xs:sequence>
        <xs:element xmlns:q4="http://schemas.datacontract.org/2004/07/GAAPICommon.Core.Dtos" minOccurs="0" name="SetServiceCompleteResult" nillable="true" type="q4:ServiceCallResultDto" />
      </xs:sequence>
    </xs:complexType>
  </xs:element>
  <xs:element name="OnCallback">
    <xs:complexType>
      <xs:sequence>
        <xs:element xmlns:q5="http://schemas.datacontract.org/2004/07/Scheduling.Services.Servicing" minOccurs="0" name="callbackObject" nillable="true" type="q5:ServiceStateData" />
      </xs:sequence>
    </xs:complexType>
  </xs:element>
  <xs:element name="OnCallbackResponse">
    <xs:complexType>
      <xs:sequence />
    </xs:complexType>
  </xs:element>
</xs:schema>