CSharp/SchedulingClients/Service References/FleetManagerServiceReference/fleetManager2.xsd

<?xml version="1.0" encoding="utf-8"?>
<xs:schema xmlns:tns="http://tempuri.org/" elementFormDefault="qualified" targetNamespace="http://tempuri.org/" xmlns:xs="http://www.w3.org/2001/XMLSchema">
  <xs:import schemaLocation="http://127.0.0.1:41916/fleetManager.svc?xsd=xsd2" namespace="http://schemas.datacontract.org/2004/07/System.Net" />
  <xs:import schemaLocation="http://127.0.0.1:41916/fleetManager.svc?xsd=xsd5" namespace="http://schemas.datacontract.org/2004/07/Controllers.Vehicles.Fleet" />
  <xs:import schemaLocation="http://127.0.0.1:41916/fleetManager.svc?xsd=xsd7" namespace="http://schemas.datacontract.org/2004/07/System" />
  <xs:element name="CommitInstruction">
    <xs:complexType>
      <xs:sequence>
        <xs:element xmlns:q1="http://schemas.datacontract.org/2004/07/System.Net" minOccurs="0" name="ipAddress" nillable="true" type="q1:IPAddress" />
        <xs:element minOccurs="0" name="instructionId" type="xs:int" />
        <xs:element xmlns:q2="http://schemas.datacontract.org/2004/07/Controllers.Vehicles.Fleet" minOccurs="0" name="waypoints" nillable="true" type="q2:ArrayOfWaypointData" />
        <xs:element minOccurs="0" name="summary" nillable="true" type="xs:string" />
      </xs:sequence>
    </xs:complexType>
  </xs:element>
  <xs:element name="CommitInstructionResponse">
    <xs:complexType>
      <xs:sequence>
        <xs:element xmlns:q3="http://schemas.datacontract.org/2004/07/System" minOccurs="0" name="CommitInstructionResult" nillable="true" type="q3:TupleOfbooleanServiceCallDatayG81JSvh" />
      </xs:sequence>
    </xs:complexType>
  </xs:element>
  <xs:element name="RequestFreeze">
    <xs:complexType>
      <xs:sequence />
    </xs:complexType>
  </xs:element>
  <xs:element name="RequestFreezeResponse">
    <xs:complexType>
      <xs:sequence>
        <xs:element xmlns:q4="http://schemas.datacontract.org/2004/07/System" minOccurs="0" name="RequestFreezeResult" nillable="true" type="q4:TupleOfbooleanServiceCallDatayG81JSvh" />
      </xs:sequence>
    </xs:complexType>
  </xs:element>
  <xs:element name="RequestUnfreeze">
    <xs:complexType>
      <xs:sequence />
    </xs:complexType>
  </xs:element>
  <xs:element name="RequestUnfreezeResponse">
    <xs:complexType>
      <xs:sequence>
        <xs:element xmlns:q5="http://schemas.datacontract.org/2004/07/System" minOccurs="0" name="RequestUnfreezeResult" nillable="true" type="q5:TupleOfbooleanServiceCallDatayG81JSvh" />
      </xs:sequence>
    </xs:complexType>
  </xs:element>
  <xs:element name="SubscribeFleetStateCastHeartbeat">
    <xs:complexType>
      <xs:sequence>
        <xs:element xmlns:q6="http://schemas.datacontract.org/2004/07/System.Net" minOccurs="0" name="ipAddress" nillable="true" type="q6:IPAddress" />
      </xs:sequence>
    </xs:complexType>
  </xs:element>
  <xs:element name="SubscribeFleetStateCastHeartbeatResponse">
    <xs:complexType>
      <xs:sequence>
        <xs:element xmlns:q7="http://schemas.datacontract.org/2004/07/System" minOccurs="0" name="SubscribeFleetStateCastHeartbeatResult" nillable="true" type="q7:TupleOfbooleanServiceCallDatayG81JSvh" />
      </xs:sequence>
    </xs:complexType>
  </xs:element>
</xs:schema>