CSharp/SchedulingClients/Service References/FleetManagerServiceReference/fleetManager2.xsd

<?xml version="1.0" encoding="utf-8"?>
<xs:schema xmlns:tns="http://tempuri.org/" elementFormDefault="qualified" targetNamespace="http://tempuri.org/" xmlns:xs="http://www.w3.org/2001/XMLSchema">
  <xs:import schemaLocation="http://127.0.0.1:41916/fleetManager.svc?xsd=xsd1" namespace="http://schemas.microsoft.com/2003/10/Serialization/" />
  <xs:import schemaLocation="http://127.0.0.1:41916/fleetManager.svc?xsd=xsd2" namespace="http://schemas.datacontract.org/2004/07/System.Net" />
  <xs:import schemaLocation="http://127.0.0.1:41916/fleetManager.svc?xsd=xsd5" namespace="http://schemas.datacontract.org/2004/07/System" />
  <xs:import schemaLocation="http://127.0.0.1:41916/fleetManager.svc?xsd=xsd7" namespace="http://schemas.datacontract.org/2004/07/Controllers.Vehicles" />
  <xs:import schemaLocation="http://127.0.0.1:41916/fleetManager.svc?xsd=xsd8" namespace="http://schemas.datacontract.org/2004/07/Controllers.Vehicles.Fleet" />
  <xs:element name="VersionMajor">
    <xs:complexType>
      <xs:sequence />
    </xs:complexType>
  </xs:element>
  <xs:element name="VersionMajorResponse">
    <xs:complexType>
      <xs:sequence>
        <xs:element minOccurs="0" name="VersionMajorResult" type="xs:int" />
      </xs:sequence>
    </xs:complexType>
  </xs:element>
  <xs:element name="VersionMinor">
    <xs:complexType>
      <xs:sequence />
    </xs:complexType>
  </xs:element>
  <xs:element name="VersionMinorResponse">
    <xs:complexType>
      <xs:sequence>
        <xs:element minOccurs="0" name="VersionMinorResult" type="xs:int" />
      </xs:sequence>
    </xs:complexType>
  </xs:element>
  <xs:element name="VersionPatch">
    <xs:complexType>
      <xs:sequence />
    </xs:complexType>
  </xs:element>
  <xs:element name="VersionPatchResponse">
    <xs:complexType>
      <xs:sequence>
        <xs:element minOccurs="0" name="VersionPatchResult" type="xs:int" />
      </xs:sequence>
    </xs:complexType>
  </xs:element>
  <xs:element name="SubscriptionHeartbeat">
    <xs:complexType>
      <xs:sequence>
        <xs:element xmlns:q1="http://schemas.microsoft.com/2003/10/Serialization/" minOccurs="0" name="guid" type="q1:guid" />
      </xs:sequence>
    </xs:complexType>
  </xs:element>
  <xs:element name="SubscriptionHeartbeatResponse">
    <xs:complexType>
      <xs:sequence />
    </xs:complexType>
  </xs:element>
  <xs:element name="GetKingpinDescription">
    <xs:complexType>
      <xs:sequence>
        <xs:element xmlns:q2="http://schemas.datacontract.org/2004/07/System.Net" minOccurs="0" name="ipAddress" nillable="true" type="q2:IPAddress" />
      </xs:sequence>
    </xs:complexType>
  </xs:element>
  <xs:element name="GetKingpinDescriptionResponse">
    <xs:complexType>
      <xs:sequence>
        <xs:element xmlns:q3="http://schemas.datacontract.org/2004/07/System" minOccurs="0" name="GetKingpinDescriptionResult" nillable="true" type="q3:TupleOfXElementServiceCallDataFtVIqT19" />
      </xs:sequence>
    </xs:complexType>
  </xs:element>
  <xs:element name="CommitExtendedWaypoints">
    <xs:complexType>
      <xs:sequence>
        <xs:element xmlns:q4="http://schemas.datacontract.org/2004/07/System.Net" minOccurs="0" name="ipAddress" nillable="true" type="q4:IPAddress" />
        <xs:element minOccurs="0" name="instructionId" type="xs:int" />
        <xs:element xmlns:q5="http://schemas.datacontract.org/2004/07/Controllers.Vehicles" minOccurs="0" name="baseMovementType" type="q5:BaseMovementType" />
        <xs:element minOccurs="0" name="extendedWaypointBytes" nillable="true" type="xs:base64Binary" />
      </xs:sequence>
    </xs:complexType>
  </xs:element>
  <xs:element name="CommitExtendedWaypointsResponse">
    <xs:complexType>
      <xs:sequence>
        <xs:element xmlns:q6="http://schemas.datacontract.org/2004/07/System" minOccurs="0" name="CommitExtendedWaypointsResult" nillable="true" type="q6:TupleOfbooleanServiceCallDatayG81JSvh" />
      </xs:sequence>
    </xs:complexType>
  </xs:element>
  <xs:element name="RequestFreeze">
    <xs:complexType>
      <xs:sequence />
    </xs:complexType>
  </xs:element>
  <xs:element name="RequestFreezeResponse">
    <xs:complexType>
      <xs:sequence>
        <xs:element xmlns:q7="http://schemas.datacontract.org/2004/07/System" minOccurs="0" name="RequestFreezeResult" nillable="true" type="q7:TupleOfbooleanServiceCallDatayG81JSvh" />
      </xs:sequence>
    </xs:complexType>
  </xs:element>
  <xs:element name="RequestUnfreeze">
    <xs:complexType>
      <xs:sequence />
    </xs:complexType>
  </xs:element>
  <xs:element name="RequestUnfreezeResponse">
    <xs:complexType>
      <xs:sequence>
        <xs:element xmlns:q8="http://schemas.datacontract.org/2004/07/System" minOccurs="0" name="RequestUnfreezeResult" nillable="true" type="q8:TupleOfbooleanServiceCallDatayG81JSvh" />
      </xs:sequence>
    </xs:complexType>
  </xs:element>
  <xs:element name="CreateVirtualVehicle">
    <xs:complexType>
      <xs:sequence>
        <xs:element xmlns:q9="http://schemas.datacontract.org/2004/07/System.Net" minOccurs="0" name="ipAddress" nillable="true" type="q9:IPAddress" />
        <xs:element xmlns:q10="http://schemas.datacontract.org/2004/07/Controllers.Vehicles.Fleet" minOccurs="0" name="pose" nillable="true" type="q10:PoseData" />
      </xs:sequence>
    </xs:complexType>
  </xs:element>
  <xs:element name="CreateVirtualVehicleResponse">
    <xs:complexType>
      <xs:sequence>
        <xs:element xmlns:q11="http://schemas.datacontract.org/2004/07/System" minOccurs="0" name="CreateVirtualVehicleResult" nillable="true" type="q11:TupleOfbooleanServiceCallDatayG81JSvh" />
      </xs:sequence>
    </xs:complexType>
  </xs:element>
  <xs:element name="RemoveVehicle">
    <xs:complexType>
      <xs:sequence>
        <xs:element xmlns:q12="http://schemas.datacontract.org/2004/07/System.Net" minOccurs="0" name="ipAddress" nillable="true" type="q12:IPAddress" />
      </xs:sequence>
    </xs:complexType>
  </xs:element>
  <xs:element name="RemoveVehicleResponse">
    <xs:complexType>
      <xs:sequence>
        <xs:element xmlns:q13="http://schemas.datacontract.org/2004/07/System" minOccurs="0" name="RemoveVehicleResult" nillable="true" type="q13:TupleOfbooleanServiceCallDatayG81JSvh" />
      </xs:sequence>
    </xs:complexType>
  </xs:element>
  <xs:element name="SetPose">
    <xs:complexType>
      <xs:sequence>
        <xs:element xmlns:q14="http://schemas.datacontract.org/2004/07/System.Net" minOccurs="0" name="ipAddress" nillable="true" type="q14:IPAddress" />
        <xs:element xmlns:q15="http://schemas.datacontract.org/2004/07/Controllers.Vehicles.Fleet" minOccurs="0" name="pose" nillable="true" type="q15:PoseData" />
      </xs:sequence>
    </xs:complexType>
  </xs:element>
  <xs:element name="SetPoseResponse">
    <xs:complexType>
      <xs:sequence>
        <xs:element xmlns:q16="http://schemas.datacontract.org/2004/07/System" minOccurs="0" name="SetPoseResult" nillable="true" type="q16:TupleOfbooleanServiceCallDatayG81JSvh" />
      </xs:sequence>
    </xs:complexType>
  </xs:element>
  <xs:element name="ResetKingpin">
    <xs:complexType>
      <xs:sequence>
        <xs:element xmlns:q17="http://schemas.datacontract.org/2004/07/System.Net" minOccurs="0" name="ipAddress" nillable="true" type="q17:IPAddress" />
      </xs:sequence>
    </xs:complexType>
  </xs:element>
  <xs:element name="ResetKingpinResponse">
    <xs:complexType>
      <xs:sequence>
        <xs:element xmlns:q18="http://schemas.datacontract.org/2004/07/System" minOccurs="0" name="ResetKingpinResult" nillable="true" type="q18:TupleOfbooleanServiceCallDatayG81JSvh" />
      </xs:sequence>
    </xs:complexType>
  </xs:element>
  <xs:element name="OnCallback">
    <xs:complexType>
      <xs:sequence>
        <xs:element xmlns:q19="http://schemas.datacontract.org/2004/07/Controllers.Vehicles.Fleet" minOccurs="0" name="callbackObject" nillable="true" type="q19:FleetState" />
      </xs:sequence>
    </xs:complexType>
  </xs:element>
  <xs:element name="OnCallbackResponse">
    <xs:complexType>
      <xs:sequence />
    </xs:complexType>
  </xs:element>
</xs:schema>