CSharp/SchedulingClients/Service References/FleetManagerServiceReference/FleetManagerService.wsdl

<?xml version="1.0" encoding="utf-8"?>
<wsdl:definitions xmlns:wsap="http://schemas.xmlsoap.org/ws/2004/08/addressing/policy" xmlns:wsa10="http://www.w3.org/2005/08/addressing" xmlns:tns="http://tempuri.org/" xmlns:msc="http://schemas.microsoft.com/ws/2005/12/wsdl/contract" xmlns:soapenc="http://schemas.xmlsoap.org/soap/encoding/" xmlns:wsx="http://schemas.xmlsoap.org/ws/2004/09/mex" xmlns:wsp="http://schemas.xmlsoap.org/ws/2004/09/policy" xmlns:wsam="http://www.w3.org/2007/05/addressing/metadata" xmlns:wsa="http://schemas.xmlsoap.org/ws/2004/08/addressing" xmlns:wsaw="http://www.w3.org/2006/05/addressing/wsdl" xmlns:soap="http://schemas.xmlsoap.org/wsdl/soap/" xmlns:soap12="http://schemas.xmlsoap.org/wsdl/soap12/" xmlns:wsu="http://docs.oasis-open.org/wss/2004/01/oasis-200401-wss-wssecurity-utility-1.0.xsd" xmlns:xsd="http://www.w3.org/2001/XMLSchema" name="FleetManagerService" targetNamespace="http://tempuri.org/" xmlns:wsdl="http://schemas.xmlsoap.org/wsdl/">
  <wsp:Policy wsu:Id="NetTcpBinding_IFleetManagerService_policy">
    <wsp:ExactlyOne>
      <wsp:All>
        <msb:BinaryEncoding xmlns:msb="http://schemas.microsoft.com/ws/06/2004/mspolicy/netbinary1" />
        <wsaw:UsingAddressing />
      </wsp:All>
    </wsp:ExactlyOne>
  </wsp:Policy>
  <wsp:Policy wsu:Id="WSDualHttpBinding_IFleetManagerService_policy">
    <wsp:ExactlyOne>
      <wsp:All>
        <wsrm:RMAssertion xmlns:wsrm="http://schemas.xmlsoap.org/ws/2005/02/rm/policy">
          <wsrm:InactivityTimeout Milliseconds="600000" />
          <wsrm:AcknowledgementInterval Milliseconds="200" />
        </wsrm:RMAssertion>
        <cdp:CompositeDuplex xmlns:cdp="http://schemas.microsoft.com/net/2006/06/duplex" />
        <ow:OneWay xmlns:ow="http://schemas.microsoft.com/ws/2005/05/routing/policy" />
        <wsaw:UsingAddressing />
      </wsp:All>
    </wsp:ExactlyOne>
  </wsp:Policy>
  <wsdl:types>
    <xsd:schema targetNamespace="http://tempuri.org/Imports">
      <xsd:import schemaLocation="http://127.0.0.1:41916/fleetManager.svc?xsd=xsd0" namespace="http://tempuri.org/" />
      <xsd:import schemaLocation="http://127.0.0.1:41916/fleetManager.svc?xsd=xsd1" namespace="http://schemas.microsoft.com/2003/10/Serialization/" />
      <xsd:import schemaLocation="http://127.0.0.1:41916/fleetManager.svc?xsd=xsd2" namespace="http://schemas.datacontract.org/2004/07/System.Net" />
      <xsd:import schemaLocation="http://127.0.0.1:41916/fleetManager.svc?xsd=xsd3" namespace="http://schemas.datacontract.org/2004/07/System.Net.Sockets" />
      <xsd:import schemaLocation="http://127.0.0.1:41916/fleetManager.svc?xsd=xsd4" namespace="http://schemas.microsoft.com/2003/10/Serialization/Arrays" />
      <xsd:import schemaLocation="http://127.0.0.1:41916/fleetManager.svc?xsd=xsd5" namespace="http://schemas.datacontract.org/2004/07/Controllers.Vehicles.Fleet" />
      <xsd:import schemaLocation="http://127.0.0.1:41916/fleetManager.svc?xsd=xsd6" namespace="http://schemas.datacontract.org/2004/07/System.Windows" />
      <xsd:import schemaLocation="http://127.0.0.1:41916/fleetManager.svc?xsd=xsd7" namespace="http://schemas.datacontract.org/2004/07/System" />
      <xsd:import schemaLocation="http://127.0.0.1:41916/fleetManager.svc?xsd=xsd8" namespace="http://schemas.datacontract.org/2004/07/Services" />
    </xsd:schema>
  </wsdl:types>
  <wsdl:message name="IFleetManagerService_CommitInstruction_InputMessage">
    <wsdl:part name="parameters" element="tns:CommitInstruction" />
  </wsdl:message>
  <wsdl:message name="IFleetManagerService_CommitInstruction_OutputMessage">
    <wsdl:part name="parameters" element="tns:CommitInstructionResponse" />
  </wsdl:message>
  <wsdl:message name="IFleetManagerService_RequestFreeze_InputMessage">
    <wsdl:part name="parameters" element="tns:RequestFreeze" />
  </wsdl:message>
  <wsdl:message name="IFleetManagerService_RequestFreeze_OutputMessage">
    <wsdl:part name="parameters" element="tns:RequestFreezeResponse" />
  </wsdl:message>
  <wsdl:message name="IFleetManagerService_RequestUnfreeze_InputMessage">
    <wsdl:part name="parameters" element="tns:RequestUnfreeze" />
  </wsdl:message>
  <wsdl:message name="IFleetManagerService_RequestUnfreeze_OutputMessage">
    <wsdl:part name="parameters" element="tns:RequestUnfreezeResponse" />
  </wsdl:message>
  <wsdl:message name="IFleetManagerService_SubscribeFleetStateCastHeartbeat_InputMessage">
    <wsdl:part name="parameters" element="tns:SubscribeFleetStateCastHeartbeat" />
  </wsdl:message>
  <wsdl:message name="IFleetManagerService_SubscribeFleetStateCastHeartbeat_OutputMessage">
    <wsdl:part name="parameters" element="tns:SubscribeFleetStateCastHeartbeatResponse" />
  </wsdl:message>
  <wsdl:portType name="IFleetManagerService">
    <wsdl:operation name="CommitInstruction">
      <wsdl:input wsaw:Action="http://tempuri.org/IFleetManagerService/CommitInstruction" message="tns:IFleetManagerService_CommitInstruction_InputMessage" />
      <wsdl:output wsaw:Action="http://tempuri.org/IFleetManagerService/CommitInstructionResponse" message="tns:IFleetManagerService_CommitInstruction_OutputMessage" />
    </wsdl:operation>
    <wsdl:operation name="RequestFreeze">
      <wsdl:input wsaw:Action="http://tempuri.org/IFleetManagerService/RequestFreeze" message="tns:IFleetManagerService_RequestFreeze_InputMessage" />
      <wsdl:output wsaw:Action="http://tempuri.org/IFleetManagerService/RequestFreezeResponse" message="tns:IFleetManagerService_RequestFreeze_OutputMessage" />
    </wsdl:operation>
    <wsdl:operation name="RequestUnfreeze">
      <wsdl:input wsaw:Action="http://tempuri.org/IFleetManagerService/RequestUnfreeze" message="tns:IFleetManagerService_RequestUnfreeze_InputMessage" />
      <wsdl:output wsaw:Action="http://tempuri.org/IFleetManagerService/RequestUnfreezeResponse" message="tns:IFleetManagerService_RequestUnfreeze_OutputMessage" />
    </wsdl:operation>
    <wsdl:operation name="SubscribeFleetStateCastHeartbeat">
      <wsdl:input wsaw:Action="http://tempuri.org/IFleetManagerService/SubscribeFleetStateCastHeartbeat" message="tns:IFleetManagerService_SubscribeFleetStateCastHeartbeat_InputMessage" />
      <wsdl:output wsaw:Action="http://tempuri.org/IFleetManagerService/SubscribeFleetStateCastHeartbeatResponse" message="tns:IFleetManagerService_SubscribeFleetStateCastHeartbeat_OutputMessage" />
    </wsdl:operation>
  </wsdl:portType>
  <wsdl:binding name="NetTcpBinding_IFleetManagerService" type="tns:IFleetManagerService">
    <wsp:PolicyReference URI="#NetTcpBinding_IFleetManagerService_policy" />
    <soap12:binding transport="http://schemas.microsoft.com/soap/tcp" />
    <wsdl:operation name="CommitInstruction">
      <soap12:operation soapAction="http://tempuri.org/IFleetManagerService/CommitInstruction" style="document" />
      <wsdl:input>
        <soap12:body use="literal" />
      </wsdl:input>
      <wsdl:output>
        <soap12:body use="literal" />
      </wsdl:output>
    </wsdl:operation>
    <wsdl:operation name="RequestFreeze">
      <soap12:operation soapAction="http://tempuri.org/IFleetManagerService/RequestFreeze" style="document" />
      <wsdl:input>
        <soap12:body use="literal" />
      </wsdl:input>
      <wsdl:output>
        <soap12:body use="literal" />
      </wsdl:output>
    </wsdl:operation>
    <wsdl:operation name="RequestUnfreeze">
      <soap12:operation soapAction="http://tempuri.org/IFleetManagerService/RequestUnfreeze" style="document" />
      <wsdl:input>
        <soap12:body use="literal" />
      </wsdl:input>
      <wsdl:output>
        <soap12:body use="literal" />
      </wsdl:output>
    </wsdl:operation>
    <wsdl:operation name="SubscribeFleetStateCastHeartbeat">
      <soap12:operation soapAction="http://tempuri.org/IFleetManagerService/SubscribeFleetStateCastHeartbeat" style="document" />
      <wsdl:input>
        <soap12:body use="literal" />
      </wsdl:input>
      <wsdl:output>
        <soap12:body use="literal" />
      </wsdl:output>
    </wsdl:operation>
  </wsdl:binding>
  <wsdl:binding name="WSDualHttpBinding_IFleetManagerService" type="tns:IFleetManagerService">
    <wsp:PolicyReference URI="#WSDualHttpBinding_IFleetManagerService_policy" />
    <soap12:binding transport="http://schemas.xmlsoap.org/soap/http" />
    <wsdl:operation name="CommitInstruction">
      <soap12:operation soapAction="http://tempuri.org/IFleetManagerService/CommitInstruction" style="document" />
      <wsdl:input>
        <soap12:body use="literal" />
      </wsdl:input>
      <wsdl:output>
        <soap12:body use="literal" />
      </wsdl:output>
    </wsdl:operation>
    <wsdl:operation name="RequestFreeze">
      <soap12:operation soapAction="http://tempuri.org/IFleetManagerService/RequestFreeze" style="document" />
      <wsdl:input>
        <soap12:body use="literal" />
      </wsdl:input>
      <wsdl:output>
        <soap12:body use="literal" />
      </wsdl:output>
    </wsdl:operation>
    <wsdl:operation name="RequestUnfreeze">
      <soap12:operation soapAction="http://tempuri.org/IFleetManagerService/RequestUnfreeze" style="document" />
      <wsdl:input>
        <soap12:body use="literal" />
      </wsdl:input>
      <wsdl:output>
        <soap12:body use="literal" />
      </wsdl:output>
    </wsdl:operation>
    <wsdl:operation name="SubscribeFleetStateCastHeartbeat">
      <soap12:operation soapAction="http://tempuri.org/IFleetManagerService/SubscribeFleetStateCastHeartbeat" style="document" />
      <wsdl:input>
        <soap12:body use="literal" />
      </wsdl:input>
      <wsdl:output>
        <soap12:body use="literal" />
      </wsdl:output>
    </wsdl:operation>
  </wsdl:binding>
  <wsdl:service name="FleetManagerService">
    <wsdl:port name="NetTcpBinding_IFleetManagerService" binding="tns:NetTcpBinding_IFleetManagerService">
      <soap12:address location="net.tcp://127.0.0.1:41917/fleetManager.svc" />
      <wsa10:EndpointReference>
        <wsa10:Address>net.tcp://127.0.0.1:41917/fleetManager.svc</wsa10:Address>
      </wsa10:EndpointReference>
    </wsdl:port>
    <wsdl:port name="WSDualHttpBinding_IFleetManagerService" binding="tns:WSDualHttpBinding_IFleetManagerService">
      <soap12:address location="http://127.0.0.1:41916/fleetManager.svc" />
      <wsa10:EndpointReference>
        <wsa10:Address>http://127.0.0.1:41916/fleetManager.svc</wsa10:Address>
      </wsa10:EndpointReference>
    </wsdl:port>
  </wsdl:service>
</wsdl:definitions>