CSharp/SchedulingClients/Service References/FleetManagerServiceReference/fleetManager96.xsd

<?xml version="1.0" encoding="utf-8"?>
<xs:schema xmlns:tns="http://schemas.datacontract.org/2004/07/Battenberg.Comms.Casts" elementFormDefault="qualified" targetNamespace="http://schemas.datacontract.org/2004/07/Battenberg.Comms.Casts" xmlns:xs="http://www.w3.org/2001/XMLSchema">
  <xs:import schemaLocation="http://10.128.17.64:41916/fleetManager.svc?xsd=xsd1" namespace="http://schemas.microsoft.com/2003/10/Serialization/" />
  <xs:simpleType name="DynamicLimiterStatus">
    <xs:annotation>
      <xs:appinfo>
        <ActualType Name="unsignedShort" Namespace="http://www.w3.org/2001/XMLSchema" xmlns="http://schemas.microsoft.com/2003/10/Serialization/" />
      </xs:appinfo>
    </xs:annotation>
    <xs:restriction base="xs:string">
      <xs:enumeration value="OK" />
      <xs:enumeration value="SafetySensor" />
      <xs:enumeration value="Warning_1" />
      <xs:enumeration value="Warning_2" />
      <xs:enumeration value="MotorFault" />
      <xs:enumeration value="Unknown">
        <xs:annotation>
          <xs:appinfo>
            <EnumerationValue xmlns="http://schemas.microsoft.com/2003/10/Serialization/">65535</EnumerationValue>
          </xs:appinfo>
        </xs:annotation>
      </xs:enumeration>
    </xs:restriction>
  </xs:simpleType>
  <xs:element name="DynamicLimiterStatus" nillable="true" type="tns:DynamicLimiterStatus" />
  <xs:simpleType name="ExtendedDataFaultStatus">
    <xs:annotation>
      <xs:appinfo>
        <ActualType Name="unsignedByte" Namespace="http://www.w3.org/2001/XMLSchema" xmlns="http://schemas.microsoft.com/2003/10/Serialization/" />
      </xs:appinfo>
    </xs:annotation>
    <xs:restriction base="xs:string">
      <xs:enumeration value="OK" />
      <xs:enumeration value="Fault" />
    </xs:restriction>
  </xs:simpleType>
  <xs:element name="ExtendedDataFaultStatus" nillable="true" type="tns:ExtendedDataFaultStatus" />
  <xs:simpleType name="NavigationStatus">
    <xs:annotation>
      <xs:appinfo>
        <ActualType Name="unsignedShort" Namespace="http://www.w3.org/2001/XMLSchema" xmlns="http://schemas.microsoft.com/2003/10/Serialization/" />
      </xs:appinfo>
    </xs:annotation>
    <xs:restriction base="xs:string">
      <xs:enumeration value="OK" />
      <xs:enumeration value="Lost" />
      <xs:enumeration value="AssociationFailure" />
      <xs:enumeration value="HighUncertainty" />
      <xs:enumeration value="PoorAssociaton" />
      <xs:enumeration value="Unknown">
        <xs:annotation>
          <xs:appinfo>
            <EnumerationValue xmlns="http://schemas.microsoft.com/2003/10/Serialization/">65535</EnumerationValue>
          </xs:appinfo>
        </xs:annotation>
      </xs:enumeration>
    </xs:restriction>
  </xs:simpleType>
  <xs:element name="NavigationStatus" nillable="true" type="tns:NavigationStatus" />
  <xs:simpleType name="PositionControlStatus">
    <xs:annotation>
      <xs:appinfo>
        <ActualType Name="unsignedShort" Namespace="http://www.w3.org/2001/XMLSchema" xmlns="http://schemas.microsoft.com/2003/10/Serialization/" />
      </xs:appinfo>
    </xs:annotation>
    <xs:restriction base="xs:string">
      <xs:enumeration value="OK" />
      <xs:enumeration value="Disabled" />
      <xs:enumeration value="Disabling" />
      <xs:enumeration value="NoWaypoints" />
      <xs:enumeration value="OutOfPosition" />
      <xs:enumeration value="WaypointDiscontinuity" />
      <xs:enumeration value="Unknown">
        <xs:annotation>
          <xs:appinfo>
            <EnumerationValue xmlns="http://schemas.microsoft.com/2003/10/Serialization/">65535</EnumerationValue>
          </xs:appinfo>
        </xs:annotation>
      </xs:enumeration>
    </xs:restriction>
  </xs:simpleType>
  <xs:element name="PositionControlStatus" nillable="true" type="tns:PositionControlStatus" />
</xs:schema>