src/SchedulingClients/Service References/TaskStateServiceReference/taskState4.xsd

<?xml version="1.0" encoding="utf-8"?>
<xs:schema xmlns:tns="http://schemas.datacontract.org/2004/07/Scheduling.Services.Jobs" elementFormDefault="qualified" targetNamespace="http://schemas.datacontract.org/2004/07/Scheduling.Services.Jobs" xmlns:xs="http://www.w3.org/2001/XMLSchema">
  <xs:import schemaLocation="http://127.0.0.1:41916/taskState.svc?xsd=xsd6" namespace="http://schemas.datacontract.org/2004/07/GACore.Architecture" />
  <xs:complexType name="TaskProgressData">
    <xs:sequence>
      <xs:element minOccurs="0" name="AssignedAgentId" type="xs:int" />
      <xs:element minOccurs="0" name="TaskId" type="xs:int" />
      <xs:element xmlns:q1="http://schemas.datacontract.org/2004/07/GACore.Architecture" minOccurs="0" name="TaskStatus" type="q1:TaskStatus" />
    </xs:sequence>
  </xs:complexType>
  <xs:element name="TaskProgressData" nillable="true" type="tns:TaskProgressData" />
</xs:schema>