src/SchedulingClients/Service References/TaskStateServiceReference/TaskStateService.wsdl

<?xml version="1.0" encoding="utf-8"?>
<wsdl:definitions xmlns:wsap="http://schemas.xmlsoap.org/ws/2004/08/addressing/policy" xmlns:wsa10="http://www.w3.org/2005/08/addressing" xmlns:tns="http://tempuri.org/" xmlns:msc="http://schemas.microsoft.com/ws/2005/12/wsdl/contract" xmlns:soapenc="http://schemas.xmlsoap.org/soap/encoding/" xmlns:wsx="http://schemas.xmlsoap.org/ws/2004/09/mex" xmlns:wsp="http://schemas.xmlsoap.org/ws/2004/09/policy" xmlns:wsam="http://www.w3.org/2007/05/addressing/metadata" xmlns:wsa="http://schemas.xmlsoap.org/ws/2004/08/addressing" xmlns:wsaw="http://www.w3.org/2006/05/addressing/wsdl" xmlns:soap="http://schemas.xmlsoap.org/wsdl/soap/" xmlns:soap12="http://schemas.xmlsoap.org/wsdl/soap12/" xmlns:wsu="http://docs.oasis-open.org/wss/2004/01/oasis-200401-wss-wssecurity-utility-1.0.xsd" xmlns:xsd="http://www.w3.org/2001/XMLSchema" name="TaskStateService" targetNamespace="http://tempuri.org/" xmlns:wsdl="http://schemas.xmlsoap.org/wsdl/">
  <wsp:Policy wsu:Id="NetTcpBinding_ITaskStateService_policy">
    <wsp:ExactlyOne>
      <wsp:All>
        <msb:BinaryEncoding xmlns:msb="http://schemas.microsoft.com/ws/06/2004/mspolicy/netbinary1" />
        <wsaw:UsingAddressing />
      </wsp:All>
    </wsp:ExactlyOne>
  </wsp:Policy>
  <wsp:Policy wsu:Id="WSDualHttpBinding_ITaskStateService_policy">
    <wsp:ExactlyOne>
      <wsp:All>
        <wsrm:RMAssertion xmlns:wsrm="http://schemas.xmlsoap.org/ws/2005/02/rm/policy">
          <wsrm:InactivityTimeout Milliseconds="600000" />
          <wsrm:AcknowledgementInterval Milliseconds="200" />
        </wsrm:RMAssertion>
        <cdp:CompositeDuplex xmlns:cdp="http://schemas.microsoft.com/net/2006/06/duplex" />
        <ow:OneWay xmlns:ow="http://schemas.microsoft.com/ws/2005/05/routing/policy" />
        <wsaw:UsingAddressing />
      </wsp:All>
    </wsp:ExactlyOne>
  </wsp:Policy>
  <wsdl:types>
    <xsd:schema targetNamespace="http://tempuri.org/Imports">
      <xsd:import schemaLocation="http://127.0.0.1:41916/taskState.svc?xsd=xsd0" namespace="http://tempuri.org/" />
      <xsd:import schemaLocation="http://127.0.0.1:41916/taskState.svc?xsd=xsd1" namespace="http://schemas.microsoft.com/2003/10/Serialization/" />
      <xsd:import schemaLocation="http://127.0.0.1:41916/taskState.svc?xsd=xsd2" namespace="http://schemas.datacontract.org/2004/07/Scheduling.Services.Jobs" />
      <xsd:import schemaLocation="http://127.0.0.1:41916/taskState.svc?xsd=xsd3" namespace="http://schemas.datacontract.org/2004/07/Scheduling.Core" />
    </xsd:schema>
  </wsdl:types>
  <wsdl:message name="ITaskStateService_VersionMajor_InputMessage">
    <wsdl:part name="parameters" element="tns:VersionMajor" />
  </wsdl:message>
  <wsdl:message name="ITaskStateService_VersionMajor_OutputMessage">
    <wsdl:part name="parameters" element="tns:VersionMajorResponse" />
  </wsdl:message>
  <wsdl:message name="ITaskStateService_VersionMinor_InputMessage">
    <wsdl:part name="parameters" element="tns:VersionMinor" />
  </wsdl:message>
  <wsdl:message name="ITaskStateService_VersionMinor_OutputMessage">
    <wsdl:part name="parameters" element="tns:VersionMinorResponse" />
  </wsdl:message>
  <wsdl:message name="ITaskStateService_VersionPatch_InputMessage">
    <wsdl:part name="parameters" element="tns:VersionPatch" />
  </wsdl:message>
  <wsdl:message name="ITaskStateService_VersionPatch_OutputMessage">
    <wsdl:part name="parameters" element="tns:VersionPatchResponse" />
  </wsdl:message>
  <wsdl:message name="ITaskStateService_SubscriptionHeartbeat_InputMessage">
    <wsdl:part name="parameters" element="tns:SubscriptionHeartbeat" />
  </wsdl:message>
  <wsdl:message name="ITaskStateService_SubscriptionHeartbeat_OutputMessage">
    <wsdl:part name="parameters" element="tns:SubscriptionHeartbeatResponse" />
  </wsdl:message>
  <wsdl:message name="ITaskStateService_OnCallback_OutputCallbackMessage">
    <wsdl:part name="parameters" element="tns:OnCallback" />
  </wsdl:message>
  <wsdl:message name="ITaskStateService_OnCallback_InputCallbackMessage">
    <wsdl:part name="parameters" element="tns:OnCallbackResponse" />
  </wsdl:message>
  <wsdl:portType name="ITaskStateService">
    <wsdl:operation name="VersionMajor">
      <wsdl:input wsaw:Action="http://tempuri.org/IService/VersionMajor" message="tns:ITaskStateService_VersionMajor_InputMessage" />
      <wsdl:output wsaw:Action="http://tempuri.org/IService/VersionMajorResponse" message="tns:ITaskStateService_VersionMajor_OutputMessage" />
    </wsdl:operation>
    <wsdl:operation name="VersionMinor">
      <wsdl:input wsaw:Action="http://tempuri.org/IService/VersionMinor" message="tns:ITaskStateService_VersionMinor_InputMessage" />
      <wsdl:output wsaw:Action="http://tempuri.org/IService/VersionMinorResponse" message="tns:ITaskStateService_VersionMinor_OutputMessage" />
    </wsdl:operation>
    <wsdl:operation name="VersionPatch">
      <wsdl:input wsaw:Action="http://tempuri.org/IService/VersionPatch" message="tns:ITaskStateService_VersionPatch_InputMessage" />
      <wsdl:output wsaw:Action="http://tempuri.org/IService/VersionPatchResponse" message="tns:ITaskStateService_VersionPatch_OutputMessage" />
    </wsdl:operation>
    <wsdl:operation name="SubscriptionHeartbeat">
      <wsdl:input wsaw:Action="http://tempuri.org/ISubscriptionService/SubscriptionHeartbeat" message="tns:ITaskStateService_SubscriptionHeartbeat_InputMessage" />
      <wsdl:output wsaw:Action="http://tempuri.org/ISubscriptionService/SubscriptionHeartbeatResponse" message="tns:ITaskStateService_SubscriptionHeartbeat_OutputMessage" />
    </wsdl:operation>
    <wsdl:operation name="OnCallback">
      <wsdl:output wsaw:Action="http://tempuri.org/ITaskStateService/OnCallback" message="tns:ITaskStateService_OnCallback_OutputCallbackMessage" />
      <wsdl:input wsaw:Action="http://tempuri.org/ITaskStateService/OnCallbackResponse" message="tns:ITaskStateService_OnCallback_InputCallbackMessage" />
    </wsdl:operation>
  </wsdl:portType>
  <wsdl:binding name="NetTcpBinding_ITaskStateService" type="tns:ITaskStateService">
    <wsp:PolicyReference URI="#NetTcpBinding_ITaskStateService_policy" />
    <soap12:binding transport="http://schemas.microsoft.com/soap/tcp" />
    <wsdl:operation name="VersionMajor">
      <soap12:operation soapAction="http://tempuri.org/IService/VersionMajor" style="document" />
      <wsdl:input>
        <soap12:body use="literal" />
      </wsdl:input>
      <wsdl:output>
        <soap12:body use="literal" />
      </wsdl:output>
    </wsdl:operation>
    <wsdl:operation name="VersionMinor">
      <soap12:operation soapAction="http://tempuri.org/IService/VersionMinor" style="document" />
      <wsdl:input>
        <soap12:body use="literal" />
      </wsdl:input>
      <wsdl:output>
        <soap12:body use="literal" />
      </wsdl:output>
    </wsdl:operation>
    <wsdl:operation name="VersionPatch">
      <soap12:operation soapAction="http://tempuri.org/IService/VersionPatch" style="document" />
      <wsdl:input>
        <soap12:body use="literal" />
      </wsdl:input>
      <wsdl:output>
        <soap12:body use="literal" />
      </wsdl:output>
    </wsdl:operation>
    <wsdl:operation name="SubscriptionHeartbeat">
      <soap12:operation soapAction="http://tempuri.org/ISubscriptionService/SubscriptionHeartbeat" style="document" />
      <wsdl:input>
        <soap12:body use="literal" />
      </wsdl:input>
      <wsdl:output>
        <soap12:body use="literal" />
      </wsdl:output>
    </wsdl:operation>
    <wsdl:operation name="OnCallback">
      <soap12:operation soapAction="http://tempuri.org/ITaskStateService/OnCallback" style="document" />
      <wsdl:input>
        <soap12:body use="literal" />
      </wsdl:input>
      <wsdl:output>
        <soap12:body use="literal" />
      </wsdl:output>
    </wsdl:operation>
  </wsdl:binding>
  <wsdl:binding name="WSDualHttpBinding_ITaskStateService" type="tns:ITaskStateService">
    <wsp:PolicyReference URI="#WSDualHttpBinding_ITaskStateService_policy" />
    <soap12:binding transport="http://schemas.xmlsoap.org/soap/http" />
    <wsdl:operation name="VersionMajor">
      <soap12:operation soapAction="http://tempuri.org/IService/VersionMajor" style="document" />
      <wsdl:input>
        <soap12:body use="literal" />
      </wsdl:input>
      <wsdl:output>
        <soap12:body use="literal" />
      </wsdl:output>
    </wsdl:operation>
    <wsdl:operation name="VersionMinor">
      <soap12:operation soapAction="http://tempuri.org/IService/VersionMinor" style="document" />
      <wsdl:input>
        <soap12:body use="literal" />
      </wsdl:input>
      <wsdl:output>
        <soap12:body use="literal" />
      </wsdl:output>
    </wsdl:operation>
    <wsdl:operation name="VersionPatch">
      <soap12:operation soapAction="http://tempuri.org/IService/VersionPatch" style="document" />
      <wsdl:input>
        <soap12:body use="literal" />
      </wsdl:input>
      <wsdl:output>
        <soap12:body use="literal" />
      </wsdl:output>
    </wsdl:operation>
    <wsdl:operation name="SubscriptionHeartbeat">
      <soap12:operation soapAction="http://tempuri.org/ISubscriptionService/SubscriptionHeartbeat" style="document" />
      <wsdl:input>
        <soap12:body use="literal" />
      </wsdl:input>
      <wsdl:output>
        <soap12:body use="literal" />
      </wsdl:output>
    </wsdl:operation>
    <wsdl:operation name="OnCallback">
      <soap12:operation soapAction="http://tempuri.org/ITaskStateService/OnCallback" style="document" />
      <wsdl:input>
        <soap12:body use="literal" />
      </wsdl:input>
      <wsdl:output>
        <soap12:body use="literal" />
      </wsdl:output>
    </wsdl:operation>
  </wsdl:binding>
  <wsdl:service name="TaskStateService">
    <wsdl:port name="NetTcpBinding_ITaskStateService" binding="tns:NetTcpBinding_ITaskStateService">
      <soap12:address location="net.tcp://127.0.0.1:41917/taskState.svc" />
      <wsa10:EndpointReference>
        <wsa10:Address>net.tcp://127.0.0.1:41917/taskState.svc</wsa10:Address>
      </wsa10:EndpointReference>
    </wsdl:port>
    <wsdl:port name="WSDualHttpBinding_ITaskStateService" binding="tns:WSDualHttpBinding_ITaskStateService">
      <soap12:address location="http://127.0.0.1:41916/taskState.svc" />
      <wsa10:EndpointReference>
        <wsa10:Address>http://127.0.0.1:41916/taskState.svc</wsa10:Address>
      </wsa10:EndpointReference>
    </wsdl:port>
  </wsdl:service>
</wsdl:definitions>