CSharp/SchedulingClients/Service References/AgentServiceReference/agent3.xsd

<?xml version="1.0" encoding="utf-8"?>
<xs:schema xmlns:tns="http://schemas.datacontract.org/2004/07/System" elementFormDefault="qualified" targetNamespace="http://schemas.datacontract.org/2004/07/System" xmlns:xs="http://www.w3.org/2001/XMLSchema">
  <xs:import schemaLocation="http://127.0.0.1:41916/agent.svc?xsd=xsd3" namespace="http://schemas.datacontract.org/2004/07/SchedulingServices" />
  <xs:import schemaLocation="http://127.0.0.1:41916/agent.svc?xsd=xsd7" namespace="http://schemas.datacontract.org/2004/07/Services" />
  <xs:complexType name="TupleOfArrayOfAgentDataServiceCallDatazDQi_Syxv">
    <xs:annotation>
      <xs:appinfo>
        <GenericType Name="TupleOf{0}{1}{#}" Namespace="http://schemas.datacontract.org/2004/07/System" xmlns="http://schemas.microsoft.com/2003/10/Serialization/">
          <GenericParameter Name="ArrayOfAgentData" Namespace="http://schemas.datacontract.org/2004/07/SchedulingServices" />
          <GenericParameter Name="ServiceCallData" Namespace="http://schemas.datacontract.org/2004/07/Services" />
        </GenericType>
      </xs:appinfo>
    </xs:annotation>
    <xs:sequence>
      <xs:element xmlns:q1="http://schemas.datacontract.org/2004/07/SchedulingServices" name="m_Item1" nillable="true" type="q1:ArrayOfAgentData" />
      <xs:element xmlns:q2="http://schemas.datacontract.org/2004/07/Services" name="m_Item2" nillable="true" type="q2:ServiceCallData" />
    </xs:sequence>
  </xs:complexType>
  <xs:element name="TupleOfArrayOfAgentDataServiceCallDatazDQi_Syxv" nillable="true" type="tns:TupleOfArrayOfAgentDataServiceCallDatazDQi_Syxv" />
</xs:schema>