CSharp/SchedulingClients/Service References/AgentServiceReference/agent5.xsd

<?xml version="1.0" encoding="utf-8"?>
<xs:schema xmlns:tns="http://tempuri.org/" elementFormDefault="qualified" targetNamespace="http://tempuri.org/" xmlns:xs="http://www.w3.org/2001/XMLSchema">
  <xs:import schemaLocation="http://127.0.0.1:41916/agent.svc?xsd=xsd2" namespace="http://schemas.datacontract.org/2004/07/System" />
  <xs:import schemaLocation="http://127.0.0.1:41916/agent.svc?xsd=xsd3" namespace="http://schemas.datacontract.org/2004/07/SchedulingServices" />
  <xs:element name="GetAllAgentData">
    <xs:complexType>
      <xs:sequence />
    </xs:complexType>
  </xs:element>
  <xs:element name="GetAllAgentDataResponse">
    <xs:complexType>
      <xs:sequence>
        <xs:element xmlns:q1="http://schemas.datacontract.org/2004/07/System" minOccurs="0" name="GetAllAgentDataResult" nillable="true" type="q1:TupleOfArrayOfAgentDataServiceCallDatazDQi_Syxv" />
      </xs:sequence>
    </xs:complexType>
  </xs:element>
  <xs:element name="GetAllAgentsInLifetimeState">
    <xs:complexType>
      <xs:sequence>
        <xs:element xmlns:q2="http://schemas.datacontract.org/2004/07/SchedulingServices" minOccurs="0" name="lifetimeState" type="q2:AgentLifetimeState" />
      </xs:sequence>
    </xs:complexType>
  </xs:element>
  <xs:element name="GetAllAgentsInLifetimeStateResponse">
    <xs:complexType>
      <xs:sequence>
        <xs:element xmlns:q3="http://schemas.datacontract.org/2004/07/System" minOccurs="0" name="GetAllAgentsInLifetimeStateResult" nillable="true" type="q3:TupleOfArrayOfAgentDataServiceCallDatazDQi_Syxv" />
      </xs:sequence>
    </xs:complexType>
  </xs:element>
</xs:schema>