CSharp/SchedulingClients/Service References/RoadmapServiceReference/RoadmapService1.wsdl

<?xml version="1.0" encoding="utf-8"?>
<wsdl:definitions xmlns:wsap="http://schemas.xmlsoap.org/ws/2004/08/addressing/policy" xmlns:wsa10="http://www.w3.org/2005/08/addressing" xmlns:tns="http://tempuri.org/" xmlns:msc="http://schemas.microsoft.com/ws/2005/12/wsdl/contract" xmlns:soapenc="http://schemas.xmlsoap.org/soap/encoding/" xmlns:wsx="http://schemas.xmlsoap.org/ws/2004/09/mex" xmlns:wsp="http://schemas.xmlsoap.org/ws/2004/09/policy" xmlns:wsam="http://www.w3.org/2007/05/addressing/metadata" xmlns:wsa="http://schemas.xmlsoap.org/ws/2004/08/addressing" xmlns:soap12="http://schemas.xmlsoap.org/wsdl/soap12/" xmlns:wsaw="http://www.w3.org/2006/05/addressing/wsdl" xmlns:soap="http://schemas.xmlsoap.org/wsdl/soap/" xmlns:wsu="http://docs.oasis-open.org/wss/2004/01/oasis-200401-wss-wssecurity-utility-1.0.xsd" xmlns:xsd="http://www.w3.org/2001/XMLSchema" name="RoadmapService" targetNamespace="http://tempuri.org/" xmlns:wsdl="http://schemas.xmlsoap.org/wsdl/">
  <wsp:Policy wsu:Id="NetTcpBinding_IRoadmapService_policy">
    <wsp:ExactlyOne>
      <wsp:All>
        <msb:BinaryEncoding xmlns:msb="http://schemas.microsoft.com/ws/06/2004/mspolicy/netbinary1" />
        <wsaw:UsingAddressing />
      </wsp:All>
    </wsp:ExactlyOne>
  </wsp:Policy>
  <wsp:Policy wsu:Id="WSDualHttpBinding_IRoadmapService_policy">
    <wsp:ExactlyOne>
      <wsp:All>
        <wsrm:RMAssertion xmlns:wsrm="http://schemas.xmlsoap.org/ws/2005/02/rm/policy">
          <wsrm:InactivityTimeout Milliseconds="600000" />
          <wsrm:AcknowledgementInterval Milliseconds="200" />
        </wsrm:RMAssertion>
        <cdp:CompositeDuplex xmlns:cdp="http://schemas.microsoft.com/net/2006/06/duplex" />
        <ow:OneWay xmlns:ow="http://schemas.microsoft.com/ws/2005/05/routing/policy" />
        <wsaw:UsingAddressing />
      </wsp:All>
    </wsp:ExactlyOne>
  </wsp:Policy>
  <wsdl:types>
    <xsd:schema targetNamespace="http://tempuri.org/Imports">
      <xsd:import schemaLocation="http://127.0.0.1:41916/roadmap.svc?xsd=xsd0" namespace="http://tempuri.org/" />
      <xsd:import schemaLocation="http://127.0.0.1:41916/roadmap.svc?xsd=xsd1" namespace="http://schemas.microsoft.com/2003/10/Serialization/" />
      <xsd:import schemaLocation="http://127.0.0.1:41916/roadmap.svc?xsd=xsd2" namespace="http://schemas.datacontract.org/2004/07/System" />
      <xsd:import schemaLocation="http://127.0.0.1:41916/roadmap.svc?xsd=xsd3" namespace="http://schemas.datacontract.org/2004/07/SchedulingServices" />
      <xsd:import schemaLocation="http://127.0.0.1:41916/roadmap.svc?xsd=xsd4" namespace="http://schemas.datacontract.org/2004/07/Services" />
      <xsd:import schemaLocation="http://127.0.0.1:41916/roadmap.svc?xsd=xsd5" namespace="http://schemas.datacontract.org/2004/07/Mapping.Roadmaps" />
    </xsd:schema>
  </wsdl:types>
  <wsdl:message name="IRoadmapService_GetAllMoveData_InputMessage">
    <wsdl:part name="parameters" element="tns:GetAllMoveData" />
  </wsdl:message>
  <wsdl:message name="IRoadmapService_GetAllMoveData_OutputMessage">
    <wsdl:part name="parameters" element="tns:GetAllMoveDataResponse" />
  </wsdl:message>
  <wsdl:message name="IRoadmapService_GetAllNodeData_InputMessage">
    <wsdl:part name="parameters" element="tns:GetAllNodeData" />
  </wsdl:message>
  <wsdl:message name="IRoadmapService_GetAllNodeData_OutputMessage">
    <wsdl:part name="parameters" element="tns:GetAllNodeDataResponse" />
  </wsdl:message>
  <wsdl:message name="IRoadmapService_GetMappingKeyCardSignature_InputMessage">
    <wsdl:part name="parameters" element="tns:GetMappingKeyCardSignature" />
  </wsdl:message>
  <wsdl:message name="IRoadmapService_GetMappingKeyCardSignature_OutputMessage">
    <wsdl:part name="parameters" element="tns:GetMappingKeyCardSignatureResponse" />
  </wsdl:message>
  <wsdl:message name="IRoadmapService_GetTrajectory_InputMessage">
    <wsdl:part name="parameters" element="tns:GetTrajectory" />
  </wsdl:message>
  <wsdl:message name="IRoadmapService_GetTrajectory_OutputMessage">
    <wsdl:part name="parameters" element="tns:GetTrajectoryResponse" />
  </wsdl:message>
  <wsdl:portType name="IRoadmapService">
    <wsdl:operation name="GetAllMoveData">
      <wsdl:input wsaw:Action="http://tempuri.org/IRoadmapService/GetAllMoveData" message="tns:IRoadmapService_GetAllMoveData_InputMessage" />
      <wsdl:output wsaw:Action="http://tempuri.org/IRoadmapService/GetAllMoveDataResponse" message="tns:IRoadmapService_GetAllMoveData_OutputMessage" />
    </wsdl:operation>
    <wsdl:operation name="GetAllNodeData">
      <wsdl:input wsaw:Action="http://tempuri.org/IRoadmapService/GetAllNodeData" message="tns:IRoadmapService_GetAllNodeData_InputMessage" />
      <wsdl:output wsaw:Action="http://tempuri.org/IRoadmapService/GetAllNodeDataResponse" message="tns:IRoadmapService_GetAllNodeData_OutputMessage" />
    </wsdl:operation>
    <wsdl:operation name="GetMappingKeyCardSignature">
      <wsdl:input wsaw:Action="http://tempuri.org/IRoadmapService/GetMappingKeyCardSignature" message="tns:IRoadmapService_GetMappingKeyCardSignature_InputMessage" />
      <wsdl:output wsaw:Action="http://tempuri.org/IRoadmapService/GetMappingKeyCardSignatureResponse" message="tns:IRoadmapService_GetMappingKeyCardSignature_OutputMessage" />
    </wsdl:operation>
    <wsdl:operation name="GetTrajectory">
      <wsdl:input wsaw:Action="http://tempuri.org/IRoadmapService/GetTrajectory" message="tns:IRoadmapService_GetTrajectory_InputMessage" />
      <wsdl:output wsaw:Action="http://tempuri.org/IRoadmapService/GetTrajectoryResponse" message="tns:IRoadmapService_GetTrajectory_OutputMessage" />
    </wsdl:operation>
  </wsdl:portType>
  <wsdl:binding name="NetTcpBinding_IRoadmapService" type="tns:IRoadmapService">
    <wsp:PolicyReference URI="#NetTcpBinding_IRoadmapService_policy" />
    <soap12:binding transport="http://schemas.microsoft.com/soap/tcp" />
    <wsdl:operation name="GetAllMoveData">
      <soap12:operation soapAction="http://tempuri.org/IRoadmapService/GetAllMoveData" style="document" />
      <wsdl:input>
        <soap12:body use="literal" />
      </wsdl:input>
      <wsdl:output>
        <soap12:body use="literal" />
      </wsdl:output>
    </wsdl:operation>
    <wsdl:operation name="GetAllNodeData">
      <soap12:operation soapAction="http://tempuri.org/IRoadmapService/GetAllNodeData" style="document" />
      <wsdl:input>
        <soap12:body use="literal" />
      </wsdl:input>
      <wsdl:output>
        <soap12:body use="literal" />
      </wsdl:output>
    </wsdl:operation>
    <wsdl:operation name="GetMappingKeyCardSignature">
      <soap12:operation soapAction="http://tempuri.org/IRoadmapService/GetMappingKeyCardSignature" style="document" />
      <wsdl:input>
        <soap12:body use="literal" />
      </wsdl:input>
      <wsdl:output>
        <soap12:body use="literal" />
      </wsdl:output>
    </wsdl:operation>
    <wsdl:operation name="GetTrajectory">
      <soap12:operation soapAction="http://tempuri.org/IRoadmapService/GetTrajectory" style="document" />
      <wsdl:input>
        <soap12:body use="literal" />
      </wsdl:input>
      <wsdl:output>
        <soap12:body use="literal" />
      </wsdl:output>
    </wsdl:operation>
  </wsdl:binding>
  <wsdl:binding name="WSDualHttpBinding_IRoadmapService" type="tns:IRoadmapService">
    <wsp:PolicyReference URI="#WSDualHttpBinding_IRoadmapService_policy" />
    <soap12:binding transport="http://schemas.xmlsoap.org/soap/http" />
    <wsdl:operation name="GetAllMoveData">
      <soap12:operation soapAction="http://tempuri.org/IRoadmapService/GetAllMoveData" style="document" />
      <wsdl:input>
        <soap12:body use="literal" />
      </wsdl:input>
      <wsdl:output>
        <soap12:body use="literal" />
      </wsdl:output>
    </wsdl:operation>
    <wsdl:operation name="GetAllNodeData">
      <soap12:operation soapAction="http://tempuri.org/IRoadmapService/GetAllNodeData" style="document" />
      <wsdl:input>
        <soap12:body use="literal" />
      </wsdl:input>
      <wsdl:output>
        <soap12:body use="literal" />
      </wsdl:output>
    </wsdl:operation>
    <wsdl:operation name="GetMappingKeyCardSignature">
      <soap12:operation soapAction="http://tempuri.org/IRoadmapService/GetMappingKeyCardSignature" style="document" />
      <wsdl:input>
        <soap12:body use="literal" />
      </wsdl:input>
      <wsdl:output>
        <soap12:body use="literal" />
      </wsdl:output>
    </wsdl:operation>
    <wsdl:operation name="GetTrajectory">
      <soap12:operation soapAction="http://tempuri.org/IRoadmapService/GetTrajectory" style="document" />
      <wsdl:input>
        <soap12:body use="literal" />
      </wsdl:input>
      <wsdl:output>
        <soap12:body use="literal" />
      </wsdl:output>
    </wsdl:operation>
  </wsdl:binding>
  <wsdl:service name="RoadmapService">
    <wsdl:port name="NetTcpBinding_IRoadmapService" binding="tns:NetTcpBinding_IRoadmapService">
      <soap12:address location="net.tcp://127.0.0.1:41917/roadmap.svc" />
      <wsa10:EndpointReference>
        <wsa10:Address>net.tcp://127.0.0.1:41917/roadmap.svc</wsa10:Address>
      </wsa10:EndpointReference>
    </wsdl:port>
    <wsdl:port name="WSDualHttpBinding_IRoadmapService" binding="tns:WSDualHttpBinding_IRoadmapService">
      <soap12:address location="http://127.0.0.1:41916/roadmap.svc" />
      <wsa10:EndpointReference>
        <wsa10:Address>http://127.0.0.1:41916/roadmap.svc</wsa10:Address>
      </wsa10:EndpointReference>
    </wsdl:port>
  </wsdl:service>
</wsdl:definitions>