CSharp/SchedulingClients/Service References/RoadmapServiceReference/roadmap43.xsd

<?xml version="1.0" encoding="utf-8"?>
<xs:schema xmlns:tns="http://tempuri.org/" elementFormDefault="qualified" targetNamespace="http://tempuri.org/" xmlns:xs="http://www.w3.org/2001/XMLSchema">
  <xs:import schemaLocation="http://127.0.0.255:41916/roadmap.svc?xsd=xsd2" namespace="http://schemas.datacontract.org/2004/07/SchedulingServices" />
  <xs:element name="GetAllMoveData">
    <xs:complexType>
      <xs:sequence />
    </xs:complexType>
  </xs:element>
  <xs:element name="GetAllMoveDataResponse">
    <xs:complexType>
      <xs:sequence>
        <xs:element xmlns:q1="http://schemas.datacontract.org/2004/07/SchedulingServices" minOccurs="0" name="GetAllMoveDataResult" nillable="true" type="q1:ArrayOfMoveData" />
      </xs:sequence>
    </xs:complexType>
  </xs:element>
  <xs:element name="GetAllNodeData">
    <xs:complexType>
      <xs:sequence />
    </xs:complexType>
  </xs:element>
  <xs:element name="GetAllNodeDataResponse">
    <xs:complexType>
      <xs:sequence>
        <xs:element xmlns:q2="http://schemas.datacontract.org/2004/07/SchedulingServices" minOccurs="0" name="GetAllNodeDataResult" nillable="true" type="q2:ArrayOfNodeData" />
      </xs:sequence>
    </xs:complexType>
  </xs:element>
  <xs:element name="GetMappingKeyCardSignature">
    <xs:complexType>
      <xs:sequence />
    </xs:complexType>
  </xs:element>
  <xs:element name="GetMappingKeyCardSignatureResponse">
    <xs:complexType>
      <xs:sequence>
        <xs:element minOccurs="0" name="GetMappingKeyCardSignatureResult" nillable="true" type="xs:base64Binary" />
      </xs:sequence>
    </xs:complexType>
  </xs:element>
  <xs:element name="GetTrajectory">
    <xs:complexType>
      <xs:sequence>
        <xs:element minOccurs="0" name="moveId" type="xs:int" />
      </xs:sequence>
    </xs:complexType>
  </xs:element>
  <xs:element name="GetTrajectoryResponse">
    <xs:complexType>
      <xs:sequence>
        <xs:element xmlns:q3="http://schemas.datacontract.org/2004/07/SchedulingServices" minOccurs="0" name="GetTrajectoryResult" nillable="true" type="q3:ArrayOfWaypointData" />
      </xs:sequence>
    </xs:complexType>
  </xs:element>
</xs:schema>