CSharp/SchedulingClients/Service References/VersionServiceReference/versionService3.xsd

<?xml version="1.0" encoding="utf-8"?>
<xs:schema xmlns:tns="http://schemas.datacontract.org/2004/07/System" elementFormDefault="qualified" targetNamespace="http://schemas.datacontract.org/2004/07/System" xmlns:xs="http://www.w3.org/2001/XMLSchema">
  <xs:import schemaLocation="http://127.0.0.1:41916/versionService.svc?xsd=xsd3" namespace="http://schemas.datacontract.org/2004/07/Services.GenericServices" />
  <xs:import schemaLocation="http://127.0.0.1:41916/versionService.svc?xsd=xsd4" namespace="http://schemas.datacontract.org/2004/07/Services" />
  <xs:complexType name="TupleOfSemVerDataServiceCallDataSl71cgxo">
    <xs:annotation>
      <xs:appinfo>
        <GenericType Name="TupleOf{0}{1}{#}" Namespace="http://schemas.datacontract.org/2004/07/System" xmlns="http://schemas.microsoft.com/2003/10/Serialization/">
          <GenericParameter Name="SemVerData" Namespace="http://schemas.datacontract.org/2004/07/Services.GenericServices" />
          <GenericParameter Name="ServiceCallData" Namespace="http://schemas.datacontract.org/2004/07/Services" />
        </GenericType>
      </xs:appinfo>
    </xs:annotation>
    <xs:sequence>
      <xs:element xmlns:q1="http://schemas.datacontract.org/2004/07/Services.GenericServices" name="m_Item1" nillable="true" type="q1:SemVerData" />
      <xs:element xmlns:q2="http://schemas.datacontract.org/2004/07/Services" name="m_Item2" nillable="true" type="q2:ServiceCallData" />
    </xs:sequence>
  </xs:complexType>
  <xs:element name="TupleOfSemVerDataServiceCallDataSl71cgxo" nillable="true" type="tns:TupleOfSemVerDataServiceCallDataSl71cgxo" />
  <xs:complexType name="TupleOfArrayOfPluginDataServiceCallDataSl71cgxo">
    <xs:annotation>
      <xs:appinfo>
        <GenericType Name="TupleOf{0}{1}{#}" Namespace="http://schemas.datacontract.org/2004/07/System" xmlns="http://schemas.microsoft.com/2003/10/Serialization/">
          <GenericParameter Name="ArrayOfPluginData" Namespace="http://schemas.datacontract.org/2004/07/Services.GenericServices" />
          <GenericParameter Name="ServiceCallData" Namespace="http://schemas.datacontract.org/2004/07/Services" />
        </GenericType>
      </xs:appinfo>
    </xs:annotation>
    <xs:sequence>
      <xs:element xmlns:q3="http://schemas.datacontract.org/2004/07/Services.GenericServices" name="m_Item1" nillable="true" type="q3:ArrayOfPluginData" />
      <xs:element xmlns:q4="http://schemas.datacontract.org/2004/07/Services" name="m_Item2" nillable="true" type="q4:ServiceCallData" />
    </xs:sequence>
  </xs:complexType>
  <xs:element name="TupleOfArrayOfPluginDataServiceCallDataSl71cgxo" nillable="true" type="tns:TupleOfArrayOfPluginDataServiceCallDataSl71cgxo" />
</xs:schema>