CSharp/SchedulingClients/Service References/VersionServiceReference/versionService2.xsd

<?xml version="1.0" encoding="utf-8"?>
<xs:schema xmlns:ser="http://schemas.microsoft.com/2003/10/Serialization/" xmlns:tns="http://schemas.datacontract.org/2004/07/Services.GenericServices" elementFormDefault="qualified" targetNamespace="http://schemas.datacontract.org/2004/07/Services.GenericServices" xmlns:xs="http://www.w3.org/2001/XMLSchema">
  <xs:import schemaLocation="http://127.0.0.1:41916/versionService.svc?xsd=xsd1" namespace="http://schemas.microsoft.com/2003/10/Serialization/" />
  <xs:complexType name="SemVerData">
    <xs:sequence>
      <xs:element minOccurs="0" name="Major" type="xs:int" />
      <xs:element minOccurs="0" name="Minor" type="xs:int" />
      <xs:element minOccurs="0" name="Patch" type="xs:int" />
    </xs:sequence>
  </xs:complexType>
  <xs:element name="SemVerData" nillable="true" type="tns:SemVerData" />
  <xs:complexType name="ArrayOfPluginData">
    <xs:sequence>
      <xs:element minOccurs="0" maxOccurs="unbounded" name="PluginData" nillable="true" type="tns:PluginData" />
    </xs:sequence>
  </xs:complexType>
  <xs:element name="ArrayOfPluginData" nillable="true" type="tns:ArrayOfPluginData" />
  <xs:complexType name="PluginData">
    <xs:sequence>
      <xs:element minOccurs="0" name="AssemblyName" nillable="true" type="xs:string" />
      <xs:element minOccurs="0" name="Guid" type="ser:guid" />
      <xs:element minOccurs="0" name="TimeStamp" type="xs:dateTime" />
      <xs:element minOccurs="0" name="VersionData" nillable="true" type="tns:SemVerData" />
    </xs:sequence>
  </xs:complexType>
  <xs:element name="PluginData" nillable="true" type="tns:PluginData" />
</xs:schema>