src/SchedulingClients.Core/Service References/MapServiceReference/map.xsd

<?xml version="1.0" encoding="utf-8"?>
<xs:schema xmlns:ser="http://schemas.microsoft.com/2003/10/Serialization/" xmlns:tns="http://schemas.datacontract.org/2004/07/Scheduling.Services.Maps.Dtos" elementFormDefault="qualified" targetNamespace="http://schemas.datacontract.org/2004/07/Scheduling.Services.Maps.Dtos" xmlns:xs="http://www.w3.org/2001/XMLSchema">
  <xs:import schemaLocation="http://127.0.0.1:41916/map.svc?xsd=xsd4" namespace="http://schemas.datacontract.org/2004/07/GAAPICommon.Architecture" />
  <xs:import schemaLocation="http://127.0.0.1:41916/map.svc?xsd=xsd1" namespace="http://schemas.microsoft.com/2003/10/Serialization/" />
  <xs:complexType name="OccupyingMandateProgressDto">
    <xs:sequence>
      <xs:element minOccurs="0" name="OccupyingMandateMapItemData" nillable="true" type="tns:ArrayOfOccupyingMandateMapItemDto" />
      <xs:element xmlns:q1="http://schemas.datacontract.org/2004/07/GAAPICommon.Architecture" minOccurs="0" name="OccupyingMandateState" type="q1:OccupyingMandateState" />
      <xs:element minOccurs="0" name="TimeoutRemaining" type="ser:duration" />
    </xs:sequence>
  </xs:complexType>
  <xs:element name="OccupyingMandateProgressDto" nillable="true" type="tns:OccupyingMandateProgressDto" />
  <xs:complexType name="ArrayOfOccupyingMandateMapItemDto">
    <xs:sequence>
      <xs:element minOccurs="0" maxOccurs="unbounded" name="OccupyingMandateMapItemDto" nillable="true" type="tns:OccupyingMandateMapItemDto" />
    </xs:sequence>
  </xs:complexType>
  <xs:element name="ArrayOfOccupyingMandateMapItemDto" nillable="true" type="tns:ArrayOfOccupyingMandateMapItemDto" />
  <xs:complexType name="OccupyingMandateMapItemDto">
    <xs:sequence>
      <xs:element minOccurs="0" name="IsOccupied" type="xs:boolean" />
      <xs:element minOccurs="0" name="MapItemId" type="xs:int" />
    </xs:sequence>
  </xs:complexType>
  <xs:element name="OccupyingMandateMapItemDto" nillable="true" type="tns:OccupyingMandateMapItemDto" />
  <xs:complexType name="ArrayOfMoveDto">
    <xs:sequence>
      <xs:element minOccurs="0" maxOccurs="unbounded" name="MoveDto" nillable="true" type="tns:MoveDto" />
    </xs:sequence>
  </xs:complexType>
  <xs:element name="ArrayOfMoveDto" nillable="true" type="tns:ArrayOfMoveDto" />
  <xs:complexType name="MoveDto">
    <xs:sequence>
      <xs:element minOccurs="0" name="Alias" nillable="true" type="xs:string" />
      <xs:element minOccurs="0" name="DestinationId" type="xs:int" />
      <xs:element minOccurs="0" name="Id" type="xs:int" />
      <xs:element minOccurs="0" name="SourceId" type="xs:int" />
    </xs:sequence>
  </xs:complexType>
  <xs:element name="MoveDto" nillable="true" type="tns:MoveDto" />
  <xs:complexType name="ArrayOfNodeDto">
    <xs:sequence>
      <xs:element minOccurs="0" maxOccurs="unbounded" name="NodeDto" nillable="true" type="tns:NodeDto" />
    </xs:sequence>
  </xs:complexType>
  <xs:element name="ArrayOfNodeDto" nillable="true" type="tns:ArrayOfNodeDto" />
  <xs:complexType name="NodeDto">
    <xs:sequence>
      <xs:element minOccurs="0" name="Alias" nillable="true" type="xs:string" />
      <xs:element minOccurs="0" name="HeadingRad" type="xs:double" />
      <xs:element minOccurs="0" name="Id" type="xs:int" />
      <xs:element xmlns:q2="http://schemas.datacontract.org/2004/07/GAAPICommon.Architecture" minOccurs="0" name="Services" nillable="true" type="q2:ArrayOfServiceType" />
      <xs:element minOccurs="0" name="X" type="xs:double" />
      <xs:element minOccurs="0" name="Y" type="xs:double" />
    </xs:sequence>
  </xs:complexType>
  <xs:element name="NodeDto" nillable="true" type="tns:NodeDto" />
  <xs:complexType name="ArrayOfWaypointDto">
    <xs:sequence>
      <xs:element minOccurs="0" maxOccurs="unbounded" name="WaypointDto" nillable="true" type="tns:WaypointDto" />
    </xs:sequence>
  </xs:complexType>
  <xs:element name="ArrayOfWaypointDto" nillable="true" type="tns:ArrayOfWaypointDto" />
  <xs:complexType name="WaypointDto">
    <xs:sequence>
      <xs:element minOccurs="0" name="HeadingRad" type="xs:double" />
      <xs:element minOccurs="0" name="Id" type="xs:int" />
      <xs:element minOccurs="0" name="X" type="xs:double" />
      <xs:element minOccurs="0" name="Y" type="xs:double" />
    </xs:sequence>
  </xs:complexType>
  <xs:element name="WaypointDto" nillable="true" type="tns:WaypointDto" />
</xs:schema>