CSharp/SchedulingClients/Service References/ServicingServiceReference/servicing.xsd

<?xml version="1.0" encoding="utf-8"?>
<xs:schema xmlns:tns="http://schemas.datacontract.org/2004/07/Scheduling.Services.Servicing" elementFormDefault="qualified" targetNamespace="http://schemas.datacontract.org/2004/07/Scheduling.Services.Servicing" xmlns:xs="http://www.w3.org/2001/XMLSchema">
  <xs:complexType name="ArrayOfServiceStateData">
    <xs:sequence>
      <xs:element minOccurs="0" maxOccurs="unbounded" name="ServiceStateData" nillable="true" type="tns:ServiceStateData" />
    </xs:sequence>
  </xs:complexType>
  <xs:element name="ArrayOfServiceStateData" nillable="true" type="tns:ArrayOfServiceStateData" />
  <xs:complexType name="ServiceStateData">
    <xs:sequence>
      <xs:element minOccurs="0" name="BeneficiaryId" type="xs:int" />
      <xs:element minOccurs="0" name="ExecutorId" type="xs:int" />
      <xs:element minOccurs="0" name="TaskId" type="xs:int" />
    </xs:sequence>
  </xs:complexType>
  <xs:element name="ServiceStateData" nillable="true" type="tns:ServiceStateData" />
</xs:schema>