src/SchedulingClients.Core/Service References/SchedulingServiceReference/scheduling2.xsd

<?xml version="1.0" encoding="utf-8"?>
<xs:schema xmlns:ser="http://schemas.microsoft.com/2003/10/Serialization/" xmlns:tns="http://schemas.datacontract.org/2004/07/Scheduling.Services.Scheduling" elementFormDefault="qualified" targetNamespace="http://schemas.datacontract.org/2004/07/Scheduling.Services.Scheduling" xmlns:xs="http://www.w3.org/2001/XMLSchema">
  <xs:import schemaLocation="http://127.0.0.1:41916/scheduling.svc?xsd=xsd1" namespace="http://schemas.microsoft.com/2003/10/Serialization/" />
  <xs:import schemaLocation="http://127.0.0.1:41916/scheduling.svc?xsd=xsd2" namespace="http://schemas.datacontract.org/2004/07/GAAPICommon.Core.Dtos" />
  <xs:complexType name="SchedulerStateDto">
    <xs:sequence>
      <xs:element minOccurs="0" name="Cycle" type="xs:unsignedByte" />
      <xs:element minOccurs="0" name="InstanceId" type="ser:guid" />
      <xs:element xmlns:q1="http://schemas.datacontract.org/2004/07/GAAPICommon.Core.Dtos" minOccurs="0" name="SpotManagerState" nillable="true" type="q1:SpotManagerStateDto" />
      <xs:element minOccurs="0" name="UpTime" type="ser:duration" />
    </xs:sequence>
  </xs:complexType>
  <xs:element name="SchedulerStateDto" nillable="true" type="tns:SchedulerStateDto" />
</xs:schema>