src/SchedulingClients.Core/Service References/SchedulingServiceReference/scheduling3.xsd

<?xml version="1.0" encoding="utf-8"?>
<xs:schema xmlns:ser="http://schemas.microsoft.com/2003/10/Serialization/" xmlns:tns="http://schemas.datacontract.org/2004/07/GAAPICommon.Core.Dtos" elementFormDefault="qualified" targetNamespace="http://schemas.datacontract.org/2004/07/GAAPICommon.Core.Dtos" xmlns:xs="http://www.w3.org/2001/XMLSchema">
  <xs:import schemaLocation="http://127.0.0.1:41916/scheduling.svc?xsd=xsd1" namespace="http://schemas.microsoft.com/2003/10/Serialization/" />
  <xs:import schemaLocation="http://127.0.0.1:41916/scheduling.svc?xsd=xsd3" namespace="http://schemas.datacontract.org/2004/07/GAAPICommon.Architecture" />
  <xs:complexType name="ServiceCallResultDtoOfSemVerDtoroFpNV7u">
    <xs:annotation>
      <xs:appinfo>
        <GenericType Name="ServiceCallResultDtoOf{0}{#}" Namespace="http://schemas.datacontract.org/2004/07/GAAPICommon.Core.Dtos" xmlns="http://schemas.microsoft.com/2003/10/Serialization/">
          <GenericParameter Name="SemVerDto" Namespace="http://schemas.datacontract.org/2004/07/GAAPICommon.Core.Dtos" />
        </GenericType>
      </xs:appinfo>
    </xs:annotation>
    <xs:complexContent mixed="false">
      <xs:extension base="tns:ServiceCallResultDto">
        <xs:sequence>
          <xs:element minOccurs="0" name="Value" nillable="true" type="tns:SemVerDto" />
        </xs:sequence>
      </xs:extension>
    </xs:complexContent>
  </xs:complexType>
  <xs:element name="ServiceCallResultDtoOfSemVerDtoroFpNV7u" nillable="true" type="tns:ServiceCallResultDtoOfSemVerDtoroFpNV7u" />
  <xs:complexType name="ServiceCallResultDto">
    <xs:sequence>
      <xs:element minOccurs="0" name="ExceptionMessage" nillable="true" type="xs:string" />
      <xs:element minOccurs="0" name="ExceptionSource" nillable="true" type="xs:string" />
      <xs:element minOccurs="0" name="ExceptionStackTrace" nillable="true" type="xs:string" />
      <xs:element minOccurs="0" name="ServiceCode" type="xs:int" />
    </xs:sequence>
  </xs:complexType>
  <xs:element name="ServiceCallResultDto" nillable="true" type="tns:ServiceCallResultDto" />
  <xs:complexType name="SemVerDto">
    <xs:sequence>
      <xs:element minOccurs="0" name="Major" type="xs:int" />
      <xs:element minOccurs="0" name="Minor" type="xs:int" />
      <xs:element minOccurs="0" name="Patch" type="xs:int" />
      <xs:element minOccurs="0" name="ReleaseFlag" nillable="true" type="xs:string" />
    </xs:sequence>
  </xs:complexType>
  <xs:element name="SemVerDto" nillable="true" type="tns:SemVerDto" />
  <xs:complexType name="SchedulerStateDto">
    <xs:sequence>
      <xs:element minOccurs="0" name="Cycle" type="xs:unsignedByte" />
      <xs:element minOccurs="0" name="InstanceId" type="ser:guid" />
      <xs:element minOccurs="0" name="SpotManagerState" nillable="true" type="tns:SpotManagerStateDto" />
      <xs:element minOccurs="0" name="UpTime" type="ser:duration" />
    </xs:sequence>
  </xs:complexType>
  <xs:element name="SchedulerStateDto" nillable="true" type="tns:SchedulerStateDto" />
  <xs:complexType name="SpotManagerStateDto">
    <xs:sequence>
      <xs:element minOccurs="0" name="ChargingSpotStateDtos" nillable="true" type="tns:ArrayOfChargingSpotStateDto" />
      <xs:element minOccurs="0" name="ParkingSpotStateDtos" nillable="true" type="tns:ArrayOfParkingSpotStateDto" />
      <xs:element minOccurs="0" name="Tick" type="xs:unsignedByte" />
    </xs:sequence>
  </xs:complexType>
  <xs:element name="SpotManagerStateDto" nillable="true" type="tns:SpotManagerStateDto" />
  <xs:complexType name="ArrayOfChargingSpotStateDto">
    <xs:sequence>
      <xs:element minOccurs="0" maxOccurs="unbounded" name="ChargingSpotStateDto" nillable="true" type="tns:ChargingSpotStateDto" />
    </xs:sequence>
  </xs:complexType>
  <xs:element name="ArrayOfChargingSpotStateDto" nillable="true" type="tns:ArrayOfChargingSpotStateDto" />
  <xs:complexType name="ChargingSpotStateDto">
    <xs:complexContent mixed="false">
      <xs:extension base="tns:AbstractSpotStateDto">
        <xs:sequence>
          <xs:element minOccurs="0" name="ChargeBookingDto" nillable="true" type="tns:ChargeBookingStateDto" />
        </xs:sequence>
      </xs:extension>
    </xs:complexContent>
  </xs:complexType>
  <xs:element name="ChargingSpotStateDto" nillable="true" type="tns:ChargingSpotStateDto" />
  <xs:complexType name="AbstractSpotStateDto">
    <xs:sequence>
      <xs:element minOccurs="0" name="IsBooked" type="xs:boolean" />
      <xs:element minOccurs="0" name="NodeId" type="xs:int" />
    </xs:sequence>
  </xs:complexType>
  <xs:element name="AbstractSpotStateDto" nillable="true" type="tns:AbstractSpotStateDto" />
  <xs:complexType name="ChargeBookingStateDto">
    <xs:complexContent mixed="false">
      <xs:extension base="tns:AbstractBookingStateDto">
        <xs:sequence>
          <xs:element xmlns:q1="http://schemas.datacontract.org/2004/07/GAAPICommon.Architecture" minOccurs="0" name="ChargeType" type="q1:ChargeType" />
        </xs:sequence>
      </xs:extension>
    </xs:complexContent>
  </xs:complexType>
  <xs:element name="ChargeBookingStateDto" nillable="true" type="tns:ChargeBookingStateDto" />
  <xs:complexType name="AbstractBookingStateDto">
    <xs:sequence>
      <xs:element minOccurs="0" name="AgentId" type="xs:int" />
      <xs:element xmlns:q2="http://schemas.datacontract.org/2004/07/GAAPICommon.Architecture" minOccurs="0" name="BookingState" type="q2:BookingState" />
      <xs:element minOccurs="0" name="JobId" type="xs:int" />
      <xs:element minOccurs="0" name="TaskId" type="xs:int" />
    </xs:sequence>
  </xs:complexType>
  <xs:element name="AbstractBookingStateDto" nillable="true" type="tns:AbstractBookingStateDto" />
  <xs:complexType name="ArrayOfParkingSpotStateDto">
    <xs:sequence>
      <xs:element minOccurs="0" maxOccurs="unbounded" name="ParkingSpotStateDto" nillable="true" type="tns:ParkingSpotStateDto" />
    </xs:sequence>
  </xs:complexType>
  <xs:element name="ArrayOfParkingSpotStateDto" nillable="true" type="tns:ArrayOfParkingSpotStateDto" />
  <xs:complexType name="ParkingSpotStateDto">
    <xs:complexContent mixed="false">
      <xs:extension base="tns:AbstractSpotStateDto">
        <xs:sequence>
          <xs:element minOccurs="0" name="ParkBookingDto" nillable="true" type="tns:ParkBookingStateDto" />
        </xs:sequence>
      </xs:extension>
    </xs:complexContent>
  </xs:complexType>
  <xs:element name="ParkingSpotStateDto" nillable="true" type="tns:ParkingSpotStateDto" />
  <xs:complexType name="ParkBookingStateDto">
    <xs:complexContent mixed="false">
      <xs:extension base="tns:AbstractBookingStateDto">
        <xs:sequence />
      </xs:extension>
    </xs:complexContent>
  </xs:complexType>
  <xs:element name="ParkBookingStateDto" nillable="true" type="tns:ParkBookingStateDto" />
</xs:schema>