src/SchedulingClients.Core/Service References/ServicingServiceReference/ServicingService.wsdl

<?xml version="1.0" encoding="utf-8"?>
<wsdl:definitions xmlns:wsap="http://schemas.xmlsoap.org/ws/2004/08/addressing/policy" xmlns:wsa10="http://www.w3.org/2005/08/addressing" xmlns:tns="http://tempuri.org/" xmlns:msc="http://schemas.microsoft.com/ws/2005/12/wsdl/contract" xmlns:soapenc="http://schemas.xmlsoap.org/soap/encoding/" xmlns:wsx="http://schemas.xmlsoap.org/ws/2004/09/mex" xmlns:wsp="http://schemas.xmlsoap.org/ws/2004/09/policy" xmlns:wsam="http://www.w3.org/2007/05/addressing/metadata" xmlns:wsa="http://schemas.xmlsoap.org/ws/2004/08/addressing" xmlns:wsaw="http://www.w3.org/2006/05/addressing/wsdl" xmlns:soap="http://schemas.xmlsoap.org/wsdl/soap/" xmlns:soap12="http://schemas.xmlsoap.org/wsdl/soap12/" xmlns:wsu="http://docs.oasis-open.org/wss/2004/01/oasis-200401-wss-wssecurity-utility-1.0.xsd" xmlns:xsd="http://www.w3.org/2001/XMLSchema" name="ServicingService" targetNamespace="http://tempuri.org/" xmlns:wsdl="http://schemas.xmlsoap.org/wsdl/">
  <wsp:Policy wsu:Id="NetTcpBinding_IServicingService_policy">
    <wsp:ExactlyOne>
      <wsp:All>
        <msb:BinaryEncoding xmlns:msb="http://schemas.microsoft.com/ws/06/2004/mspolicy/netbinary1" />
        <wsaw:UsingAddressing />
      </wsp:All>
    </wsp:ExactlyOne>
  </wsp:Policy>
  <wsp:Policy wsu:Id="WSDualHttpBinding_IServicingService_policy">
    <wsp:ExactlyOne>
      <wsp:All>
        <wsrm:RMAssertion xmlns:wsrm="http://schemas.xmlsoap.org/ws/2005/02/rm/policy">
          <wsrm:InactivityTimeout Milliseconds="600000" />
          <wsrm:AcknowledgementInterval Milliseconds="200" />
        </wsrm:RMAssertion>
        <cdp:CompositeDuplex xmlns:cdp="http://schemas.microsoft.com/net/2006/06/duplex" />
        <ow:OneWay xmlns:ow="http://schemas.microsoft.com/ws/2005/05/routing/policy" />
        <wsaw:UsingAddressing />
      </wsp:All>
    </wsp:ExactlyOne>
  </wsp:Policy>
  <wsp:Policy wsu:Id="NetNamedPipeBinding_IServicingService_policy">
    <wsp:ExactlyOne>
      <wsp:All>
        <msb:BinaryEncoding xmlns:msb="http://schemas.microsoft.com/ws/06/2004/mspolicy/netbinary1" />
        <sp:TransportBinding xmlns:sp="http://schemas.xmlsoap.org/ws/2005/07/securitypolicy">
          <wsp:Policy>
            <sp:TransportToken>
              <wsp:Policy>
                <msf:WindowsTransportSecurity xmlns:msf="http://schemas.microsoft.com/ws/2006/05/framing/policy">
                  <msf:ProtectionLevel>EncryptAndSign</msf:ProtectionLevel>
                </msf:WindowsTransportSecurity>
              </wsp:Policy>
            </sp:TransportToken>
            <sp:AlgorithmSuite>
              <wsp:Policy>
                <sp:Basic256 />
              </wsp:Policy>
            </sp:AlgorithmSuite>
            <sp:Layout>
              <wsp:Policy>
                <sp:Strict />
              </wsp:Policy>
            </sp:Layout>
          </wsp:Policy>
        </sp:TransportBinding>
        <wsaw:UsingAddressing />
      </wsp:All>
    </wsp:ExactlyOne>
  </wsp:Policy>
  <wsdl:types>
    <xsd:schema targetNamespace="http://tempuri.org/Imports">
      <xsd:import schemaLocation="http://127.0.0.1:41916/servicing.svc?xsd=xsd0" namespace="http://tempuri.org/" />
      <xsd:import schemaLocation="http://127.0.0.1:41916/servicing.svc?xsd=xsd1" namespace="http://schemas.microsoft.com/2003/10/Serialization/" />
      <xsd:import schemaLocation="http://127.0.0.1:41916/servicing.svc?xsd=xsd2" namespace="http://schemas.datacontract.org/2004/07/GAAPICommon.Core.Dtos" />
      <xsd:import schemaLocation="http://127.0.0.1:41916/servicing.svc?xsd=xsd3" namespace="http://schemas.datacontract.org/2004/07/Scheduling.Services.Servicing.Dtos" />
    </xsd:schema>
  </wsdl:types>
  <wsdl:message name="IServicingService_GetAPISemVer_InputMessage">
    <wsdl:part name="parameters" element="tns:GetAPISemVer" />
  </wsdl:message>
  <wsdl:message name="IServicingService_GetAPISemVer_OutputMessage">
    <wsdl:part name="parameters" element="tns:GetAPISemVerResponse" />
  </wsdl:message>
  <wsdl:message name="IServicingService_SubscriptionHeartbeat_InputMessage">
    <wsdl:part name="parameters" element="tns:SubscriptionHeartbeat" />
  </wsdl:message>
  <wsdl:message name="IServicingService_SubscriptionHeartbeat_OutputMessage">
    <wsdl:part name="parameters" element="tns:SubscriptionHeartbeatResponse" />
  </wsdl:message>
  <wsdl:message name="IServicingService_GetOutstandingServiceRequests_InputMessage">
    <wsdl:part name="parameters" element="tns:GetOutstandingServiceRequests" />
  </wsdl:message>
  <wsdl:message name="IServicingService_GetOutstandingServiceRequests_OutputMessage">
    <wsdl:part name="parameters" element="tns:GetOutstandingServiceRequestsResponse" />
  </wsdl:message>
  <wsdl:message name="IServicingService_SetServiceComplete_InputMessage">
    <wsdl:part name="parameters" element="tns:SetServiceComplete" />
  </wsdl:message>
  <wsdl:message name="IServicingService_SetServiceComplete_OutputMessage">
    <wsdl:part name="parameters" element="tns:SetServiceCompleteResponse" />
  </wsdl:message>
  <wsdl:message name="IServicingService_OnCallback_OutputCallbackMessage">
    <wsdl:part name="parameters" element="tns:OnCallback" />
  </wsdl:message>
  <wsdl:message name="IServicingService_OnCallback_InputCallbackMessage">
    <wsdl:part name="parameters" element="tns:OnCallbackResponse" />
  </wsdl:message>
  <wsdl:portType name="IServicingService">
    <wsdl:operation name="GetAPISemVer">
      <wsdl:input wsaw:Action="http://tempuri.org/IService/GetAPISemVer" message="tns:IServicingService_GetAPISemVer_InputMessage" />
      <wsdl:output wsaw:Action="http://tempuri.org/IService/GetAPISemVerResponse" message="tns:IServicingService_GetAPISemVer_OutputMessage" />
    </wsdl:operation>
    <wsdl:operation name="SubscriptionHeartbeat">
      <wsdl:input wsaw:Action="http://tempuri.org/ISubscriptionService/SubscriptionHeartbeat" message="tns:IServicingService_SubscriptionHeartbeat_InputMessage" />
      <wsdl:output wsaw:Action="http://tempuri.org/ISubscriptionService/SubscriptionHeartbeatResponse" message="tns:IServicingService_SubscriptionHeartbeat_OutputMessage" />
    </wsdl:operation>
    <wsdl:operation name="GetOutstandingServiceRequests">
      <wsdl:input wsaw:Action="http://tempuri.org/IServicingService/GetOutstandingServiceRequests" message="tns:IServicingService_GetOutstandingServiceRequests_InputMessage" />
      <wsdl:output wsaw:Action="http://tempuri.org/IServicingService/GetOutstandingServiceRequestsResponse" message="tns:IServicingService_GetOutstandingServiceRequests_OutputMessage" />
    </wsdl:operation>
    <wsdl:operation name="SetServiceComplete">
      <wsdl:input wsaw:Action="http://tempuri.org/IServicingService/SetServiceComplete" message="tns:IServicingService_SetServiceComplete_InputMessage" />
      <wsdl:output wsaw:Action="http://tempuri.org/IServicingService/SetServiceCompleteResponse" message="tns:IServicingService_SetServiceComplete_OutputMessage" />
    </wsdl:operation>
    <wsdl:operation name="OnCallback">
      <wsdl:output wsaw:Action="http://tempuri.org/IServicingService/OnCallback" message="tns:IServicingService_OnCallback_OutputCallbackMessage" />
      <wsdl:input wsaw:Action="http://tempuri.org/IServicingService/OnCallbackResponse" message="tns:IServicingService_OnCallback_InputCallbackMessage" />
    </wsdl:operation>
  </wsdl:portType>
  <wsdl:binding name="NetTcpBinding_IServicingService" type="tns:IServicingService">
    <wsp:PolicyReference URI="#NetTcpBinding_IServicingService_policy" />
    <soap12:binding transport="http://schemas.microsoft.com/soap/tcp" />
    <wsdl:operation name="GetAPISemVer">
      <soap12:operation soapAction="http://tempuri.org/IService/GetAPISemVer" style="document" />
      <wsdl:input>
        <soap12:body use="literal" />
      </wsdl:input>
      <wsdl:output>
        <soap12:body use="literal" />
      </wsdl:output>
    </wsdl:operation>
    <wsdl:operation name="SubscriptionHeartbeat">
      <soap12:operation soapAction="http://tempuri.org/ISubscriptionService/SubscriptionHeartbeat" style="document" />
      <wsdl:input>
        <soap12:body use="literal" />
      </wsdl:input>
      <wsdl:output>
        <soap12:body use="literal" />
      </wsdl:output>
    </wsdl:operation>
    <wsdl:operation name="GetOutstandingServiceRequests">
      <soap12:operation soapAction="http://tempuri.org/IServicingService/GetOutstandingServiceRequests" style="document" />
      <wsdl:input>
        <soap12:body use="literal" />
      </wsdl:input>
      <wsdl:output>
        <soap12:body use="literal" />
      </wsdl:output>
    </wsdl:operation>
    <wsdl:operation name="SetServiceComplete">
      <soap12:operation soapAction="http://tempuri.org/IServicingService/SetServiceComplete" style="document" />
      <wsdl:input>
        <soap12:body use="literal" />
      </wsdl:input>
      <wsdl:output>
        <soap12:body use="literal" />
      </wsdl:output>
    </wsdl:operation>
    <wsdl:operation name="OnCallback">
      <soap12:operation soapAction="http://tempuri.org/IServicingService/OnCallback" style="document" />
      <wsdl:input>
        <soap12:body use="literal" />
      </wsdl:input>
      <wsdl:output>
        <soap12:body use="literal" />
      </wsdl:output>
    </wsdl:operation>
  </wsdl:binding>
  <wsdl:binding name="WSDualHttpBinding_IServicingService" type="tns:IServicingService">
    <wsp:PolicyReference URI="#WSDualHttpBinding_IServicingService_policy" />
    <soap12:binding transport="http://schemas.xmlsoap.org/soap/http" />
    <wsdl:operation name="GetAPISemVer">
      <soap12:operation soapAction="http://tempuri.org/IService/GetAPISemVer" style="document" />
      <wsdl:input>
        <soap12:body use="literal" />
      </wsdl:input>
      <wsdl:output>
        <soap12:body use="literal" />
      </wsdl:output>
    </wsdl:operation>
    <wsdl:operation name="SubscriptionHeartbeat">
      <soap12:operation soapAction="http://tempuri.org/ISubscriptionService/SubscriptionHeartbeat" style="document" />
      <wsdl:input>
        <soap12:body use="literal" />
      </wsdl:input>
      <wsdl:output>
        <soap12:body use="literal" />
      </wsdl:output>
    </wsdl:operation>
    <wsdl:operation name="GetOutstandingServiceRequests">
      <soap12:operation soapAction="http://tempuri.org/IServicingService/GetOutstandingServiceRequests" style="document" />
      <wsdl:input>
        <soap12:body use="literal" />
      </wsdl:input>
      <wsdl:output>
        <soap12:body use="literal" />
      </wsdl:output>
    </wsdl:operation>
    <wsdl:operation name="SetServiceComplete">
      <soap12:operation soapAction="http://tempuri.org/IServicingService/SetServiceComplete" style="document" />
      <wsdl:input>
        <soap12:body use="literal" />
      </wsdl:input>
      <wsdl:output>
        <soap12:body use="literal" />
      </wsdl:output>
    </wsdl:operation>
    <wsdl:operation name="OnCallback">
      <soap12:operation soapAction="http://tempuri.org/IServicingService/OnCallback" style="document" />
      <wsdl:input>
        <soap12:body use="literal" />
      </wsdl:input>
      <wsdl:output>
        <soap12:body use="literal" />
      </wsdl:output>
    </wsdl:operation>
  </wsdl:binding>
  <wsdl:binding name="NetNamedPipeBinding_IServicingService" type="tns:IServicingService">
    <wsp:PolicyReference URI="#NetNamedPipeBinding_IServicingService_policy" />
    <soap12:binding transport="http://schemas.microsoft.com/soap/named-pipe" />
    <wsdl:operation name="GetAPISemVer">
      <soap12:operation soapAction="http://tempuri.org/IService/GetAPISemVer" style="document" />
      <wsdl:input>
        <soap12:body use="literal" />
      </wsdl:input>
      <wsdl:output>
        <soap12:body use="literal" />
      </wsdl:output>
    </wsdl:operation>
    <wsdl:operation name="SubscriptionHeartbeat">
      <soap12:operation soapAction="http://tempuri.org/ISubscriptionService/SubscriptionHeartbeat" style="document" />
      <wsdl:input>
        <soap12:body use="literal" />
      </wsdl:input>
      <wsdl:output>
        <soap12:body use="literal" />
      </wsdl:output>
    </wsdl:operation>
    <wsdl:operation name="GetOutstandingServiceRequests">
      <soap12:operation soapAction="http://tempuri.org/IServicingService/GetOutstandingServiceRequests" style="document" />
      <wsdl:input>
        <soap12:body use="literal" />
      </wsdl:input>
      <wsdl:output>
        <soap12:body use="literal" />
      </wsdl:output>
    </wsdl:operation>
    <wsdl:operation name="SetServiceComplete">
      <soap12:operation soapAction="http://tempuri.org/IServicingService/SetServiceComplete" style="document" />
      <wsdl:input>
        <soap12:body use="literal" />
      </wsdl:input>
      <wsdl:output>
        <soap12:body use="literal" />
      </wsdl:output>
    </wsdl:operation>
    <wsdl:operation name="OnCallback">
      <soap12:operation soapAction="http://tempuri.org/IServicingService/OnCallback" style="document" />
      <wsdl:input>
        <soap12:body use="literal" />
      </wsdl:input>
      <wsdl:output>
        <soap12:body use="literal" />
      </wsdl:output>
    </wsdl:operation>
  </wsdl:binding>
  <wsdl:service name="ServicingService">
    <wsdl:port name="NetTcpBinding_IServicingService" binding="tns:NetTcpBinding_IServicingService">
      <soap12:address location="net.tcp://127.0.0.1:41917/servicing.svc" />
      <wsa10:EndpointReference>
        <wsa10:Address>net.tcp://127.0.0.1:41917/servicing.svc</wsa10:Address>
      </wsa10:EndpointReference>
    </wsdl:port>
    <wsdl:port name="WSDualHttpBinding_IServicingService" binding="tns:WSDualHttpBinding_IServicingService">
      <soap12:address location="http://127.0.0.1:41916/servicing.svc" />
      <wsa10:EndpointReference>
        <wsa10:Address>http://127.0.0.1:41916/servicing.svc</wsa10:Address>
      </wsa10:EndpointReference>
    </wsdl:port>
    <wsdl:port name="NetNamedPipeBinding_IServicingService" binding="tns:NetNamedPipeBinding_IServicingService">
      <soap12:address location="net.pipe://localhost/servicing.svc" />
      <wsa10:EndpointReference>
        <wsa10:Address>net.pipe://localhost/servicing.svc</wsa10:Address>
        <Identity xmlns="http://schemas.xmlsoap.org/ws/2006/02/addressingidentity">
          <Upn>martin.davies@automation1.com</Upn>
        </Identity>
      </wsa10:EndpointReference>
    </wsdl:port>
  </wsdl:service>
</wsdl:definitions>