CSharp/SchedulingClients/Service References/JobStateServiceReference/jobState.xsd

<?xml version="1.0" encoding="utf-8"?>
<xs:schema xmlns:tns="http://schemas.datacontract.org/2004/07/Scheduling.Core" elementFormDefault="qualified" targetNamespace="http://schemas.datacontract.org/2004/07/Scheduling.Core" xmlns:xs="http://www.w3.org/2001/XMLSchema">
  <xs:simpleType name="JobStatus">
    <xs:restriction base="xs:string">
      <xs:enumeration value="Assembly" />
      <xs:enumeration value="Assigning" />
      <xs:enumeration value="Waiting" />
      <xs:enumeration value="InProgress" />
      <xs:enumeration value="Completed" />
      <xs:enumeration value="Aborting" />
      <xs:enumeration value="Aborted" />
      <xs:enumeration value="Editing" />
      <xs:enumeration value="Failing" />
      <xs:enumeration value="Failed" />
      <xs:enumeration value="PartiallyCompleted" />
    </xs:restriction>
  </xs:simpleType>
  <xs:element name="JobStatus" nillable="true" type="tns:JobStatus" />
  <xs:simpleType name="TaskStatus">
    <xs:restriction base="xs:string">
      <xs:enumeration value="Unstarted" />
      <xs:enumeration value="InProgress" />
      <xs:enumeration value="Completed" />
      <xs:enumeration value="Aborting" />
      <xs:enumeration value="Aborted" />
      <xs:enumeration value="Failing" />
      <xs:enumeration value="Failed" />
      <xs:enumeration value="Editing" />
      <xs:enumeration value="PartiallyCompleted" />
    </xs:restriction>
  </xs:simpleType>
  <xs:element name="TaskStatus" nillable="true" type="tns:TaskStatus" />
  <xs:simpleType name="TaskType">
    <xs:restriction base="xs:string">
      <xs:enumeration value="UnorderedList" />
      <xs:enumeration value="OrderedList" />
      <xs:enumeration value="PipelinedMoveList" />
      <xs:enumeration value="ServiceAtNode" />
      <xs:enumeration value="AwaitAtNode" />
      <xs:enumeration value="SleepAtNode" />
      <xs:enumeration value="MoveToNode" />
      <xs:enumeration value="ChargeAtNode" />
    </xs:restriction>
  </xs:simpleType>
  <xs:element name="TaskType" nillable="true" type="tns:TaskType" />
</xs:schema>