CSharp/SchedulingClients/Service References/JobStateServiceReference/jobState2.xsd

<?xml version="1.0" encoding="utf-8"?>
<xs:schema xmlns:tns="http://schemas.datacontract.org/2004/07/SchedulingServices" elementFormDefault="qualified" targetNamespace="http://schemas.datacontract.org/2004/07/SchedulingServices" xmlns:xs="http://www.w3.org/2001/XMLSchema">
  <xs:complexType name="JobStateData">
    <xs:sequence>
      <xs:element minOccurs="0" name="AssignedAgentId" type="xs:int" />
      <xs:element minOccurs="0" name="JobId" type="xs:int" />
      <xs:element minOccurs="0" name="JobStatus" type="tns:JobStatus" />
      <xs:element minOccurs="0" name="Tasks" nillable="true" type="tns:ArrayOfTaskStateData" />
    </xs:sequence>
  </xs:complexType>
  <xs:element name="JobStateData" nillable="true" type="tns:JobStateData" />
  <xs:simpleType name="JobStatus">
    <xs:restriction base="xs:string">
      <xs:enumeration value="Assembly" />
      <xs:enumeration value="Assigning" />
      <xs:enumeration value="Waiting" />
      <xs:enumeration value="InProgress" />
      <xs:enumeration value="Complete" />
      <xs:enumeration value="Aborted" />
    </xs:restriction>
  </xs:simpleType>
  <xs:element name="JobStatus" nillable="true" type="tns:JobStatus" />
  <xs:complexType name="ArrayOfTaskStateData">
    <xs:sequence>
      <xs:element minOccurs="0" maxOccurs="unbounded" name="TaskStateData" nillable="true" type="tns:TaskStateData" />
    </xs:sequence>
  </xs:complexType>
  <xs:element name="ArrayOfTaskStateData" nillable="true" type="tns:ArrayOfTaskStateData" />
  <xs:complexType name="TaskStateData">
    <xs:sequence>
      <xs:element minOccurs="0" name="MetaData" nillable="true" type="xs:string" />
      <xs:element minOccurs="0" name="TaskId" type="xs:int" />
      <xs:element minOccurs="0" name="TaskStatus" type="tns:TaskStatus" />
      <xs:element minOccurs="0" name="TaskType" nillable="true" type="xs:string" />
    </xs:sequence>
  </xs:complexType>
  <xs:element name="TaskStateData" nillable="true" type="tns:TaskStateData" />
  <xs:simpleType name="TaskStatus">
    <xs:restriction base="xs:string">
      <xs:enumeration value="Unstarted" />
      <xs:enumeration value="InProgress" />
      <xs:enumeration value="Completed" />
      <xs:enumeration value="Aborted" />
      <xs:enumeration value="Assembly" />
    </xs:restriction>
  </xs:simpleType>
  <xs:element name="TaskStatus" nillable="true" type="tns:TaskStatus" />
</xs:schema>