CSharp/SchedulingClients/Service References/JobStateServiceReference/JobStateService.wsdl

<?xml version="1.0" encoding="utf-8"?>
<wsdl:definitions xmlns:wsap="http://schemas.xmlsoap.org/ws/2004/08/addressing/policy" xmlns:wsa10="http://www.w3.org/2005/08/addressing" xmlns:tns="http://tempuri.org/" xmlns:msc="http://schemas.microsoft.com/ws/2005/12/wsdl/contract" xmlns:soapenc="http://schemas.xmlsoap.org/soap/encoding/" xmlns:wsx="http://schemas.xmlsoap.org/ws/2004/09/mex" xmlns:wsp="http://schemas.xmlsoap.org/ws/2004/09/policy" xmlns:wsam="http://www.w3.org/2007/05/addressing/metadata" xmlns:wsa="http://schemas.xmlsoap.org/ws/2004/08/addressing" xmlns:soap12="http://schemas.xmlsoap.org/wsdl/soap12/" xmlns:wsaw="http://www.w3.org/2006/05/addressing/wsdl" xmlns:soap="http://schemas.xmlsoap.org/wsdl/soap/" xmlns:wsu="http://docs.oasis-open.org/wss/2004/01/oasis-200401-wss-wssecurity-utility-1.0.xsd" xmlns:xsd="http://www.w3.org/2001/XMLSchema" name="JobStateService" targetNamespace="http://tempuri.org/" xmlns:wsdl="http://schemas.xmlsoap.org/wsdl/">
  <wsp:Policy wsu:Id="NetTcpBinding_IJobStateService_policy">
    <wsp:ExactlyOne>
      <wsp:All>
        <msb:BinaryEncoding xmlns:msb="http://schemas.microsoft.com/ws/06/2004/mspolicy/netbinary1" />
        <wsaw:UsingAddressing />
      </wsp:All>
    </wsp:ExactlyOne>
  </wsp:Policy>
  <wsp:Policy wsu:Id="WSDualHttpBinding_IJobStateService_policy">
    <wsp:ExactlyOne>
      <wsp:All>
        <wsrm:RMAssertion xmlns:wsrm="http://schemas.xmlsoap.org/ws/2005/02/rm/policy">
          <wsrm:InactivityTimeout Milliseconds="600000" />
          <wsrm:AcknowledgementInterval Milliseconds="200" />
        </wsrm:RMAssertion>
        <cdp:CompositeDuplex xmlns:cdp="http://schemas.microsoft.com/net/2006/06/duplex" />
        <ow:OneWay xmlns:ow="http://schemas.microsoft.com/ws/2005/05/routing/policy" />
        <wsaw:UsingAddressing />
      </wsp:All>
    </wsp:ExactlyOne>
  </wsp:Policy>
  <wsdl:types>
    <xsd:schema targetNamespace="http://tempuri.org/Imports">
      <xsd:import schemaLocation="http://127.0.0.1:41916/jobState.svc?xsd=xsd0" namespace="http://tempuri.org/" />
      <xsd:import schemaLocation="http://127.0.0.1:41916/jobState.svc?xsd=xsd1" namespace="http://schemas.microsoft.com/2003/10/Serialization/" />
      <xsd:import schemaLocation="http://127.0.0.1:41916/jobState.svc?xsd=xsd2" namespace="http://schemas.datacontract.org/2004/07/System" />
      <xsd:import schemaLocation="http://127.0.0.1:41916/jobState.svc?xsd=xsd3" namespace="http://schemas.datacontract.org/2004/07/SchedulingServices" />
      <xsd:import schemaLocation="http://127.0.0.1:41916/jobState.svc?xsd=xsd4" namespace="http://schemas.datacontract.org/2004/07/Services" />
    </xsd:schema>
  </wsdl:types>
  <wsdl:message name="IJobStateService_SubscriptionHeartbeat_InputMessage">
    <wsdl:part name="parameters" element="tns:SubscriptionHeartbeat" />
  </wsdl:message>
  <wsdl:message name="IJobStateService_SubscriptionHeartbeat_OutputMessage">
    <wsdl:part name="parameters" element="tns:SubscriptionHeartbeatResponse" />
  </wsdl:message>
  <wsdl:message name="IJobStateService_GetJobState_InputMessage">
    <wsdl:part name="parameters" element="tns:GetJobState" />
  </wsdl:message>
  <wsdl:message name="IJobStateService_GetJobState_OutputMessage">
    <wsdl:part name="parameters" element="tns:GetJobStateResponse" />
  </wsdl:message>
  <wsdl:message name="IJobStateService_GetParentJobStateFromTaskId_InputMessage">
    <wsdl:part name="parameters" element="tns:GetParentJobStateFromTaskId" />
  </wsdl:message>
  <wsdl:message name="IJobStateService_GetParentJobStateFromTaskId_OutputMessage">
    <wsdl:part name="parameters" element="tns:GetParentJobStateFromTaskIdResponse" />
  </wsdl:message>
  <wsdl:message name="IJobStateService_OnCallback_OutputCallbackMessage">
    <wsdl:part name="parameters" element="tns:OnCallback" />
  </wsdl:message>
  <wsdl:message name="IJobStateService_OnCallback_InputCallbackMessage">
    <wsdl:part name="parameters" element="tns:OnCallbackResponse" />
  </wsdl:message>
  <wsdl:portType name="IJobStateService">
    <wsdl:operation name="SubscriptionHeartbeat">
      <wsdl:input wsaw:Action="http://tempuri.org/ISubscriptionService/SubscriptionHeartbeat" message="tns:IJobStateService_SubscriptionHeartbeat_InputMessage" />
      <wsdl:output wsaw:Action="http://tempuri.org/ISubscriptionService/SubscriptionHeartbeatResponse" message="tns:IJobStateService_SubscriptionHeartbeat_OutputMessage" />
    </wsdl:operation>
    <wsdl:operation name="GetJobState">
      <wsdl:input wsaw:Action="http://tempuri.org/IJobStateService/GetJobState" message="tns:IJobStateService_GetJobState_InputMessage" />
      <wsdl:output wsaw:Action="http://tempuri.org/IJobStateService/GetJobStateResponse" message="tns:IJobStateService_GetJobState_OutputMessage" />
    </wsdl:operation>
    <wsdl:operation name="GetParentJobStateFromTaskId">
      <wsdl:input wsaw:Action="http://tempuri.org/IJobStateService/GetParentJobStateFromTaskId" message="tns:IJobStateService_GetParentJobStateFromTaskId_InputMessage" />
      <wsdl:output wsaw:Action="http://tempuri.org/IJobStateService/GetParentJobStateFromTaskIdResponse" message="tns:IJobStateService_GetParentJobStateFromTaskId_OutputMessage" />
    </wsdl:operation>
    <wsdl:operation name="OnCallback">
      <wsdl:output wsaw:Action="http://tempuri.org/IJobStateService/OnCallback" message="tns:IJobStateService_OnCallback_OutputCallbackMessage" />
      <wsdl:input wsaw:Action="http://tempuri.org/IJobStateService/OnCallbackResponse" message="tns:IJobStateService_OnCallback_InputCallbackMessage" />
    </wsdl:operation>
  </wsdl:portType>
  <wsdl:binding name="NetTcpBinding_IJobStateService" type="tns:IJobStateService">
    <wsp:PolicyReference URI="#NetTcpBinding_IJobStateService_policy" />
    <soap12:binding transport="http://schemas.microsoft.com/soap/tcp" />
    <wsdl:operation name="SubscriptionHeartbeat">
      <soap12:operation soapAction="http://tempuri.org/ISubscriptionService/SubscriptionHeartbeat" style="document" />
      <wsdl:input>
        <soap12:body use="literal" />
      </wsdl:input>
      <wsdl:output>
        <soap12:body use="literal" />
      </wsdl:output>
    </wsdl:operation>
    <wsdl:operation name="GetJobState">
      <soap12:operation soapAction="http://tempuri.org/IJobStateService/GetJobState" style="document" />
      <wsdl:input>
        <soap12:body use="literal" />
      </wsdl:input>
      <wsdl:output>
        <soap12:body use="literal" />
      </wsdl:output>
    </wsdl:operation>
    <wsdl:operation name="GetParentJobStateFromTaskId">
      <soap12:operation soapAction="http://tempuri.org/IJobStateService/GetParentJobStateFromTaskId" style="document" />
      <wsdl:input>
        <soap12:body use="literal" />
      </wsdl:input>
      <wsdl:output>
        <soap12:body use="literal" />
      </wsdl:output>
    </wsdl:operation>
    <wsdl:operation name="OnCallback">
      <soap12:operation soapAction="http://tempuri.org/IJobStateService/OnCallback" style="document" />
      <wsdl:input>
        <soap12:body use="literal" />
      </wsdl:input>
      <wsdl:output>
        <soap12:body use="literal" />
      </wsdl:output>
    </wsdl:operation>
  </wsdl:binding>
  <wsdl:binding name="WSDualHttpBinding_IJobStateService" type="tns:IJobStateService">
    <wsp:PolicyReference URI="#WSDualHttpBinding_IJobStateService_policy" />
    <soap12:binding transport="http://schemas.xmlsoap.org/soap/http" />
    <wsdl:operation name="SubscriptionHeartbeat">
      <soap12:operation soapAction="http://tempuri.org/ISubscriptionService/SubscriptionHeartbeat" style="document" />
      <wsdl:input>
        <soap12:body use="literal" />
      </wsdl:input>
      <wsdl:output>
        <soap12:body use="literal" />
      </wsdl:output>
    </wsdl:operation>
    <wsdl:operation name="GetJobState">
      <soap12:operation soapAction="http://tempuri.org/IJobStateService/GetJobState" style="document" />
      <wsdl:input>
        <soap12:body use="literal" />
      </wsdl:input>
      <wsdl:output>
        <soap12:body use="literal" />
      </wsdl:output>
    </wsdl:operation>
    <wsdl:operation name="GetParentJobStateFromTaskId">
      <soap12:operation soapAction="http://tempuri.org/IJobStateService/GetParentJobStateFromTaskId" style="document" />
      <wsdl:input>
        <soap12:body use="literal" />
      </wsdl:input>
      <wsdl:output>
        <soap12:body use="literal" />
      </wsdl:output>
    </wsdl:operation>
    <wsdl:operation name="OnCallback">
      <soap12:operation soapAction="http://tempuri.org/IJobStateService/OnCallback" style="document" />
      <wsdl:input>
        <soap12:body use="literal" />
      </wsdl:input>
      <wsdl:output>
        <soap12:body use="literal" />
      </wsdl:output>
    </wsdl:operation>
  </wsdl:binding>
  <wsdl:service name="JobStateService">
    <wsdl:port name="NetTcpBinding_IJobStateService" binding="tns:NetTcpBinding_IJobStateService">
      <soap12:address location="net.tcp://127.0.0.1:41917/jobState.svc" />
      <wsa10:EndpointReference>
        <wsa10:Address>net.tcp://127.0.0.1:41917/jobState.svc</wsa10:Address>
      </wsa10:EndpointReference>
    </wsdl:port>
    <wsdl:port name="WSDualHttpBinding_IJobStateService" binding="tns:WSDualHttpBinding_IJobStateService">
      <soap12:address location="http://127.0.0.1:41916/jobState.svc" />
      <wsa10:EndpointReference>
        <wsa10:Address>http://127.0.0.1:41916/jobState.svc</wsa10:Address>
      </wsa10:EndpointReference>
    </wsdl:port>
  </wsdl:service>
</wsdl:definitions>