CSharp/SchedulingClients/Service References/JobStateServiceReference/jobState31.xsd

<?xml version="1.0" encoding="utf-8"?>
<xs:schema xmlns:tns="http://schemas.datacontract.org/2004/07/Scheduling.Services.Jobs" elementFormDefault="qualified" targetNamespace="http://schemas.datacontract.org/2004/07/Scheduling.Services.Jobs" xmlns:xs="http://www.w3.org/2001/XMLSchema">
  <xs:import schemaLocation="http://127.0.0.1:41916/jobState.svc?xsd=xsd4" namespace="http://schemas.datacontract.org/2004/07/Scheduling.Core" />
  <xs:complexType name="JobStateData">
    <xs:sequence>
      <xs:element minOccurs="0" name="AssignedAgentId" type="xs:int" />
      <xs:element minOccurs="0" name="JobId" type="xs:int" />
      <xs:element xmlns:q1="http://schemas.datacontract.org/2004/07/Scheduling.Core" minOccurs="0" name="JobStatus" type="q1:JobStatus" />
      <xs:element minOccurs="0" name="Tasks" nillable="true" type="tns:ArrayOfNodeTaskStateData" />
    </xs:sequence>
  </xs:complexType>
  <xs:element name="JobStateData" nillable="true" type="tns:JobStateData" />
  <xs:complexType name="ArrayOfNodeTaskStateData">
    <xs:sequence>
      <xs:element minOccurs="0" maxOccurs="unbounded" name="NodeTaskStateData" nillable="true" type="tns:NodeTaskStateData" />
    </xs:sequence>
  </xs:complexType>
  <xs:element name="ArrayOfNodeTaskStateData" nillable="true" type="tns:ArrayOfNodeTaskStateData" />
  <xs:complexType name="NodeTaskStateData">
    <xs:sequence>
      <xs:element minOccurs="0" name="MetaData" nillable="true" type="xs:string" />
      <xs:element minOccurs="0" name="NodeId" type="xs:int" />
      <xs:element minOccurs="0" name="TaskId" type="xs:int" />
      <xs:element xmlns:q2="http://schemas.datacontract.org/2004/07/Scheduling.Core" minOccurs="0" name="TaskStatus" type="q2:TaskStatus" />
      <xs:element minOccurs="0" name="TaskType" nillable="true" type="xs:string" />
    </xs:sequence>
  </xs:complexType>
  <xs:element name="NodeTaskStateData" nillable="true" type="tns:NodeTaskStateData" />
  <xs:complexType name="TaskProgressData">
    <xs:sequence>
      <xs:element minOccurs="0" name="TaskId" type="xs:int" />
      <xs:element xmlns:q3="http://schemas.datacontract.org/2004/07/Scheduling.Core" minOccurs="0" name="TaskStatus" type="q3:TaskStatus" />
    </xs:sequence>
  </xs:complexType>
  <xs:element name="TaskProgressData" nillable="true" type="tns:TaskProgressData" />
</xs:schema>