CSharp/SchedulingClients/Service References/AgentStatecastserviceReference/agentStatecast4.xsd

<?xml version="1.0" encoding="utf-8"?>
<xs:schema xmlns:tns="http://schemas.datacontract.org/2004/07/Kingpin" elementFormDefault="qualified" targetNamespace="http://schemas.datacontract.org/2004/07/Kingpin" xmlns:xs="http://www.w3.org/2001/XMLSchema">
  <xs:import schemaLocation="http://127.0.0.1:41916/agentStatecast.svc?xsd=xsd6" namespace="http://schemas.microsoft.com/2003/10/Serialization/Arrays" />
  <xs:complexType name="CastType">
    <xs:sequence>
      <xs:element minOccurs="0" name="Code" type="xs:unsignedByte" />
      <xs:element minOccurs="0" name="Label" nillable="true" type="xs:string" />
      <xs:element minOccurs="0" name="NumBytes" type="xs:int" />
      <xs:element xmlns:q1="http://schemas.microsoft.com/2003/10/Serialization/Arrays" minOccurs="0" name="Variables" nillable="true" type="q1:ArrayOfanyType" />
    </xs:sequence>
  </xs:complexType>
  <xs:element name="CastType" nillable="true" type="tns:CastType" />
</xs:schema>