CSharp/SchedulingClients/Service References/AgentStatecastServiceReference/agentStatecast3.xsd

<?xml version="1.0" encoding="utf-8"?>
<xs:schema xmlns:tns="http://schemas.datacontract.org/2004/07/System" elementFormDefault="qualified" targetNamespace="http://schemas.datacontract.org/2004/07/System" xmlns:xs="http://www.w3.org/2001/XMLSchema">
  <xs:import schemaLocation="http://127.0.0.1:41916/agentStatecast.svc?xsd=xsd3" namespace="http://schemas.datacontract.org/2004/07/Services" />
  <xs:import schemaLocation="http://127.0.0.1:41916/agentStatecast.svc?xsd=xsd4" namespace="http://schemas.datacontract.org/2004/07/System.Net" />
  <xs:import schemaLocation="http://127.0.0.1:41916/agentStatecast.svc?xsd=xsd7" namespace="http://schemas.datacontract.org/2004/07/Scheduling.Services.Agents" />
  <xs:complexType name="TupleOfunsignedByteServiceCallDatayG81JSvh">
    <xs:annotation>
      <xs:appinfo>
        <GenericType Name="TupleOf{0}{1}{#}" Namespace="http://schemas.datacontract.org/2004/07/System" xmlns="http://schemas.microsoft.com/2003/10/Serialization/">
          <GenericParameter Name="unsignedByte" Namespace="http://www.w3.org/2001/XMLSchema" />
          <GenericParameter Name="ServiceCallData" Namespace="http://schemas.datacontract.org/2004/07/Services" />
        </GenericType>
      </xs:appinfo>
    </xs:annotation>
    <xs:sequence>
      <xs:element name="m_Item1" type="xs:unsignedByte" />
      <xs:element xmlns:q1="http://schemas.datacontract.org/2004/07/Services" name="m_Item2" nillable="true" type="q1:ServiceCallData" />
    </xs:sequence>
  </xs:complexType>
  <xs:element name="TupleOfunsignedByteServiceCallDatayG81JSvh" nillable="true" type="tns:TupleOfunsignedByteServiceCallDatayG81JSvh" />
  <xs:complexType name="TupleOffloatServiceCallDatayG81JSvh">
    <xs:annotation>
      <xs:appinfo>
        <GenericType Name="TupleOf{0}{1}{#}" Namespace="http://schemas.datacontract.org/2004/07/System" xmlns="http://schemas.microsoft.com/2003/10/Serialization/">
          <GenericParameter Name="float" Namespace="http://www.w3.org/2001/XMLSchema" />
          <GenericParameter Name="ServiceCallData" Namespace="http://schemas.datacontract.org/2004/07/Services" />
        </GenericType>
      </xs:appinfo>
    </xs:annotation>
    <xs:sequence>
      <xs:element name="m_Item1" type="xs:float" />
      <xs:element xmlns:q2="http://schemas.datacontract.org/2004/07/Services" name="m_Item2" nillable="true" type="q2:ServiceCallData" />
    </xs:sequence>
  </xs:complexType>
  <xs:element name="TupleOffloatServiceCallDatayG81JSvh" nillable="true" type="tns:TupleOffloatServiceCallDatayG81JSvh" />
  <xs:complexType name="TupleOfIPAddressServiceCallDataTT52EBte">
    <xs:annotation>
      <xs:appinfo>
        <GenericType Name="TupleOf{0}{1}{#}" Namespace="http://schemas.datacontract.org/2004/07/System" xmlns="http://schemas.microsoft.com/2003/10/Serialization/">
          <GenericParameter Name="IPAddress" Namespace="http://schemas.datacontract.org/2004/07/System.Net" />
          <GenericParameter Name="ServiceCallData" Namespace="http://schemas.datacontract.org/2004/07/Services" />
        </GenericType>
      </xs:appinfo>
    </xs:annotation>
    <xs:sequence>
      <xs:element xmlns:q3="http://schemas.datacontract.org/2004/07/System.Net" name="m_Item1" nillable="true" type="q3:IPAddress" />
      <xs:element xmlns:q4="http://schemas.datacontract.org/2004/07/Services" name="m_Item2" nillable="true" type="q4:ServiceCallData" />
    </xs:sequence>
  </xs:complexType>
  <xs:element name="TupleOfIPAddressServiceCallDataTT52EBte" nillable="true" type="tns:TupleOfIPAddressServiceCallDataTT52EBte" />
  <xs:complexType name="TupleOfshortServiceCallDatayG81JSvh">
    <xs:annotation>
      <xs:appinfo>
        <GenericType Name="TupleOf{0}{1}{#}" Namespace="http://schemas.datacontract.org/2004/07/System" xmlns="http://schemas.microsoft.com/2003/10/Serialization/">
          <GenericParameter Name="short" Namespace="http://www.w3.org/2001/XMLSchema" />
          <GenericParameter Name="ServiceCallData" Namespace="http://schemas.datacontract.org/2004/07/Services" />
        </GenericType>
      </xs:appinfo>
    </xs:annotation>
    <xs:sequence>
      <xs:element name="m_Item1" type="xs:short" />
      <xs:element xmlns:q5="http://schemas.datacontract.org/2004/07/Services" name="m_Item2" nillable="true" type="q5:ServiceCallData" />
    </xs:sequence>
  </xs:complexType>
  <xs:element name="TupleOfshortServiceCallDatayG81JSvh" nillable="true" type="tns:TupleOfshortServiceCallDatayG81JSvh" />
  <xs:complexType name="TupleOfArrayOfStateCastVariableDefinitionDataServiceCallDatamvMP2t26">
    <xs:annotation>
      <xs:appinfo>
        <GenericType Name="TupleOf{0}{1}{#}" Namespace="http://schemas.datacontract.org/2004/07/System" xmlns="http://schemas.microsoft.com/2003/10/Serialization/">
          <GenericParameter Name="ArrayOfStateCastVariableDefinitionData" Namespace="http://schemas.datacontract.org/2004/07/Scheduling.Services.Agents" />
          <GenericParameter Name="ServiceCallData" Namespace="http://schemas.datacontract.org/2004/07/Services" />
        </GenericType>
      </xs:appinfo>
    </xs:annotation>
    <xs:sequence>
      <xs:element xmlns:q6="http://schemas.datacontract.org/2004/07/Scheduling.Services.Agents" name="m_Item1" nillable="true" type="q6:ArrayOfStateCastVariableDefinitionData" />
      <xs:element xmlns:q7="http://schemas.datacontract.org/2004/07/Services" name="m_Item2" nillable="true" type="q7:ServiceCallData" />
    </xs:sequence>
  </xs:complexType>
  <xs:element name="TupleOfArrayOfStateCastVariableDefinitionDataServiceCallDatamvMP2t26" nillable="true" type="tns:TupleOfArrayOfStateCastVariableDefinitionDataServiceCallDatamvMP2t26" />
  <xs:complexType name="TupleOfunsignedShortServiceCallDatayG81JSvh">
    <xs:annotation>
      <xs:appinfo>
        <GenericType Name="TupleOf{0}{1}{#}" Namespace="http://schemas.datacontract.org/2004/07/System" xmlns="http://schemas.microsoft.com/2003/10/Serialization/">
          <GenericParameter Name="unsignedShort" Namespace="http://www.w3.org/2001/XMLSchema" />
          <GenericParameter Name="ServiceCallData" Namespace="http://schemas.datacontract.org/2004/07/Services" />
        </GenericType>
      </xs:appinfo>
    </xs:annotation>
    <xs:sequence>
      <xs:element name="m_Item1" type="xs:unsignedShort" />
      <xs:element xmlns:q8="http://schemas.datacontract.org/2004/07/Services" name="m_Item2" nillable="true" type="q8:ServiceCallData" />
    </xs:sequence>
  </xs:complexType>
  <xs:element name="TupleOfunsignedShortServiceCallDatayG81JSvh" nillable="true" type="tns:TupleOfunsignedShortServiceCallDatayG81JSvh" />
  <xs:complexType name="TupleOfintServiceCallDatayG81JSvh">
    <xs:annotation>
      <xs:appinfo>
        <GenericType Name="TupleOf{0}{1}{#}" Namespace="http://schemas.datacontract.org/2004/07/System" xmlns="http://schemas.microsoft.com/2003/10/Serialization/">
          <GenericParameter Name="int" Namespace="http://www.w3.org/2001/XMLSchema" />
          <GenericParameter Name="ServiceCallData" Namespace="http://schemas.datacontract.org/2004/07/Services" />
        </GenericType>
      </xs:appinfo>
    </xs:annotation>
    <xs:sequence>
      <xs:element name="m_Item1" type="xs:int" />
      <xs:element xmlns:q9="http://schemas.datacontract.org/2004/07/Services" name="m_Item2" nillable="true" type="q9:ServiceCallData" />
    </xs:sequence>
  </xs:complexType>
  <xs:element name="TupleOfintServiceCallDatayG81JSvh" nillable="true" type="tns:TupleOfintServiceCallDatayG81JSvh" />
  <xs:complexType name="TupleOfunsignedIntServiceCallDatayG81JSvh">
    <xs:annotation>
      <xs:appinfo>
        <GenericType Name="TupleOf{0}{1}{#}" Namespace="http://schemas.datacontract.org/2004/07/System" xmlns="http://schemas.microsoft.com/2003/10/Serialization/">
          <GenericParameter Name="unsignedInt" Namespace="http://www.w3.org/2001/XMLSchema" />
          <GenericParameter Name="ServiceCallData" Namespace="http://schemas.datacontract.org/2004/07/Services" />
        </GenericType>
      </xs:appinfo>
    </xs:annotation>
    <xs:sequence>
      <xs:element name="m_Item1" type="xs:unsignedInt" />
      <xs:element xmlns:q10="http://schemas.datacontract.org/2004/07/Services" name="m_Item2" nillable="true" type="q10:ServiceCallData" />
    </xs:sequence>
  </xs:complexType>
  <xs:element name="TupleOfunsignedIntServiceCallDatayG81JSvh" nillable="true" type="tns:TupleOfunsignedIntServiceCallDatayG81JSvh" />
</xs:schema>