CSharp/SchedulingClients/Service References/AgentStatecastserviceReference/agentStatecast4.xsd

<?xml version="1.0" encoding="utf-8"?>
<xs:schema xmlns:tns="http://schemas.datacontract.org/2004/07/Kingpin" elementFormDefault="qualified" targetNamespace="http://schemas.datacontract.org/2004/07/Kingpin" xmlns:xs="http://www.w3.org/2001/XMLSchema">
  <xs:complexType name="CastType">
    <xs:sequence>
      <xs:element minOccurs="0" name="Code" type="xs:unsignedByte" />
      <xs:element minOccurs="0" name="Label" nillable="true" type="xs:string" />
      <xs:element minOccurs="0" name="NumBytes" type="xs:int" />
      <xs:element minOccurs="0" name="Variables" nillable="true" type="tns:ArrayOfVariable" />
    </xs:sequence>
  </xs:complexType>
  <xs:element name="CastType" nillable="true" type="tns:CastType" />
  <xs:complexType name="ArrayOfVariable">
    <xs:sequence>
      <xs:element minOccurs="0" maxOccurs="unbounded" name="Variable" nillable="true" type="tns:Variable" />
    </xs:sequence>
  </xs:complexType>
  <xs:element name="ArrayOfVariable" nillable="true" type="tns:ArrayOfVariable" />
  <xs:complexType name="Variable">
    <xs:sequence>
      <xs:element minOccurs="0" name="Alias" nillable="true" type="xs:string" />
      <xs:element minOccurs="0" name="ByteIndex" type="xs:int" />
      <xs:element minOccurs="0" name="DataType" nillable="true" type="xs:string" />
    </xs:sequence>
  </xs:complexType>
  <xs:element name="Variable" nillable="true" type="tns:Variable" />
</xs:schema>