CSharp/SchedulingClients/Service References/AgentStatecastserviceReference/agentStatecast1.xsd

<?xml version="1.0" encoding="utf-8"?>
<xs:schema xmlns:tns="http://tempuri.org/" elementFormDefault="qualified" targetNamespace="http://tempuri.org/" xmlns:xs="http://www.w3.org/2001/XMLSchema">
  <xs:import schemaLocation="http://127.0.0.1:41916/agentStatecast.svc?xsd=xsd2" namespace="http://schemas.datacontract.org/2004/07/System" />
  <xs:element name="VersionMajor">
    <xs:complexType>
      <xs:sequence />
    </xs:complexType>
  </xs:element>
  <xs:element name="VersionMajorResponse">
    <xs:complexType>
      <xs:sequence>
        <xs:element minOccurs="0" name="VersionMajorResult" type="xs:int" />
      </xs:sequence>
    </xs:complexType>
  </xs:element>
  <xs:element name="VersionMinor">
    <xs:complexType>
      <xs:sequence />
    </xs:complexType>
  </xs:element>
  <xs:element name="VersionMinorResponse">
    <xs:complexType>
      <xs:sequence>
        <xs:element minOccurs="0" name="VersionMinorResult" type="xs:int" />
      </xs:sequence>
    </xs:complexType>
  </xs:element>
  <xs:element name="VersionPatch">
    <xs:complexType>
      <xs:sequence />
    </xs:complexType>
  </xs:element>
  <xs:element name="VersionPatchResponse">
    <xs:complexType>
      <xs:sequence>
        <xs:element minOccurs="0" name="VersionPatchResult" type="xs:int" />
      </xs:sequence>
    </xs:complexType>
  </xs:element>
  <xs:element name="GetEnumStatecastValue">
    <xs:complexType>
      <xs:sequence>
        <xs:element minOccurs="0" name="agentId" type="xs:int" />
        <xs:element minOccurs="0" name="alias" nillable="true" type="xs:string" />
      </xs:sequence>
    </xs:complexType>
  </xs:element>
  <xs:element name="GetEnumStatecastValueResponse">
    <xs:complexType>
      <xs:sequence>
        <xs:element xmlns:q1="http://schemas.datacontract.org/2004/07/System" minOccurs="0" name="GetEnumStatecastValueResult" nillable="true" type="q1:TupleOfunsignedByteServiceCallDatayG81JSvh" />
      </xs:sequence>
    </xs:complexType>
  </xs:element>
  <xs:element name="GetFloatStatecastValue">
    <xs:complexType>
      <xs:sequence>
        <xs:element minOccurs="0" name="agentId" type="xs:int" />
        <xs:element minOccurs="0" name="alias" nillable="true" type="xs:string" />
      </xs:sequence>
    </xs:complexType>
  </xs:element>
  <xs:element name="GetFloatStatecastValueResponse">
    <xs:complexType>
      <xs:sequence>
        <xs:element xmlns:q2="http://schemas.datacontract.org/2004/07/System" minOccurs="0" name="GetFloatStatecastValueResult" nillable="true" type="q2:TupleOffloatServiceCallDatayG81JSvh" />
      </xs:sequence>
    </xs:complexType>
  </xs:element>
  <xs:element name="GetIPAddressStatecastValue">
    <xs:complexType>
      <xs:sequence>
        <xs:element minOccurs="0" name="agentId" type="xs:int" />
        <xs:element minOccurs="0" name="alias" nillable="true" type="xs:string" />
      </xs:sequence>
    </xs:complexType>
  </xs:element>
  <xs:element name="GetIPAddressStatecastValueResponse">
    <xs:complexType>
      <xs:sequence>
        <xs:element xmlns:q3="http://schemas.datacontract.org/2004/07/System" minOccurs="0" name="GetIPAddressStatecastValueResult" nillable="true" type="q3:TupleOfIPAddressServiceCallDataTT52EBte" />
      </xs:sequence>
    </xs:complexType>
  </xs:element>
  <xs:element name="GetShortStatecastValue">
    <xs:complexType>
      <xs:sequence>
        <xs:element minOccurs="0" name="agentId" type="xs:int" />
        <xs:element minOccurs="0" name="alias" nillable="true" type="xs:string" />
      </xs:sequence>
    </xs:complexType>
  </xs:element>
  <xs:element name="GetShortStatecastValueResponse">
    <xs:complexType>
      <xs:sequence>
        <xs:element xmlns:q4="http://schemas.datacontract.org/2004/07/System" minOccurs="0" name="GetShortStatecastValueResult" nillable="true" type="q4:TupleOfshortServiceCallDatayG81JSvh" />
      </xs:sequence>
    </xs:complexType>
  </xs:element>
  <xs:element name="GetStatecastDescription">
    <xs:complexType>
      <xs:sequence>
        <xs:element minOccurs="0" name="agentId" type="xs:int" />
      </xs:sequence>
    </xs:complexType>
  </xs:element>
  <xs:element name="GetStatecastDescriptionResponse">
    <xs:complexType>
      <xs:sequence>
        <xs:element xmlns:q5="http://schemas.datacontract.org/2004/07/System" minOccurs="0" name="GetStatecastDescriptionResult" nillable="true" type="q5:TupleOfCastTypeServiceCallDataBCm4Adu_P" />
      </xs:sequence>
    </xs:complexType>
  </xs:element>
  <xs:element name="GetUShortStatecastValue">
    <xs:complexType>
      <xs:sequence>
        <xs:element minOccurs="0" name="agentId" type="xs:int" />
        <xs:element minOccurs="0" name="alias" nillable="true" type="xs:string" />
      </xs:sequence>
    </xs:complexType>
  </xs:element>
  <xs:element name="GetUShortStatecastValueResponse">
    <xs:complexType>
      <xs:sequence>
        <xs:element xmlns:q6="http://schemas.datacontract.org/2004/07/System" minOccurs="0" name="GetUShortStatecastValueResult" nillable="true" type="q6:TupleOfunsignedShortServiceCallDatayG81JSvh" />
      </xs:sequence>
    </xs:complexType>
  </xs:element>
</xs:schema>